@each $gap, $gapValue in $spacers {
  .gap-#{$gap} {
    gap: #{$gapValue};
  }
}

@each $color, $colorValue in $radix {
  .bg-#{$color} {
    background: #{$colorValue};
  }
  .text-#{$color} {
    color: #{$colorValue};
  }
}

@each $color, $colorValue in $theme-semantics {
  .bg-#{$color} {
    background: #{$colorValue};
  }
  .text-#{$color} {
    color: #{$colorValue};
  }
}
@each $color, $colorValue in $alpha {
  .bg-#{$color} {
    background: #{$colorValue};
  }
}
@each $color, $colorValue in $brand-bases {
  .bg-#{$color} {
    background: #{$colorValue};
  }
}
@each $color, $colorValue in $inks {
  .ink-#{$color} {
    color: #{$colorValue};
  }
}
@each $color, $colorValue in $bases {
  .base-#{$color} {
    background: #{$colorValue};
  }
}

.theme-tag {
  position: relative;
  &::before {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 30px;
    display: block;
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translate(0, -50%);
    background: #fff;
  }
  &--info {
    &::before {
      content: $info-radix;
    }
  }
  &--success {
    &::before {
      content: $success-radix;
    }
  }
  &--warning {
    &::before {
      content: $warning-radix;
    }
  }
  &--danger {
    &::before {
      content: $danger-radix;
    }
  }
}
