$h-nav: 3.5rem;
$h-tabs: 3.5rem;
.h-screen {
  height: 100vh;
}
.h-nav {
  height: $h-nav;
}
.h-content {
  height: calc(100vh - var(--navBar));
}
.h-content-tabs {
  height: 100%;
  height: calc(100vh - var(--navBar) - var(--navTab));
}

.min-side-w {
  min-width: 340px;
}
.min-w-50 {
  min-width: 50%;
}
.w-33 {
  width: 33.3333%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}

