$h-nav: 4rem;
$h-tabs: 3.5rem;
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}
.w-color {
  width: calc(100% / 12);
}

.h-nav {
  height: $h-nav;
}
.h-content {
  height: calc(100vh - var(--navBar));
}
.h-content-tabs {
  height: 100%;
  height: calc(100vh - var(--navBar) - var(--navTab));
}
.max-h {
  max-height: 100%;
}

.min-side-internal-w {
  min-width: 30rem;
}
.min-side-w {
  min-width: 340px;
}
.min-w-20rem {
  min-width: 20rem;
}
.min-w-50 {
  min-width: 50%;
}
.w-33 {
  width: 33.3333%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.max-w-50 {
  max-width: 50%;
}
.h-30rem {
  height: 30rem;
}

.tabs-height {
  $h-tabs: 3.5rem;
}

.icon-square {
  display: block;
  width: 2rem;
  height: auto;
  aspect-ratio: 1 /1;
}

.itemLists_details {
  .window {
    // bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    // max-width: 95vw;
    // min-height: calc(100% - var(--navTab) - var(--navBar));
    // min-height: 100vh;
    height: calc(100% - 3rem);
    width: calc(100% - 3rem);

  }
  // .screen {
  //   position: relative;
  //   inset: 0;
  // }
}

.window {
  // main {
  //   width: 100%;

  // }
  side {
    min-width: 25rem;
  }
}

.mainWithSide {
  width: calc(100% - 25rem) !important;
}

.tabs {
  // * {
  //   outline: 1px solid red;
  // }
  // section {
  //   overflow-y: scroll;
  // }
}

.windowModalTabContent {
  height: calc(100vh - var(--windowToolbarHeight-height) - var(--windowModalTab-height) - 3rem);
}