.timeline {
  &-string {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  &-item {
    min-width: 11rem;
    display: inline-block;
    position: relative;
    border: none;
    background: transparent;
    &:last-child {
      .timeline-line {
        &::after {
          display: none;
        }
      }
    }
    &:first-child {
      .timeline-line {
        &::before {
          display: none;
        }
      }
    }
  }
  &-info-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--theme-fg);
  }
  &-bubble-icon {
    color: var(--theme-fg);
  }
  &-line {
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 50%;
      width: 50%;
      z-index: 1;
    }
    &::before {
      background: var(--theme);
      left: 0;
    }
    &::after {
      background: var(--theme);
      right: 0;
    }
  }
  &-icon {
    border-radius: 4px;
    position: relative;
    background: var(--theme-bg);
    border: var(--border) solid var(--theme);
    .arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      display: block;
      top: 100%;
      left: 50%;
      transform: translate(-50%, calc(var(--border) / 2)) translateZ(0);
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: var(--theme-bg);
        transform: rotate(-45deg);
        transform-origin: center;
        border-width: 0 0 var(--border) var(--border);
        border-color: var(--theme);
        border-style: solid;
        top: -50%;
        border-radius: 0 0 0 3px;
      }
    }
  }
}

.timeline {
  --border: 2px;
  --theme: #{$gray-200};
  --theme-fg: #{$gray-600};
  --theme-bg: #{$white};
  // * {
  //   outline: 1px solid red;
  // }
  &-item {
    border-radius: 8px;
    &.active {
      // border: 1px solid var(--theme-bg);
      background: var(--theme-fg);
    }
  }
  &__success {
    --theme-fg: #{$success-9};
    --theme: #{$success-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$success-3};
      --theme: #{$success-8};
      --theme-bg: #{$success-8};
    }
  }
  &__info {
    --theme-fg: #{$info-9};
    --theme: #{$info-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$info-3};
      --theme: #{$info-8};
      --theme-bg: #{$info-8};
    }
  }
  &__warning {
    --theme-fg: #{$warning-9};
    --theme: #{$warning-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$warning-3};
      --theme: #{$warning-8};
      --theme-bg: #{$warning-8};
    }
  }
  &__danger {
    --theme-fg: #{$danger-9};
    --theme: #{$danger-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$danger-3};
      --theme: #{$danger-8};
      --theme-bg: #{$danger-8};
    }
  }
}

.timeline {
  &__danger {
    &:hover {
      --theme-fg: #{$danger-3};
      --theme: #{$danger-8};
      --theme-bg: #{$danger-8};
      background: var(--theme-fg);
    }
  }
  &__warning {
    &:hover {
      --theme-fg: #{$warning-3};
      --theme: #{$warning-8};
      --theme-bg: #{$warning-8};
      background: var(--theme-fg);
    }
  }
  &__danger,
  &__warning {
    &:hover {
      .timeline-info-icon {
        color: var(--theme-bg);
      }
    }
  }
  .active {
    .timeline-info-icon {
      color: var(--theme-bg);
    }
  }
}
