@import "util_vars";
@import "mixins";
@import "overflow";
@import "gap";
@import "sizes";
@import "cursors";
@import "custom-scroll";
@import "main-navbar";
@import "work";
@import "pie";
@import "index";
@import "scroll-component";
@import "debug";
@import "app-mee";
@import "steps";
@import "timeline";
@import "timeline-v1";

// .modal-autoheight .modal-body {
//   outline: 10px solid purple;
//   position: relative;
//   overflow-y: auto;
//   min-height: 100px !important;
//   max-height: 600px !important;
// }


#THEAD thead {
  position: sticky;
  top: 0;
  z-index: 2;

}

#TH th {
  position: sticky;
  top: 0;
  z-index: 2;
}



.clear {
  outline: 1px solid white;
}