// body {
//   * {
//     outline: 1px solid red;
//   }
// }

.hidden-bg {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    background: $brand;
    inset: 0;
    z-index: -1;
  }
}

.rounded-top-left {
  border-radius: 5px 0 0 0;
}

.btn-alpha-10 {
  background: $alpha-ink-10;
  color: $primary-ink;
  &:hover {
    color: $primary-ink;
    background: $alpha-ink-20;
  }
}
.btn-alpha-20 {
  background: $alpha-ink-20;
  color: $primary-ink;
  &:hover {
    color: $primary-ink;
    background: $alpha-ink-30;
  }
}
.z-index-2 {
  z-index: 2;
}

.ink-primary {
  color: contrast-color($primary, white, black);
}
.ink-brand {
  color: contrast-color($brand, white, black);
}
.border-ink-primary {
  border: 1px solid contrast-color($primary, white, black);
}
.border-ink-brand {
  border: 1px solid contrast-color($brand, white, black);
}

.btn-outline-primary.btn-tabs {
  padding: #{map-get($spacers, "08")} #{map-get($spacers, "08")};
  border-color: $gray-300;
  color: contrast-color($primary, black, white);
  &:hover {
    color: contrast-color($primary, white, black);
  }
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.card-hover {
  &:hover {
    box-shadow: $box-shadow;
    // border-color: $primary;
    cursor: pointer;
  }
  &-soft-primary {
    &:hover {
      border-color: theme-color("soft-primary");
    }
  }
  &-soft-secondary {
    &:hover {
      border-color: theme-color("soft-secondary");
    }
  }
  &-soft-info {
    &:hover {
      border-color: theme-color("soft-info");
    }
  }
  &-soft-success {
    &:hover {
      border-color: theme-color("soft-success");
    }
  }
  &-soft-danger {
    &:hover {
      border-color: theme-color("soft-danger");
    }
  }
}

.card-main {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 1px;
    display: block;
    width: 100%;
    min-height: 1px;
    left: 0;
  }
  &-soft-primary {
    border-top: 4px solid theme-color("soft-primary");
  }
  &-soft-secondary {
    border-top: 4px solid theme-color("soft-secondary");
  }
  &-soft-info {
    border-top: 4px solid theme-color("soft-info");
  }
  &-soft-success {
    border-top: 4px solid theme-color("soft-success");
  }
  &-soft-warning {
    border-top: 4px solid theme-color("soft-warning");
  }
  &-soft-danger {
    border-top: 4px solid theme-color("soft-danger");
  }
  &-primary {
    border-top: 4px solid theme-color("primary");
  }
  &-secondary {
    border-top: 4px solid theme-color("secondary");
  }
  &-info {
    border-top: 4px solid theme-color("info");
  }
  &-success {
    border-top: 4px solid theme-color("success");
  }
  &-warning {
    border-top: 4px solid theme-color("warning");
  }
  &-danger {
    border-top: 4px solid theme-color("danger");
  }
}

.badge-with-icon {
  font-weight: normal;
}

.vertical-gradient {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
}

.itemLists {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.shadow-top {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}
