// body {
//   * {
//     outline: 1px solid red;
//   }
// }

.hidden-bg {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    background: $brand;
    inset: 0;
    z-index: -1;
  }
}

.rounded-top-left {
  border-radius: 5px 0 0 0;
}

.btn-alpha-10 {
  background: $alpha-ink-10;
  color: $primary-ink;
  &:hover {
    color: $primary-ink;
    background: $alpha-ink-20;
  }
}
.btn-alpha-20 {
  background: $alpha-ink-20;
  color: $primary-ink;
  &:hover {
    color: $primary-ink;
    background: $alpha-ink-30;
  }
}
.z-index-2 {
  z-index: 2;
}

.ink-primary {
  color: contrast-color($primary, white, black);
}
.ink-brand {
  color: contrast-color($brand, white, black);
}
.border-ink-primary {
  border: 1px solid contrast-color($primary, white, black);
}
.border-ink-brand {
  border: 1px solid contrast-color($brand, white, black);
}

.btn-outline-primary.btn-tabs {
  padding: #{map-get($spacers, "08")} #{map-get($spacers, "08")};
  border-color: $gray-300;
  color: contrast-color($primary, black, white);
  &:hover {
    color: contrast-color($primary, white, black);
  }
}

.overflow-y-scroll {
  overflow-y: scroll;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

.card-hover {
  &:hover {
    box-shadow: $box-shadow;
    // border-color: $primary;
    cursor: pointer;
  }
  &-soft-primary {
    &:hover {
      border-color: theme-color("soft-primary");
    }
  }
  &-soft-secondary {
    &:hover {
      border-color: theme-color("soft-secondary");
    }
  }
  &-soft-info {
    &:hover {
      border-color: theme-color("soft-info");
    }
  }
  &-soft-success {
    &:hover {
      border-color: theme-color("soft-success");
    }
  }
  &-soft-danger {
    &:hover {
      border-color: theme-color("soft-danger");
    }
  }
}

.card-main {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 1px;
    display: block;
    width: 100%;
    min-height: 1px;
    left: 0;
  }
  &-soft-primary {
    border-top: 4px solid theme-color("soft-primary");
  }
  &-soft-secondary {
    border-top: 4px solid theme-color("soft-secondary");
  }
  &-soft-info {
    border-top: 4px solid theme-color("soft-info");
  }
  &-soft-success {
    border-top: 4px solid theme-color("soft-success");
  }
  &-soft-warning {
    border-top: 4px solid theme-color("soft-warning");
  }
  &-soft-danger {
    border-top: 4px solid theme-color("soft-danger");
  }
  &-primary {
    border-top: 4px solid theme-color("primary");
  }
  &-secondary {
    border-top: 4px solid theme-color("secondary");
  }
  &-info {
    border-top: 4px solid theme-color("info");
  }
  &-success {
    border-top: 4px solid theme-color("success");
  }
  &-warning {
    border-top: 4px solid theme-color("warning");
  }
  &-danger {
    border-top: 4px solid theme-color("danger");
  }
}

.badge-with-icon {
  font-weight: normal;
}

.vertical-gradient {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
}

.itemLists {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.shadow-top {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.timeline {
  &-string {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  &-item {
    min-width: 10rem;
    display: inline-block;
    position: relative;
    border: none;
    background: transparent;
  }
  &-info-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--theme-fg);
  }
  &-bubble-icon {
    color: var(--theme-fg);
  }
  &-line {
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 50%;
      z-index: 1;
    }
    &::before {
      background: var(--theme);
      left: 0;
    }
    &::after {
      background: var(--theme);
      right: 0;
    }
  }
  &-icon {
    border-radius: 4px;
    position: relative;
    background: var(--theme-bg);
    border: var(--border) solid var(--theme);
    .arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      display: block;
      top: 100%;
      left: 50%;
      transform: translate(-50%, calc(var(--border) / 2)) translateZ(0);
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: var(--theme-bg);
        transform: rotate(-45deg);
        transform-origin: center;
        border-width: 0 0 var(--border) var(--border);
        border-color: var(--theme);
        border-style: solid;
        top: -50%;
        border-radius: 0 0 0 3px;
      }
    }
  }
}

.timeline {
  --border: 2px;
  --theme: #{$gray-200};
  --theme-fg: #{$gray-600};
  --theme-bg: #{$white};
  // * {
  //   outline: 1px solid red;
  // }
  &-item {
    border-radius: 8px;
    &.active {
      // border: 1px solid var(--theme-bg);
      background: var(--theme-fg);
    }
  }
  &__success {
    --theme-fg: #{$success-9};
    --theme: #{$success-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$success-3};
      --theme: #{$success-8};
      --theme-bg: #{$success-8};
    }
  }
  &__info {
    --theme-fg: #{$info-9};
    --theme: #{$info-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$info-3};
      --theme: #{$info-8};
      --theme-bg: #{$info-8};
    }
  }
  &__warning {
    --theme-fg: #{$warning-9};
    --theme: #{$warning-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$warning-3};
      --theme: #{$warning-8};
      --theme-bg: #{$warning-8};
    }
  }
  &__danger {
    --theme-fg: #{$danger-9};
    --theme: #{$danger-4};
    --theme-bg: #{$white};
    &.active {
      --theme-fg: #{$danger-3};
      --theme: #{$danger-8};
      --theme-bg: #{$danger-8};
    }
  }
}

.timeline {
  &__danger {
    &:hover {
      --theme-fg: #{$danger-3};
      --theme: #{$danger-8};
      --theme-bg: #{$danger-8};
      background: var(--theme-fg);
    }
  }
  &__warning {
    &:hover {
      --theme-fg: #{$warning-3};
      --theme: #{$warning-8};
      --theme-bg: #{$warning-8};
      background: var(--theme-fg);
    }
  }
  &__danger,
  &__warning {
    &:hover {
      .timeline-info-icon {
        color: var(--theme-bg);
      }
    }
  }
  .active {
    .timeline-info-icon {
      color: var(--theme-bg);
    }
  }
}
