// wdx
$primary: #4b8d8b;
$secondary: #9ed8d0;
$tertiary: #fad8d9;
$highlight: #335669;
$success: #4b8d8b;
$info: #6c757d;
$warning: #ebcb9a;
$danger: #f15e5f;

// RC
// $primary: #001e41;
// $secondary: #69709a;
// $tertiary: #fad8d9;
// $highlight: #375384;
// $success: #4b8d8b;
// $info: #6c757d;
// $warning: #ebcb9a;
// $danger: #f15e5f;

// Q
// $primary: #003643;
// $secondary: #01a1dd;
// $tertiary: #0f424e;
// $highlight: #01a1df;
// $success: #4b8d8b;
// $info: #6c757d;
// $warning: #ebcb9a;
// $danger: #f15e5f;
// $secondary: #6c757d;

// $primary: #001e41;
// $secondary: #69709a;
// $tertiary: #fad8d9;
// $highlight: #375384;
// $success: #4b8d8b;
// $info: #6c757d;
// $warning: #ebcb9a;
// $danger: #f15e5f;

// unify colors
// inspired from https://www.radix-ui.com/docs/colors/palette-composition/the-scales
$secondary: #8f8f8f;
$success: #30a46c;
$info: #68ddfd;
$warning: #f5d90a;
$danger: #e54d2e;
$neutral: red;
