{{ $errorVisible := true }}
{{ if isset .config "display" }}
  {{ if eq .config.display "col" }}
    <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex flex-col xl:flex-row">
      <label for="{{ .label | urlize }}" class=" form-label mb-0 flex w-full flex-col py-2">
        <span
          class="{{ if .max }}
            min-h-14 pt-8
          {{ else }}
            min-h-10 pt-2
          {{ end }} w-full"
        >
          {{ .label }}
        </span>
        <div class=" w-full">
          <input type="{{ .type }}" class="form-input mt-1 block text-white dark:bg-slate-800" />
          {{ if isset . "help" }}
            <div id="emailHelp" class="mt-1 w-full text-sm">{{ .help }}</div>
          {{ end }}
          {{ if and $errorVisible ( isset . "error" ) }}
            <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
              {{ .error }}
            </div>
          {{ end }}
        </div>
      </label>
    </div>
  {{ end }}
{{ else }}
  <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex flex-col xl:flex-row">
    <label for="{{ .label | urlize }}" class="form-label mb-0 flex w-full py-2">
      <span
        class="{{ if .max }}
          min-h-14 pt-8
        {{ else }}
          min-h-10 pt-2
        {{ end }} w-1/2"
      >
        {{ .label }}
      </span>
      <div class=" w-1/2 ">
        <div class="relative flex  max-w-fit border">
          <input type="{{ .type }}" class="form-input block min-w-[12rem] dark:bg-slate-800 dark:text-white" />
          <div class="absolute inset-y-0 right-8 flex items-center gap-2 pr-2">
            {{ if and (isset . "error") $errorVisible }}
              <i class="fal fa-exclamation-circle text-red-500"></i>
            {{ end }}
          </div>
        </div>

        {{ if isset . "help" }}
          <div id="emailHelp" class="mt-1 w-full text-sm text-slate-500">{{ .help }}</div>
        {{ end }}
        {{ if and $errorVisible ( isset . "error" ) }}
          <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
            {{ .error }}
          </div>
        {{ end }}
      </div>
    </label>
  </div>
{{ end }}
