{{ $errorVisible := false }}
{{ if isset .config "display" }}
  {{ if eq .config.display "col" }}
    <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex py-2">
      <label class="mb-2 block w-1/2 pt-2 dark:text-white" for="file_input">{{ .label }}</label>
      <div class="w-1/2">
        <input class="form-inut block min-h-[2rem] w-full cursor-pointer !border py-1 pl-1 focus:outline-none dark:border-slate-500 dark:bg-slate-800 dark:text-white dark:placeholder-blue-400" id="file_input" type="file" />

        {{ if isset . "help" }}
          <div id="emailHelp" class="mt-1 w-full  text-sm  text-slate-500">{{ .help }}</div>
        {{ end }}
        {{ if and (isset . "error") $errorVisible }}
          <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
            {{ .error }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}

{{ else }}
  <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }}">
    <label class="mb-2 block dark:text-white" for="file_input">{{ .label }}</label>
    <input class="form-inut block min-h-[2rem] w-full cursor-pointer !border py-1 pl-1 focus:outline-none dark:border-slate-500 dark:bg-slate-800 dark:text-white dark:placeholder-blue-400" id="file_input" type="file" />

    {{ if isset . "help" }}
      <div id="emailHelp" class="mt-1 w-full text-sm text-slate-500">{{ .help }}</div>
    {{ end }}
  </div>
{{ end }}
