{{ $errorVisible := true }}
{{ if isset .config "display" }}
  {{ if eq .config.display "col" }}
    <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex flex-col py-2 xl:flex-row ">
      <label for="{{ .label | urlize }}" class=" form-label mb-0 flex w-full flex-col">
        <div class="flex justify-between">
          <div class="flex items-baseline">
            <span>
              {{ .label }}
            </span>
          </div>
          {{ if .config.max }}
            <div class="flex items-baseline">
              <small>choose max {{ .config.max }} items</small>
            </div>
          {{ end }}
        </div>
        <div>
          <div
            class="{{ if .config.max }}
              flex flex-col
            {{ end }} {{ if .multiSelect }}w-full{{ end }}
      "
          >
            <select id="disabledSelect" class="form-select min-w-[15rem] dark:bg-slate-800" name="{{ .label | urlize }}">
              <option value="none" selected>
                {{ .placeholder }}
              </option>
              {{ range .options }}
                <option>
                  {{ . }}
                </option>
              {{ end }}
            </select>
          </div>
          <div>
            {{ if isset . "help" }}
              <div id="emailHelp" class="mt-1 w-full text-sm text-slate-500">
                {{ .help }}
              </div>
            {{ end }}
            {{ if and $errorVisible ( isset . "error" ) }}
              <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
                {{ .error }}
              </div>
            {{ end }}
          </div>
        </div>
      </label>
    </div>
  {{ end }}
{{ else }}
  <div class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex flex-col py-2 xl:flex-row">
    <label for="{{ .label | urlize }}" class=" form-label mb-0 flex w-full">
      <span
        class="{{ if .config.max }}
          min-h-14 pt-8
        {{ else }}
          min-h-10 pt-2
        {{ end }} w-1/2"
      >
        {{ .label }}
      </span>
      <div class="w-1/2">
        <div
          class="select-error {{ if .config.max }}
            flex flex-col
          {{ end }} {{ if .multiSelect }}w-full{{ end }}
    "
        >
          {{ if .config.max }}
            <small>choose max {{ .config.max }} items</small>
          {{ end }}
          <select id="disabledSelect" class="form-select {{ if .config.size }}w-{{ .config.size }}{{ end }} min-w-[15rem] dark:bg-slate-800" name="{{ .label | urlize }}">
            <option value="none" selected>
              {{ .placeholder }}
            </option>
            {{ range .options }}
              <option>
                {{ . }}
              </option>
            {{ end }}
          </select>
        </div>
        <div>
          {{ if isset . "help" }}
            <div id="emailHelp" class="mt-1 w-full text-sm text-slate-500">
              {{ .help }}
            </div>
          {{ end }}
          {{ if and $errorVisible ( isset . "error" ) }}
            <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
              {{ .error }}
            </div>
          {{ end }}
        </div>
      </div>
    </label>
  </div>
{{ end }}
