{{ $errorVisible := true }}
<label class="{{ if $errorVisible }}hasError{{ end }} type-{{ .type }} flex flex-col py-2">
  <span class="mt-2">{{ .label }}</span>
  <textarea
    placeholder="{{ .placeholder }}"
    class="
    form-textarea
      w-full
      dark:bg-slate-800
    "
    rows="{{ if isset . "rows" }}
      {{ .rows }}
    {{ else }}
      3
    {{ end }}"
  ></textarea>
  <div>
    {{ if isset . "help" }}
      <div id="emailHelp" class="mt-1 w-full text-sm text-slate-500">{{ .help }}</div>
    {{ end }}
    {{ if and $errorVisible ( isset . "error" ) }}
      <div id="emailHelp" class="mt-1 w-full text-sm text-red-600">
        {{ .error }}
      </div>
    {{ end }}
  </div>
</label>
