{{ $type := .type }}
<div class="pullOut__footer bg-light flex-grow-0 bg-white px-2 py-2">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex gap-1">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">Save</button>
        <button type="button" class="btn btn-outline-secondary">Save & Close</button>
        <button type="button" class="btn btn-outline-secondary">Save & Complete</button>
      </div>

      <!-- <button class="btn btn-outline-primary">Save & close</button> -->
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary">Save & close</button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false" data-reference="parent">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Save and complete</a>
          <a class="dropdown-item" href="#">Cancel</a>
          <a class="dropdown-item" href="#">Back to default</a>
          <a class="dropdown-item" href="#">and more ...</a>
          <!-- <div class="dropdown-divider"></div>
            <button class="dropdown-item" href="#">Separated link</button> -->
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" @click=" {{ $type }} = false">
        Save
        <i class="fa-regular fa-floppy-disk ml-2"></i>
      </button>
    </div>
  </div>
</div>
