<div class=" card container">
  <div class="d-flex align-items-center justify-content-between py-2">
    <div>
      <strong> External Relationships </strong>
    </div>
    <div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-sm btn-outline-primary">L 1</button>
        <button type="button" class="btn btn-sm btn-outline-primary">L 2</button>
      </div>
    </div>
  </div>
  <div class=" d-flex justify-content-between gap-1 py-2">
    <div class="l1 d-flex flex-column align-items-start flex-grow-1 gap-1">
      <div class="d-flex alig-items-center border-primary my-2 gap-1 rounded border p-2 px-3" id="main">
        <span>
          <i class="fa-solid fa-user"></i>
        </span>
        <strong> Lucy Jakson </strong>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l2 flex-grow-1 d-flex flex-column align-items-start gap-1">
      <div class="d-flex alig-items-center border-secondary my-2 gap-1 rounded border p-2 px-3" id="l1a">
        <span>
          <i class="fas fa-users"></i>
        </span>
        <span> Mr Mark Jackson </span>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex alig-items-center border-secondary my-2 gap-1 rounded border p-2 px-3" id="l1b">
        <span>
          <i class="fa-regular fa-user"></i>
        </span>
        <span> Dr Ryan Glover </span>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l3 flex-grow-1 d-flex flex-column align-items-start gap-1">
      <div class="d-flex alig-items-center border-secondary my-2 gap-1 rounded border p-2 px-3" id="l2a">
        <span>
          <i class="fa-regular fa-user"></i>
        </span>
        <span> Ms Jenny Jackson </span>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex alig-items-center border-secondary my-2 gap-1 rounded border p-2 px-3" id="l2b">
        <span>
          <i class="fa-regular fa-user"></i>
        </span>
        <span> Ms Jenny Jackson </span>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
              <div class="cta pt-2">
                <button class="btn btn-sm btn-primary">Create connection</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex alig-items-center border-secondary my-2 gap-1 rounded border p-2 px-3" id="l2c">
        <span>
          <i class="fa-regular fa-building"></i>
        </span>
        <span> Jenny Trust </span>
        <div class="dropdown">
          <a class="reset xdropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fal fa-info-circle text-secondary"></i>
          </a>
          <div class="dropdown-menu">
            <div class="d-flex flex-column px-3 py-2">
              <span class="text-nowrap py-1"> <strong>Code:</strong> CN121512</span>
              <span class="text-nowrap py-1"> <strong>Email:</strong> LucyJackson400@gmail.com</span>
              <span class="text-nowrap py-1"> <strong>Phone:</strong> 020 0006 7758</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var instance;
  var draws = 0;

  jsPlumb.bind("ready", function () {
    instance = jsPlumb.getInstance({
      PaintStyle: {
        lineWidth: 1,
        strokeStyle: "#767676",
        outlineColor: "#fff",
        outlineWidth: 2,
      },
      Connector: ["Flowchart", { cornerRadius: 10 }],
      Endpoint: ["Blank", { radius: 3 }],
      EndpointStyle: { fillStyle: "#333" },
    });

    $(window).resize(function () {
      instance.repaintEverything();
    });

    drawConnections();
  });

  function drawConnections() {
    draws++;
    instance.connect({
      source: "main",
      target: "l1a",
      scope: "someScope",
      paintStyle: { strokeStyle: "#d7d7d7" },
      anchor: ["Right", "Left"],
    });
    instance.connect({
      source: "main",
      target: "l1b",
      scope: "someScope",
      paintStyle: { strokeStyle: "blue" },
      anchor: ["Right", "Left"],
    });
    instance.connect({
      source: "l1b",
      target: "l2b",
      scope: "someScope",
      paintStyle: { strokeStyle: "#d7d7d7" },
      anchor: ["Right", "Left"],
    });
    instance.connect({
      source: "l1b",
      target: "l2c",
      scope: "someScope",
      paintStyle: { strokeStyle: "#d7d7d7" },
      anchor: ["Right", "Left"],
    });
    instance.connect({
      source: "l1a",
      target: "l2a",
      scope: "someScope",
      paintStyle: { strokeStyle: "#d7d7d7" },
      anchor: ["Right", "Left"],
    });
  }

  window.setInterval(function () {
    instance.repaintEverything();
  }, 20);
</script>
