<h1>Summary of Structure</h1>
<div class="accordion" id="summary">
  <div class="card">
    <div class="card-header" id="heading1">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block font-weight-bold text-left" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Contact1 . 01/08/2022 04:33</button>
      </h2>
    </div>

    <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#summary">
      <div class="card-body xxray bg-secondary-1000">
        <section class="container mb-3  mt-3">
          <div class="card pt-2">
            <dl class="reset d-flex align-items-center border-bottom">
              <dt class="reset w-50 py-2 px-3">Roles</dt>
              <dd class="reset w-50 py-2 px-3">Owned by, Owner</dd>
            </dl>
            <dl class="reset d-flex align-items-center border-bottom">
              <dt class="reset w-50 py-2 px-3">Title</dt>
              <dd class="reset w-50 py-2 px-3"></dd>
            </dl>
            <dl class="reset d-flex align-items-center border-bottom">
              <dt class="reset w-50 py-2 px-3">First Name</dt>
              <dd class="reset w-50 py-2 px-3">Contact1 Last Name . 01/08/2022 04:33</dd>
            </dl>
            <dl class="reset d-flex align-items-center mb-2">
              <dt class="reset w-50 py-2 px-3">Employment status</dt>
              <dd class="reset w-50 py-2 px-3">Full-Time Employee Assets</dd>
            </dl>
          </div>
        </section>
        <section class="">
          <section class="container">
            <h2>Assets</h2>
          </section>
          <section class="container mb-3 mt-3">
            <div class="card pt-2">
              <dl class="reset d-flex align-items-center mb-2">
                <dt class="reset w-50 py-2 px-3">Source of Wealth</dt>
                <dd class="reset w-50 py-2 px-3">Something in here</dd>
              </dl>
            </div>
          </section>

          <section class="mb-3 mt-3">
            <div class="card my-2">
              <div class="grid-template">
                <div class="close">x</div>
                <div class="th th--grid-8">
                  <div class="td py-3 px-2">
                    Name
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">Financials Type</div>
                  <div class="td py-3 px-2">
                    Suitability classification
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">Wealth classification</div>
                  <div class="td py-3 px-2">
                    Value
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">% Owned</div>
                  <div class="td py-3 px-2">% Owned Value</div>
                  <div class="td py-3 px-2">Dedicated Asset</div>
                </div>
                <div class="tr tr--grid-8">
                  <div class="td p-2">House</div>
                  <div class="td p-2">Property</div>
                  <div class="td p-2"></div>
                  <div class="td p-2">$ 10,000,000</div>
                  <div class="td p-2">100.00</div>
                  <div class="td p-2">$ 10,000,000</div>
                  <div class="td p-2">No</div>
                  <div class="td p-2"></div>
                </div>

                <div class="tr tr--grid-8 mb-2">
                  <div class="td py-1 px-2">House</div>
                  <div class="td py-1 px-2">Property</div>
                  <div class="td py-1 px-2"></div>
                  <div class="td py-1 px-2">$ 10,000,000</div>
                  <div class="td py-1 px-2">100.00</div>
                  <div class="td py-1 px-2">$ 200,000</div>
                  <div class="td py-1 px-2">No</div>
                  <div class="td py-1 px-2"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="d-flex justify-content-end">
            <h4>
              Total
              <span class="badge badge-secondary lead font-weight-normal">$ 12,000,000</span>
            </h4>
          </section>
        </section>
        <section>
          <section class="">
            <h2>Liabilities</h2>
          </section>
          <section class="mb-3 mt-3">
            <div class="card">
              <div class="grid-template">
                <div class="close">x</div>
                <div class="th th--grid-8">
                  <div class="td py-3 px-2">
                    Name
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">Financials Type</div>
                  <div class="td py-3 px-2">
                    Suitability classification
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">Wealth classification</div>
                  <div class="td py-3 px-2">
                    Value
                    <span class="text-danger"> *</span>
                  </div>
                  <div class="td py-3 px-2">% Owned</div>
                  <div class="td py-3 px-2">% Owned Value</div>
                </div>
                <div class="tr tr--grid-8">
                  <div class="td p-2">Car</div>
                  <div class="td p-2">Other</div>
                  <div class="td p-2"></div>
                  <div class="td p-2">$ 10,000,000</div>
                  <div class="td p-2">100.00</div>
                  <div class="td p-2">$ 10,000,000</div>
                  <div class="td p-2">No</div>
                </div>

                <div class="tr tr--grid-8 mb2">
                  <div class="td py-1 px-2">New liability</div>
                  <div class="td py-1 px-2">Tax bill</div>
                  <div class="td py-1 px-2"></div>
                  <div class="td py-1 px-2">$ 10,000,000</div>
                  <div class="td py-1 px-2">100.00</div>
                  <div class="td py-1 px-2">$ 200,000</div>
                  <div class="td py-1 px-2">No</div>
                </div>
              </div>
            </div>
          </section>
          <section class="d-flex justify-content-end">
            <h4>
              Total
              <span class="badge badge-secondary lead font-weight-normal">$ 80,000</span>
            </h4>
          </section>
        </section>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading2">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Contact2 . 12/07/2023 05:21</button>
      </h2>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body">Some placeholder content for the second accordion panel. This panel is hidden by default.</div>
    </div>
  </div>
</div>
