<div class="d-flex flex-column flex-md-row xalign-items-md-center xjustify-content-center timeline xpx-md-0 mt-3 py-4 px-3">
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "past" "label" "Lead - Waiting"  "icon" "circle-check-s") }}
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "present" "label" "Lead Cheking"  "icon" "circle-check-s") }}
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "future" "label" "Prospect"  "icon" "filter") }}
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "future" "label" "Confrirmed Prospect"  "icon" "filter-s") }}
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "future" "label" "Label"  "icon" "search-r") }}
  {{ partial "components/atoms/timeframe.html" (dict "accomplished" "future" "label" "Label"  "icon" "sort-alpha-down-r") }}
</div>
