<div class="border-bottom bg-white">
  <div class="d-flex w-100">
    <table class="table-striped table-hover table-sm table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <i class="fa-light fa-sort mr-2 text-white"></i>
            Name
          </th>
          <th scope="col">
            <i class="fa-light fa-sort mr-2 text-white"></i>
            Type
          </th>
          <th scope="col">
            <i class="fa-light fa-sort mr-2 text-white"></i>
            Last Contacted
          </th>
          <th scope="col">
            <i class="fa-light fa-sort mr-2 text-white"></i>
            Last FTF Meeting
          </th>
          <th scope="col">
            <i class="fa-light fa-sort mr-2 text-white"></i>
            Stage
          </th>
          <th scope="col">
            <div class="d-flex justify-content-end align-items-center w-100">
              Assets
              <i class="fa-light fa-sort ml-2 text-white"></i>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{ $contacts := getJSON "data/contacts.json" }}
        {{ range $index, $item := $contacts }}
          <tr>
            <td class="pl-2 text-center align-middle">
              <input type="checkbox" aria-label="Checkbox for following text input" />
            </td>
            <td class="align-middle">
              <a href="#" class="btn btn-sm btn-link mr-2">
                <i class="fa-solid fa-chevron-down mr-2"></i>
                <strong>
                  {{ .name }}
                </strong>
              </a>
            </td>
            <td class="align-middle">{{ .contactType }}</td>
            <td class="align-middle">{{ .lastContacted }}</td>
            <td class="align-middle">{{ .lastFTFmeeting }}</td>
            <td class="align-middle">{{ .stage }}</td>
            <td class="text-right align-middle">£ {{ .assets }}</td>
            <td class="text-right align-middle">
              <button class="btn btn-sm btn-link">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </button>
              <button class="btn btn-sm btn-link">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
