<div class="h-content-tabs bg-white">
  <div class="d-flex h-100 flex-column">
    {{ partial "filters.html" . }}
    <div class="flex-grow-1 h-100 scroll scroll--light overflow-y-scroll">
      <style>
        #THEAD thead {
          position: sticky;
          top: -1px;
          z-index: 2;
        }

        #TH th {
          position: sticky;
          top: -1px;
          z-index: 2;
        }
      </style>
      <table id="THEAD" class="table-striped table-hover table-sm table">
        <thead id="TH" class="thead-dark shadow">
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <i class="fa-light fa-sort mr-2 text-white"></i>
              Name
            </th>
            <th scope="col">
              <i class="fa-light fa-sort mr-2 text-white"></i>
              Type
            </th>
            <th scope="col">
              <i class="fa-light fa-sort mr-2 text-white"></i>
              Last Contacted
            </th>
            <th scope="col">
              <i class="fa-light fa-sort mr-2 text-white"></i>
              Last FTF Meeting
            </th>
            <th scope="col">
              <i class="fa-light fa-sort mr-2 text-white"></i>
              Stage
            </th>
            <th scope="col">
              <div class="d-flex justify-content-end align-items-center w-100">
                Assets
                <i class="fa-light fa-sort ml-2 text-white"></i>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{ $contacts := getJSON "data/contacts.json" }}
          {{ range $index, $item := $contacts }}
            <tr>
              <td class="pl-2 text-center align-middle">
                <input type="checkbox" aria-label="Checkbox for following text input" />
              </td>
              <td class="align-middle" x-data="{show: false, minimized: false}">
                <a href="#" class="btn btn-sm btn-link mr-2" x-on:click="show=true">
                  <i class="fa-regular fa-circle-info mr-2"></i>
                  {{/* <i class="fa-solid fa-chevron-down"></i> */}}
                  <strong>
                    {{ .name }}
                  </strong>
                </a>
                <template x-teleport="#itemLists">
                  <template x-if="show">
                    <div class="d-flex">
                      <div class="d-flex flex-column card-main card-main-soft-primary  m-2 rounded px-3 pt-1 shadow" x-bind:class="{ 'pb-3 bg-white': !minimized, 'pb-1 bg-primary': minimized }">
                        <div class="d-flex justify-content-between align-items-center w-100">
                          <button class="d-flex align-items-center flex-nowrap border-0 bg-transparent px-1 py-2" x-bind:class="{ 'text-primary': !minimized, 'text-white': minimized }">
                            <i class="fa-solid fa-arrow-up-right-from-square mr-2"></i>
                            <strong class="text-nowrap pr-2">
                              {{ .name }}
                            </strong>
                          </button>
                          <div class="d-flex">
                            <button class="border-0 bg-transparent py-2" x-bind:class="{ 'text-primary': !minimized, 'text-white': minimized }" x-on:click="minimized=!minimized">
                              <i x-show="!minimized" class="fa-solid fa-down-left-and-up-right-to-center"></i>
                              <i x-show="minimized" class="fa-solid fa-arrow-up-right-and-arrow-down-left-from-center"></i>
                            </button>
                            <button class="border-0 bg-transparent py-2" x-bind:class="{ 'text-primary': !minimized, 'text-white': minimized }" x-on:click="show=false">
                              <i class="fa-solid fa-xmark"></i>
                            </button>
                          </div>
                        </div>
                        <div x-show="!minimized">
                          <div class="d-flex flex-column mt-1 gap-1">
                            <div class="card min-w-20rem p-3">
                              <dl class="d-flex mb-0 gap-1">
                                <dt class="w-50">Name</dt>
                                <dd class="w-50 mb-0">{{ .name }}</dd>
                              </dl>
                              <dl class="d-flex mb-0 gap-1">
                                <dt class="w-50">Contact Type</dt>
                                <dd class="w-50 mb-0">{{ .contactType }}</dd>
                              </dl>
                            </div>
                            <div class="card min-w-20rem p-3">
                              <dl class="d-flex mb-0 gap-1">
                                <dt class="w-50">Last FTF meeting</dt>
                                <dd class="w-50 mb-0">{{ .lastFTFmeeting }}</dd>
                              </dl>
                              <dl class="d-flex mb-0 gap-1">
                                <dt class="w-50">Stage</dt>
                                <dd class="w-50 mb-0">{{ .stage }}</dd>
                              </dl>
                              <dl class="d-flex mb-0 gap-1">
                                <dt class="w-50">Assets</dt>
                                <dd class="w-50 mb-0">{{ .assets }}</dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </template>
                </template>
              </td>
              <td class="align-middle">{{ .contactType }}</td>
              <td class="align-middle">{{ .lastContacted }}</td>
              <td class="align-middle">{{ .lastFTFmeeting }}</td>
              <td class="align-middle">{{ .stage }}</td>
              <td class="text-right align-middle">£ {{ .assets }}</td>
              <td class="text-right align-middle">
                <button class="btn btn-sm btn-link">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </button>
                <button class="btn btn-sm btn-link">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <div class="shadow-top p-2">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">
                <i class="fa-solid fa-chevron-left"></i>
              </span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#" aria-current="page">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">
                <i class="fa-solid fa-chevron-right"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
