{{ $data := getJSON "data/kyc.json" }}
<div class="bg-white">
  <div class="d-flex">
    <side class="min-side-w h-content-tabs scroll scroll--light border-right overflow-y-scroll">
      <div class="p-2">
        {{ range $index, $item := $data.kyc.menu }}
          <div class="z-8">
            <div class="{{ if $index }}pt-3{{ end }}">
              <div class="d-flex justify-content-between py-2">
                <a class="h6 mb-0" href="#">{{ .name }}</a>
                <strong>{{ .type }}</strong>
              </div>
            </div>
            <div class="d-flex flex-column gap-1 pt-2">
              {{ range $index, $item := .links }}
                {{ $dev := 0 }}
                {{ if $dev }}
                  <div class="fa-fingerprint fa-user-police"></div>
                {{ end }}
                <button
                  class="d-flex {{ if eq .state "active" }}active{{ end }}
                align-items-center btn btn-tabs btn-outline-primary justify-content-between w-80"
                >
                  {{ $state := .state }}
                  <div>
                    <i class="fa-regular fa-{{ .icon }} mr-2"></i>
                    <strong> {{ .name }} </strong>
                  </div>
                  {{ if eq $state "active" }}
                    {{ if eq .status "Submited" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-info px-3 py-2">
                        <i class="fa-light fa-inbox-out"></i>
                        <span> Submited </span>
                      </span>
                    {{ else if eq .status "Validated" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-success px-3 py-2">Validated</span>
                    {{ else if eq .status "Incompleted" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-danger px-3 py-2">Incompleted</span>
                    {{ else if eq .status "Warning" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-warning px-3 py-2">Incompleted</span>
                    {{ end }}
                  {{ else }}
                    {{ if eq .status "Submited" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-soft-info px-3 py-2">
                        <i class="fa-regular fa-inbox-out mr-1"></i>
                        <span> Submited </span>
                      </span>
                    {{ else if eq .status "Validated" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-soft-success px-3 py-2">Validated</span>
                    {{ else if eq .status "Incompleted" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-soft-danger px-3 py-2">Incompleted</span>
                    {{ else if eq .status "Warning" }}
                      <span class="badge border-ink-primary badge-with-icon badge-pill badge-soft-warning px-3 py-2">Warning</span>
                    {{ end }}
                  {{ end }}
                </button>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </side>
    <div class="flex-grow-1 h-content-tabs scroll scroll--light overflow-y-scroll">
      <div>
        <div class="d-flex justify-content-between align-items-center px-2 pb-2 pt-3">
          <h6 class="mb-0">KYC Information</h6>
          <div class="d-flex justify-content-between align-items-cente gap-2">
            <a href="#">
              <i class="fa-solid fa-rotate"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
        <div class="d-flex mb-3 w-80 gap-2 px-2">
          {{ partial "manager/kyc-cards.html" }}
        </div>
      </div>

      <div class="px-2">
        <div class="flex-grow-1 card card-main card-main-soft-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="d-flex align-items-cente mb-0">
              <i class="fa-solid fa-bolt text-info mr-2"></i>
              <span> Create Appointment </span>
            </h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div class="d-flex mt-2 gap-2 py-2">
            <form class="container px-2">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="yourEmail@yourDomain.com" />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="yourEmail@yourDomain.com" />
                </div>
              </div>
              <fieldset class="form-group row">
                <legend class="col-form-label col-sm-4 float-sm-left pt-0">Radios</legend>
                <div class="col-sm-8">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked />
                    <label class="form-check-label" for="gridRadios1"> First radio </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" />
                    <label class="form-check-label" for="gridRadios2"> Second radio </label>
                  </div>
                  <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled />
                    <label class="form-check-label" for="gridRadios3"> Third disabled radio </label>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm" />
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label" />
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-lg">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-8 offset-sm-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" />
                    <label class="form-check-label" for="gridCheck1"> Example checkbox </label>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-sm-8">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
