<div class="bg-white">
  <div class="d-flex">
    <side class="h-content-tabs scroll scroll--light border-right min-side-internal-w overflow-y-scroll">
      <div class="pb-2 ">
        <div class="d-flex justify-content-between align-items-center px-2 pt-3">
          <h6 class="d-flex align-items-cente mb-0">
            <i class="fa-solid fa-bolt text-info mr-2"></i>
            <span> Key Dates </span>
          </h6>
          <div class="d-flex justify-content-between align-items-cente gap-2">
            <a href="#">
              <i class="fa-solid fa-rotate"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
        <div class="d-flex mt-2 gap-2 px-2 py-2">
          <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
            <p class="mb-0">Last Communication</p>
            <h6 class="text-info-11">23/05/1976</h6>
          </div>
          <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
            <p class="mb-0">Last Meeting</p>
            <h6 class="text-info-11">23/05/1976</h6>
          </div>
          <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
            <p class="mb-0">Next Meeting</p>
            <h6 class="text-info-11">23/05/1976</h6>
          </div>
        </div>
      </div>
      <hr class="m-0" />
      <div class="d-flex justify-content-between align-items-center xpt-3 px-2 py-2">
        <h6 class="d-flex align-items-cente mb-0 ">
          <i class="fa-regular fa-calendar text-info mr-2"></i>
          <span> Upcoming Activities </span>
        </h6>
        <div class="d-flex justify-content-between align-items-cente gap-2">
          <a href="#">
            <i class="fa-solid fa-rotate"></i>
          </a>
          <a href="#">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="sticky-top vertical-gradient w-100 p-2">
        <div class="d-flex w-100 xborder-bottom xborder-top overflow-hidden rounded border bg-white">
          <button class="btn d-flex flex-grow-1 flex-column justify-content-center align-items-center rounded-0 btn-primary">
            <span> My pendings </span>
            <span class="badge badge-pill badge-soft-info mt-2">+99</span>
          </button>
          <button class="btn d-flex border-right flex-grow-1 flex-column justify-content-center align-items-center rounded-0 btn-link font-weight-normal">
            <span> All pendings </span>
            <span class="badge badge-pill badge-soft-info mt-2">+99</span>
          </button>
          <button class="btn d-flex border-right flex-grow-1 flex-column justify-content-center align-items-center rounded-0 btn-link font-weight-normal">
            <span> Upcoming </span>
            <span class="badge badge-pill badge-soft-info mt-2">+99</span>
          </button>
          <button class="btn d-flex flex-grow-1 flex-column justify-content-center align-items-center rounded-0 btn-link font-weight-normal">
            <span> Overdue </span>
            <span class="badge badge-pill badge-soft-info mt-2">+99</span>
          </button>
        </div>
      </div>
      <div class="px-2">
        <ul class="list-unstyled d-flex flex-column gap-2">
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="card xbg-soft-info d-flex flex-row p-2">
              <div class="d-flex gap-2">
                <div>
                  <div class="xbg-info rounded p-3">
                    <i class="fa-solid fa-rotate"></i>
                  </div>
                </div>
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque? Omnis repellat incidunt sit esse suscipit obcaecati veniam consequuntur molestias labore eum.</p>
              </div>
              <div class="d-flex justify-content-between align-items-cente gap-2">
                <a href="#">
                  <i class="fa-solid fa-rotate"></i>
                </a>
                <a href="#">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </side>
    <div class="flex-grow-1 h-content-tabs scroll scroll--light overflow-y-scroll">
      <div class="px-2">
        <div class="d-flex justify-content-between align-items-center px-2 pt-3">
          <h6 class="d-flex align-items-cente mb-0">
            <i class="fa-solid fa-timeline text-info mr-2"></i>
            <span> Timeline V1</span>
          </h6>
          <div class="d-flex justify-content-between align-items-cente gap-2">
            <a href="#">
              <i class="fa-solid fa-rotate"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
        <div class="w-100 xoverflow-hidden py-3">
          {{ partial "timeline-v1.html" . }}
        </div>

        <div class="flex-grow-1 card card-main card-main-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="d-flex align-items-cente mb-0">
              <i class="fa-solid fa-bolt text-info mr-2"></i>
              <span> Key Dates </span>
            </h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div class="d-flex mt-2 gap-2 py-2">
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Last Communication</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Last Meeting</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Next Meeting</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="px-2">
        <div class="d-flex justify-content-between align-items-center px-2 pt-3">
          <h6 class="d-flex align-items-cente mb-0">
            <i class="fa-solid fa-timeline text-info mr-2"></i>
            <span> Timeline</span>
          </h6>
          <div class="d-flex justify-content-between align-items-cente gap-2">
            <a href="#">
              <i class="fa-solid fa-rotate"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
        <div class="w-100 xoverflow-hidden py-3">
          {{ partial "timeline.html" . }}
        </div>
        <div class="d-flex justify-content-between align-items-center px-2 pt-3">
          <h6 class="d-flex align-items-cente mb-0">
            <i class="fa-solid fa-timeline text-info mr-2"></i>
            <span> Timeline </span>
          </h6>
          <div class="d-flex justify-content-between align-items-cente gap-2">
            <a href="#">
              <i class="fa-solid fa-rotate"></i>
            </a>
            <a href="#">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </div>
        <div class="w-100 xoverflow-hidden py-3">
          {{ partial "timeline.html" . }}
        </div>

        <div class="flex-grow-1 card card-main card-main-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="d-flex align-items-cente mb-0">
              <i class="fa-solid fa-bolt text-info mr-2"></i>
              <span> Key Dates </span>
            </h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div class="d-flex mt-2 gap-2 py-2">
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Last Communication</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Last Meeting</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
            <div class="card w-33 d-flex flex-column justify-content-center flex-grow-1 px-2 py-3">
              <p class="mb-0">Next Meeting</p>
              <h6 class="text-info-11">23/05/1976</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gap-2 px-2">
        <div class="flex-grow-1 max-w-50 card card-main card-main-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Marketing List</h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label for="inputState">Select the marketing list</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="pb-2">Existing pills</div>
            <div class="d-flex flex-wrap gap-1">
              <a href="#" class="badge badge-primary px-2 py-2">
                primary
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-secondary px-2 py-2">
                secondary
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-brand px-2 py-2">
                brand
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-info px-2 py-2">
                info
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-success px-2 py-2">
                success
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-warning px-2 py-2">
                warning
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-danger px-2 py-2">
                danger
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-primary px-2 py-2">
                soft primary
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-secondary px-2 py-2">
                soft secondary
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-brand px-2 py-2">
                soft brand
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-info px-2 py-2">
                soft info
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-success px-2 py-2">
                soft success
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-warning px-2 py-2">
                soft warning
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
              <a href="#" class="badge badge-soft-danger px-2 py-2">
                soft danger
                <i class="fa-solid fa-xmark ml-1"></i>
              </a>
            </div>
          </div>
          <hr />
          <div class="d-flex justify-content-end align-items-center gap-2">
            <p class="lead m-0">Can't find one to select from the list?</p>
            <button class="btn btn-primary">Create one</button>
          </div>
        </div>
        <div class="flex-grow-1 max-w-50 card card-main card-main-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Notes</h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label for="inputState">Select the marketing list</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="pb-2">Existing notes</div>
            <ul class="list-unstyled d-flex flex-column gap-2">
              <li>
                <div class="card bg-soft-info d-flex flex-row p-2">
                  <div class="d-flex gap-2">
                    <div>
                      <div class="bg-info rounded p-3">
                        <i class="fa-solid fa-rotate"></i>
                      </div>
                    </div>
                    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque?</p>
                  </div>
                  <div class="d-flex justify-content-between align-items-cente gap-2">
                    <a href="#">
                      <i class="fa-solid fa-rotate"></i>
                    </a>
                    <a href="#">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <div class="card xbg-soft-info d-flex flex-row p-2">
                  <div class="d-flex gap-2">
                    <div>
                      <div class="xbg-info rounded p-3">
                        <i class="fa-solid fa-rotate"></i>
                      </div>
                    </div>
                    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae praesentium adipisci sit ut nulla incidunt nisi ipsa doloremque?</p>
                  </div>
                  <div class="d-flex justify-content-between align-items-cente gap-2">
                    <a href="#">
                      <i class="fa-solid fa-rotate"></i>
                    </a>
                    <a href="#">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
            <div class="d-flex flex-wrap gap-1"></div>
          </div>
          <hr />
          <div class="d-flex justify-content-end align-items-center gap-2">
            <p class="lead m-0">Can't find one to select from the list?</p>
            <button class="btn btn-primary">Create one</button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center px-2 pb-2 pt-3">
        <h6 class="mb-0">KYC Information</h6>
        <div class="d-flex justify-content-between align-items-cente gap-2">
          <a href="#">
            <i class="fa-solid fa-rotate"></i>
          </a>
          <a href="#">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="px-2">
        {{ partial "manager/kyc-cards.html" }}
      </div>

      <div class="d-flex mb-2 gap-2 px-2">
        <div class="flex-grow-1 card card-main card-main-info mt-3 px-3 py-3">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Marketing List</h6>
            <div class="d-flex justify-content-between align-items-cente gap-2">
              <a href="#">
                <i class="fa-solid fa-rotate"></i>
              </a>
              <a href="#">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
          </div>
          <div>
            <p>1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, suscipit. Deleniti magnam eaque iure harum optio a ducimus! Excepturi aliquid quas voluptates consequuntur reiciendis amet vero nostrum, est ipsum tempora!</p>
          </div>
          <hr />
          <div class="d-flex justify-content-end align-items-center gap-2">
            <p class="lead m-0">Can't find one to select from the list?</p>
            <button class="btn btn-primary">Create one</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
