<div
  x-data="tail()"
  :class="toggleNotification ? 'bg-neutral-100/50 dark:bg-darkNeutral-900/50' : '' "
  class="xxray wdx-card-pills {{ if .bg }}
  {{ end }} xpt-4 relative flex w-full flex-col  px-4 "
  @reset-activities="resetFilterActivities = $event.detail.reset, activitieFilterCounter = 0"
  @scroll.window="scrollAtTop = window.pageYOffset > 50 ? false : true;"
  x-on:change="pills()"
>
  <template x-teleport="header">
    <div class="xxray cta xz-50 absolute left-[50%] top-[3.6rem] ">
      <a href="#topPage" x-on:click="toggleNotification = !toggleNotification" :class="toggleNotification ? 'bg-white text-neutral-600 dark:bg-darkNeutral-800 dark:text-darkNeutral-200' : 'xtext-white xhover:bg-brand-500xbg-brand-400 ' " class="border-b-brand-100/50 dark:bg-darkNeutral-800 dark:text-darkNeutral-200 absolute -top-[.8rem] flex h-[2rem] translate-x-[-50%] translate-y-[15%] items-center justify-center rounded-b-md border-b bg-white pl-3 pr-4 transition-all duration-300 dark:border-b-black">
        <i class="fas fa-angle-down  mr-3" :class="toggleNotification ? 'rotate-180  text-brand-400 ' : 'text-brand-100 hover:text-white' "></i>
        <span class="whitespace-nowrap text-xs" x-show="toggleNotification">
          <span class="hidden">Hide</span> Activities
          {{/* <span x-text="scrollAtTop"></span> */}}
        </span>
        <span class="whitespace-nowrap text-xs" x-show="!toggleNotification">
          <span class="hidden">View</span> Activities
          {{/* <span x-text="scrollAtTop"></span> */}}
        </span>
      </a>
    </div>
  </template>
  <div x-ref="container" x-bind:style="toggleNotification ? 'max-height: ' + $refs.container.scrollHeight + 'px' : ''" :class="!toggleNotification ? 'py-0' : '' " class="max-h-0 overflow-hidden pb-2 transition-all duration-300">
    <div class="xxl:px-0 mx-auto flex w-full items-center justify-between pt-8 pb-3 sm:pt-3">
      <div class="text-lg font-bold text-neutral-400">Activities & Action Overview</div>

      <div class="xxray flex items-center gap-4">
        <div class="flex items-center">
          <div class="relative">
            <button id="dropdownDefault" data-dropdown-toggle="dropdown" x-on:click="open" type="button" class="dark:bg-darkNeutral-800 dark:text-darkNeutral-500 border-brand-500/20 flex items-center justify-between rounded-md border bg-white px-4 py-2 text-neutral-800">
              Filter
              <span x-show="activitieFilterCounter" x-text="activitieFilterCounter" class="card-pills--counter ml-2 rounded-md bg-green-100 px-2 py-1 text-sm text-green-500"></span>
              <i class="fas fa-angle-down text-brand-400 dark:text-brand-300  pl-3"></i>
            </button>
            <div x-show="isOpen()" x-on:click.away="close" class="w-46 shadow-brand-55 dark:bg-darkNeutral-600 absolute right-0 z-10 min-w-[10rem] divide-y divide-gray-100 overflow-hidden rounded-md bg-white shadow-lg">
              <ul class=" dark:text-darkNeutral-200 text-neutral-700" aria-labelledby="dropdownDefault">
                <li x-data="{checked: false}" @reset-activities.window="checked = false">
                  <button @click="count" :class="checked ? 'text-green-500 bg-green-50 dark:bg-green-50' : ''" class="hover:text-brand-900 dark:hover:bg-neutralDark-700/30 group flex w-full items-center justify-between px-4  py-2  hover:bg-neutral-100/50 dark:hover:text-white">
                    Red
                    <i :class="checked ? 'text-green-400' : 'text-neutral-600 dark:text-darkNeutral-600'" class="fas fa-check xgroup-hover:text-neutral pl-4"></i>
                  </button>
                </li>
                <li x-data="{checked: false}" @reset-activities.window="checked = false">
                  <button @click="count" :class="checked ? 'text-green-500 bg-green-50 dark:bg-green-50' : ''" class="hover:text-brand-900 dark:hover:bg-neutralDark-700/30 group flex w-full items-center justify-between px-4  py-2  hover:bg-neutral-100/50 dark:hover:text-white">
                    Green
                    <i :class="checked ? 'text-green-400' : 'text-neutral-600 dark:text-darkNeutral-600'" class="fas fa-check xgroup-hover:text-neutral pl-4"></i>
                  </button>
                </li>
                <li
                  x-data="{ 
                                        checked: false
                                    }"
                  @reset-activities.window="checked = false"
                >
                  <button @click="count" :class="checked ? 'text-green-500 bg-green-50 dark:bg-green-50' : ''" class="hover:text-brand-900 dark:hover:bg-neutralDark-700/30 group flex w-full items-center justify-between px-4  py-2  hover:bg-neutral-100/50 dark:hover:text-white">
                    Yellow
                    <i :class="checked ? 'text-green-400' : 'text-neutral-600 dark:text-darkNeutral-600'" class="fas fa-check xgroup-hover:text-neutral pl-4"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <butto @click="$dispatch('reset-activities', { activitieFilterCounter : !activitieFilterCounter})" x-show="activitieFilterCounter" class="bg-brand-500 text-brand-50 ml-4 flex min-h-[3rem] cursor-pointer items-center justify-between rounded-md px-4 py-2 ">
              <i class="fas fa-times pr-2 group-hover:text-white"></i>
              Reset
            </butto>
          </div>
        </div>

        <a href="#" class="text-brand-500 dark:text-brand-300">
          <span>Refresh</span>
          <i class="fas fa-sync-alt text-brand-400 ml-2"></i>
        </a>
      </div>
    </div>

    <div
      class=" xxray
  xxl:px-0 mx-auto grid w-full gap-6 px-2 pb-3
  sm:grid-cols-1  md:grid-cols-2  lg:grid-cols-4  xl:grid-cols-4  2xl:grid-cols-5"
    >
      {{ range $indexUser, $user := .tiles }}
        <div class="card-pills dark:bg-darkNeutral-800/20 dark:shadow-darkNeutral-900/50 rounded-[6px] bg-white shadow-md shadow-neutral-200/30 dark:border-0">
          <div class="card-pills--header  dark:bg-darkNeutral-800 flex h-[4.2rem] rounded-t bg-neutral-100">
            <div class="card-pills--title-icon-container flex w-[2.5rem] items-center justify-center">
              {{ partial "font-awsome.html" ( dict "icon" .icon "type" "fal" "class" "card-pills--title-icon relative text-xl dark:text-darkNeutral-200 text-neutral-900") }}

            </div>
            <div class="card-pills--title flex grow items-center pl-2 text-sm font-bold text-neutral-500">{{ .title }}</div>

            <!-- div class="card-pills--weight mr-3 flex items-center justify-center">
              <div
                class="flex h-[1.8rem] w-[1.8rem] items-center justify-center rounded-full bg-white text-xl">
                <i
                  class="far fa-arrow-alt-circle-up card-pills--title-icon dark:bg-brand-800"></i>
              </div>
            </!-->
          </div>
          <ul class="card-pills--list list-none p-0">
            {{ range $indexUser, $user := .items }}
              <li class="m-0 p-0">
                <a
                  href="#"
                  class="
                  {{ if lt .date 0 }}
                    after:absolute after:content-[''] after:w-[2px] after:h-full after:bg-red-500 after:left-0 after:top-0 bg-red-100/30 dark:bg-red-500/30 hover:bg-red-100 dark:hover:bg-red-500/30
                  {{ else if eq ( int .date ) 1 }}
                    bg-yellow-100/30 dark:bg-yellow-500/10 hover:bg-yellow-100 dark:hover:bg-yellow-500/30
                  {{ else }}
                    hover:bg-neutral-100/50 dark:hover:bg-white/5
                  {{ end }}
                  relative flex justify-between px-3 py-3 no-underline "
                >
                  <span
                    class="
                    {{ if eq .date false }}
                      text-neutral-400 dark:text-darkNeutral-300
                    {{ else if lt .date 0 }}
                      text-red-500 dark:text-red-200 font-bold
                    {{ else if eq ( int .date ) 0 }}
                      text-green-500 dark:text-green-500 font-bold
                    {{ else if eq ( int .date ) 1 }}
                      text-yellow-400 font-bold
                    {{ else if gt ( int .date ) 10 }}
                      text-neutral-500/80 dark:text-darkNeutral-400
                    {{ else }}
                      text-neutral-500 dark:text-darkNeutral-300
                    {{ end }}
                    flex items-center  text-base md:text-sm
                    "
                    >{{ .title }}</span
                  >
                  <div>
                    <span
                      class="
                      {{ if eq .date false }}
                        text-neutral-400/50 dark:text-darkNeutral-400/50
                      {{ else if lt .date 0 }}
                        bg-red-500 text-white
                      {{ else if eq ( int .date ) 0 }}
                        bg-green-100/50 text-green-500 dark:bg-green-100/20 dark:text-green-500
                      {{ else if eq ( int .date ) 1 }}
                        bg-yellow-500 text-white dark:bg-yellow-500 dark:text-white
                      {{ else if gt ( int .date ) 10 }}
                        text-brand-500/80 dark:text-darkNeutral-600/50
                      {{ else }}
                        text-brand-500/80 dark:text-white
                      {{ end }}
                    card-pills--counter rounded-md px-2 py-1  text-base md:text-sm"
                    >
                      {{ if lt .count 0 }}
                        {{ mul .count -1 }}
                      {{ else }}
                        {{ .count }}
                      {{ end }}
                    </span>
                  </div>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>

  <script>
    function filter() {
      return {
        filterTest: 3,
      };
    }
    function tail() {
      return {
        toggleNotification: true,
        scrollAtTop: true,

        // filter
        activitieFilterCounter: 0,
        resetFilterActivities: false,
        resetActivitiesCounter: false,

        showFilterActivities: false,
        counterActivities: 0,

        open() {
          this.showFilterActivities = true;
        },

        close() {
          this.showFilterActivities = false;
        },

        isOpen() {
          return this.showFilterActivities === true;
        },

        count() {
          this.showFilterActivities = false;
          this.checked = !this.checked;

          console.log(this.resetFilterActivities);

          if (this.checked) {
            this.counterActivities = this.counterActivities + 1;
            this.activitieFilterCounter = this.activitieFilterCounter + 1;
            console.log(this.activitieFilterCounter);
          } else if (!this.checked) {
            this.counterActivities = this.counterActivities - 1;
            this.activitieFilterCounter = this.activitieFilterCounter - 1;
            console.log(this.activitieFilterCounter);
          }
        },

        if(scrollAtTop = false) {
          this.toggleNotification = false;
        },
      };
    }
  </script>
</div>
