<div
  class="{{ if .bg }}
    bg-brand-100 dark:bg-brand-700
  {{ end }}
  "
>
  <div
    class="
    mx-auto flex w-full flex-col justify-center gap-4 py-8 px-3 sm:max-w-[640px] md:max-w-[768px]
     md:gap-6 md:px-0 lg:max-w-[1024px] lg:flex-row xl:max-w-[1280px] 2xl:max-w-[1536px] "
  >
    {{ range $indexForm, $numbers := .numbers }}
      <div class="flex justify-center">
        <div class="card  dark:bg-darkNeutral-800 flex w-full items-center justify-start rounded-md bg-white p-3 shadow-md shadow-neutral-200/30 dark:shadow-neutral-900/50">
          <div class="icon dark:bg-darkNeutral-700/20  flex h-[5rem] w-[5rem] items-center justify-center rounded-full bg-neutral-50/80">
            {{ if eq .icon  "users" }}
              <i class="fad fa-users text-3xl"></i>
            {{ else if eq .icon  "chart-pie-alt" }}
              <i class="fad fa-chart-pie-alt text-3xl"></i>
            {{ else if eq .icon  "money-bill-wave" }}
              <i class="fad fa-money-bill-wave text-3xl"></i>
            {{ end }}
          </div>
          <div class="flex min-w-[initial] flex-col  pl-4 lg:min-w-[10rem] xl:min-w-[15rem]">
            <div class="title dark:text-darkNeutral-300 text-sm font-bold text-neutral-400 ">
              {{ .title }}
            </div>
            <div class="title dark:text-darkNeutral-500 text-xl font-bold text-neutral-600 ">
              {{ if .unit }}
                {{ .unit }}
              {{ end }}
              {{ .count }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>
