<div class="w-full py-8" x-data="{ selected: 0 }">
  <div class="user grid h-full gap-4 sm:grid-cols-2 lg:grid-cols-[1fr_1.2fr_1.2fr] lg:grid-rows-[auto_1fr] xl:grid-cols-4">
    <div class="user--primaryInfo xmx-4 dark:bg-darkNeutral-800 flex items-center justify-center rounded-md bg-white py-4 shadow-md shadow-neutral-200/30 dark:shadow-neutral-900/50 md:mx-0 lg:row-[1_/_-1]">
      <div class="">
        <div class="image text-center">
          <img src="/img/face-1.gif" alt="" class="mx-auto mb-3 h-[80px] w-[80px] rounded-full object-cover" />
        </div>
        <span class="dark:text-darkNeutral-300 text-xl font-bold text-neutral-800">
          {{ .user.name }}
        </span>
        <div class="flex items-center justify-center pt-3 text-sm">
          {{ partial "font-awsome.html" ( dict "icon" "arrow-alt-circle-up" "type" "far" "class" "mr-2 text-lg text-green-400 dark:text-green-500") }}
          <span class="dark:text-darkNeutral-400 pr-1 font-bold text-neutral-400"> Net Worh: </span>
          <span class="dark:text-white">
            {{ .user.netWorth }}
          </span>
        </div>
      </div>
    </div>
    <div class="user--secondaryInfo h-100 mb-4 flex flex-col items-center justify-center gap-3 sm:mb-0 lg:col-[2_/_-1] lg:flex-row xl:col-[2_/_3] xl:row-[1_/_-1] xl:flex-col">
      {{ range $indexFeature, $feature := .user.features }}
        <div
          class="
              {{ if eq .level "1" }}
            bg-green-100/50 dark:bg-green-500/20
          {{ else if eq .level "2" }}
            bg-yellow-100/50 dark:bg-yellow-500/20
          {{ else if eq .level "3" }}
            bg-red-100/50 dark:bg-red-500/20
          {{ else }}
            bg-red-500 dark:bg-red-500/20
          {{ end }}
              cardFeature dark:shadow-brand-710 shadow-brand-190 w-full max-w-full rounded-md py-2 shadow sm:max-w-[18rem] md:max-w-[initial]
            "
        >
          <div class="flex items-center justify-start">
            <div class="">
              <i
                class="
                  {{ if eq .level "1" }}
                  text-green-400 dark:text-green-500
                {{ else if eq .level "2" }}
                  text-yellow-400 dark:text-yellow-500
                {{ else if eq .level "3" }}
                  text-red-400 rotate-180 dark:text-red-500
                {{ end }}
                  far fa-arrow-alt-circle-up mx-4 text-3xl"
              ></i>
            </div>
            <div class="flex flex-col pr-6">
              <span
                class="
                  {{ if eq .level "1" }}
                  text-green-600 dark:text-green-500
                {{ else if eq .level "2" }}
                  text-yellow-600 dark:text-yellow-500
                {{ else if eq .level "3" }}
                  text-red-600 dark:text-red-400
                {{ end }}
                  font-bold"
              >
                {{ .title }}
              </span>
              <span class="dark:text-darkNeutral-100 text-neutral-500">
                {{ .value }}
              </span>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    <div class="user--tertiaryInfo flex lg:col-[2_/_3] lg:row-[2_/_3] xl:col-[3_/_4] xl:row-[1_/_-1]">
      <div class="flex grow flex-col px-4">
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <span class="dark:text-darkNeutral-400 font-bold text-neutral-400">Mobile</span>
          <span>
            <a href="#" class="text-brand-400 dark:text-brand-300 underline">
              {{ .user.mobile }}
            </a>
          </span>
        </div>
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <span class="dark:text-darkNeutral-400 font-bold text-neutral-400">Phone</span>
          <span>
            <a href="#" class="text-brand-400 dark:text-brand-400 underline">
              {{ .user.phone }}
            </a>
          </span>
        </div>
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <span class="dark:text-darkNeutral-400 font-bold text-neutral-400">Nationality</span>
          <span class="dark:text-white">{{ .user.nationality }}</span>
        </div>
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <span class="dark:text-darkNeutral-400 font-bold text-neutral-400">Country</span>
          <span class="dark:text-white">{{ .user.country }}</span>
        </div>
      </div>
    </div>
    <div class="user--tertiaryInfo flex">
      <div class="flex grow flex-col px-4">
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <div>
            <i class="fas fa-comments mr-1 text-yellow-400 "></i>
            <span class="pr-3 font-bold text-yellow-600 dark:text-yellow-500" 4>Last contacted</span>
          </div>
          <span class="text-yellow-600 dark:text-yellow-500">
            {{ .user.lastContacted }}
          </span>
        </div>
        <div class="grid-cols-flexDoubleCol grid py-2 lg:py-1">
          <div>
            <i class="fas fa-calendar-check mr-1 text-gray-300 dark:text-neutral-600 "></i>
            <span class="dark:text-darkNeutral-400 pr-4 font-bold text-neutral-400">Next Meeting Date</span>
          </div>
          <span class="dark:text-white">
            {{ .user.nextMeetingDate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
