<div class="pullOut__wrapp pulloutTab" x-bind:style="pulloutTab.secondary && { '--z-pullOut': '2' }">
  <div class="pullOut__wrapp">
    <div class="pullOut position-fixed flex-column" x-cloak x-show="pulloutTab.pullout" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
      <div class="pullOut__header bg-white">
        <div class="global-top-bar d-flex justify-content-between align-items-center py-2 px-3">
          <div>
            <strong> KYC Collection Form </strong>
          </div>
          <div>
            <button class="cta reset p-1 text-white">
              <i class="fas fa-external-link-square"></i>
            </button>

            <button x-show="!pulloutTab.secondary && pulloutTab.pullout" @click="pulloutTab.pullout = false, bodyScroll = true" class="reset cta p-1 text-white" x-show="pulloutTab.pullout">
              <i class="fas fa-times"></i>
            </button>
            <button x-show="pulloutTab.secondary && pulloutTab.pullout" @click="pulloutTab.pullout = false, bodyScroll = false" class="reset cta p-1 text-white" x-show="pulloutTab.pullout">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- <div class="tabs-navigation__item--active far fa-circle opacity-20"></div> -->
        <ul class="nav nav-tabs tabs-navigation d-flex border-bottom list-unstyled justify-content-center m-0 flex-wrap" id="myTab" role="tablist">
          {{ $iconVisible := $.Site.Data.tabs.kyc.iconVisible }}
          {{ range $index, $item := $.Site.Data.tabs.kyc.items }}
            {{ $item := newScratch }}
            {{ $active := "" }}
            {{ $done := "" }}
            {{ $icon := "" }}
            {{ $selected := "" }}
            {{ $disableClass := "" }}
            {{ $disabled := "" }}

            {{ if .disable }}
              {{ $item.Set "disable" "disable cursor-not-allowed" }}
              {{ $item.Set "disabled" "disabled" }}
            {{ end }}
            {{ if eq $index 0 }}
              {{ $item.Set "selected" true }}
              {{ $item.Set "active" "active show" }}
              {{ $item.Set "icon" "far fa-ellipsis-v opacity-20" }}
              {{ if .done }}
                {{ $item.Set "active" "active" }}
                {{ $item.Set "done" "tabs-navigation__item--done" }}
                {{ $item.Set "icon" "fa-check" }}
              {{ end }}
            {{ else }}
              {{ if .done }}
                {{ $item.Set "done" "tabs-navigation__item--done" }}
                {{ $item.Set "icon" "fa-check" }}
              {{ else }}
                {{ $item.Set "icon" "far fa-ellipsis-v opacity-30" }}
              {{ end }}
            {{ end }}

            {{ $selected := $item.Get "selected" }}
            {{ $active := $item.Get "active" }}
            {{ $done := $item.Get "done" }}
            {{ $icon := $item.Get "icon" }}
            {{ $disableClass := $item.Get "disable" }}
            {{ $disabled := $item.Get "disabled" }}
            <li class="nav-item" role="presentation">
              <button id="item-{{ $index }}-tab" type="button" data-toggle="tab" data-target="#item-{{ $index }}" aria-controls="item-{{ $index }}" aria-selected="{{ $selected }}" class="tabs-navigation__item d-flex align-items-center {{ $active }} {{ $done }} {{ $disableClass }} py-3 px-3" @click="toTop()">
                <!-- {{ $disabled }} -->
                <!-- @click="$scroll.scrollTop === 0" -->
                {{ if $iconVisible }}
                  <i class="{{ $icon }} mr-2"></i>
                {{ end }}
                <small>
                  {{ .title }}
                </small>
              </button>
            </li>
          {{ end }}
        </ul>
      </div>
      {{ partial "components/organisms/progress-pills.html" . }}
      <div id="scroll" x-ref="scroll" class="pullOut__scroll flex-grow-1 xpt-2">
        <div class="tab-content" id="myTabContent">
          {{ range $index, $item := $.Site.Data.tabs.kyc.items }}
            {{ $item := newScratch }}
            {{ $active := "" }}
            {{ $done := "" }}
            {{ if eq $index 0 }}
              {{ $item.Set "active" "show active" }}
            {{ end }}
            {{ if .done }}
              {{ $item.Set "done" "content--done" }}
            {{ end }}
            {{ $done := $item.Get "done" }}
            {{ $active := $item.Get "active" }}


            <div class="tab-pane fade {{ $done }} {{ $active }}" id="item-{{ $index }}" role="tabpanel" aria-labelledby="item-{{ $index }}-tab">
              <div class="container py-4">
                {{ if .done }}
                  <strong class="text-success-400">
                    {{ .title }}
                  </strong>
                  <p class="text-success-500 mb-0 mt-3">
                    <i class="fas fa-check mr-2"></i>
                    this subform is 100% filed
                  </p>
                {{ else }}
                  <strong>
                    {{ .title }}
                  </strong>
                  <p class="mb-0 mt-3">fill the form below</p>
                {{ end }}


                <div class="sample-container d-flex align-items-center justify-content-center text-muted mt-3">sample content for scroll</div>
              </div>
              <!-- {{ partial "components/organisms/forms.html" }} -->
            </div>
          {{ end }}
        </div>
      </div>
      {{ partial "components/organisms/pullOut-footer.html" (dict "type" "pulloutTab") }}
    </div>

    <div x-cloak x-show="!pulloutTab.secondary && pulloutTab.pullout" @click="pulloutTab.pullout = false, bodyScroll = true" class="backDrop"></div>
    <div x-cloak x-show="pulloutTab.secondary && pulloutTab.pullout" @click="pulloutTab.pullout = false, bodyScroll = false" class="backDrop"></div>
  </div>
</div>
