<div class="pullOut__wrapp pulloutWisard" x-bind:style="pulloutWisard.secondary && { '--z-pullOut': '5' }">
  <div class="pullOut position-fixed flex-column" x-cloak x-show="pulloutWisard.pullout" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
    <div class="pullOut__header bg-white">
      <div class="d-flex  justify-content-between align-items-center global-top-bar py-2 px-3">
        <div>
          <strong> Create new appointment </strong>
          <span x-text="pulloutWisard.secondary"> </span>
        </div>
        <div>
          <button class="reset cta p-1 text-white">
            <i class="fas fa-external-link-square"></i>
          </button>

          <button x-show="!pulloutWisard.secondary && pulloutWisard.pullout" @click="pulloutWisard.pullout = false, bodyScroll = true" class="reset cta p-1 text-white" x-show="pulloutWisard.pullout">
            <i class="fas fa-times"></i>
          </button>
          <button x-show="pulloutWisard.secondary && pulloutWisard.pullout" @click="pulloutWisard.pullout = false, bodyScroll = false" class="reset cta p-1 text-white" x-show="pulloutWisard.pullout">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <ul class="stepper xxray">
        {{ range $index, $item := $.Site.Data.tabs.stepper1.items }}
          {{ $item := newScratch }}
          {{ $status := "" }}
          {{ $disabled := "" }}
          {{ if eq .status "old" }}
            {{ $item.Set "status" "stepper__item--old" }}
          {{ else if eq .status "done" }}
            {{ $item.Set "status" "stepper__item--done" }}
          {{ else if eq .status "current" }}
            {{ $item.Set "status" "stepper__item--current" }}
          {{ else if eq .status "next" }}
            {{ $item.Set "status" "stepper__item--next" }}
            {{ $item.Set "disabled" "disabled" }}
          {{ else if eq .status "future" }}
            {{ $item.Set "status" "stepper__item--future" }}
            {{ $item.Set "disabled" "disabled" }}
          {{ end }}
          {{ $status := $item.Get "status" }}
          {{ $disabled := $item.Get "disabled" }}


          <li class="stepper__item {{ $status }}">
            <button class="d-flex align-items-stretch" {{ $disabled }}>
              {{ if $index }}
                <span>
                  <svg preserveAspectRatio="none" width="37" height="115" viewBox="0 0 37 115" fill="var(--before)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.5C4.96 0.5 9.52 3.25 11.83 7.64L34.8 51.28C36.85 55.18 36.85 59.83 34.8 63.73L11.83 107.36C9.52 111.75 4.97 114.5 0 114.5" fill="var(--bfore)" />
                  </svg>
                </span>
              {{ end }}
              <small class="stepper__label d-flex align-items-center "> {{ .title }} </small>
            </button>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ partial "components/organisms/progress-pills.html" . }}
    <div id="scroll" x-ref="scroll" class="pullOut__scroll flex-grow-1 xpt-2">
      <div class="tab-content" id="myTabContent">
        {{ range $index, $item := $.Site.Data.tabs.stepper1.items }}
          {{ $item := newScratch }}
          {{ $active := "" }}
          {{ $done := "" }}
          {{ if eq $index 0 }}
            {{ $item.Set "active" "show active" }}
          {{ end }}
          {{ if .done }}
            {{ $item.Set "done" "content--done" }}
          {{ end }}
          {{ $done := $item.Get "done" }}
          {{ $active := $item.Get "active" }}


          <div class="tab-pane fade {{ $done }} {{ $active }}" id="item-{{ $index }}" role="tabpanel" aria-labelledby="item-{{ $index }}-tab">
            <div class="container py-4">
              <div class="d-flex">
                <button class="btn btn-outline-primary" @click="pulloutAddress.pullout = !pulloutAddress.pullout, pulloutAddress.secondary = true ">Address</button>
              </div>
              {{ if .done }}
                <strong class="text-success-400">
                  {{ .title }}
                </strong>
                <p class="text-success-500 mb-0 mt-3">
                  <i class="fas fa-check mr-2"></i>
                  this subform is 100% filed
                </p>
              {{ else }}
                <strong>
                  {{ .title }}
                </strong>
              {{ end }}
              <strong>
                {{ .form.title }}
              </strong>
              <form>
                {{ range .form.fields }}
                  <div class="form-group row">
                    <label for="{{ .label }}" class="col-sm-6 col-form-label">
                      {{ .label }}
                    </label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="{{ .label }}" value="" placeholder="{{ .placeholder }}" />
                    </div>
                  </div>
                {{ end }}
              </form>
              <!-- <div class="sample-container d-flex align-items-center justify-content-center text-muted mt-3">sample content for scroll</div> -->
            </div>
            <!-- {{ partial "components/organisms/forms.html" }} -->
          </div>
        {{ end }}
      </div>
    </div>
    {{ partial "components/organisms/pullOut-footer.html" (dict "type" "pulloutWisard") }}
  </div>
  <div x-cloak x-show="!pulloutWisard.secondary && pulloutWisard.pullout" @click="pulloutWisard.pullout = false, bodyScroll = true" class="backDrop"></div>
  <div x-cloak x-show="pulloutWisard.secondary && pulloutWisard.pullout" @click="pulloutWisard.pullout = false, pulloutWisard.secondary = false, bodyScroll = false" class="backDrop" x-bind:style="pulloutWisard.secondary && { '--z-pullOut': '5' }"></div>
</div>
