<div class="pullOut__wrapp pulloutAccordion" x-bind:style="pulloutAccordion.secondary && { '--z-pullOut': '2' }">
  <div class="pullOut position-fixed flex-column" x-cloak x-show="pulloutAccordion.pullout" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
    <div class="pullOut__header bg-white">
      <div class="d-flex justify-content-between align-items-center global-top-bar py-2 px-3">
        <div>
          <strong> Edit Address Acordeon </strong>
          <span x-text="pulloutAccordion"></span>
        </div>
        <div>
          <button class="reset cta p-1 text-white">
            <i class="fas fa-external-link-square"></i>
          </button>

          <button x-show="!pulloutAccordion.secondary && pulloutAccordion.pullout" @click="pulloutAccordion.pullout = false, bodyScroll = true" class="reset cta p-1 text-white" x-show="pulloutAccordion.pullout">
            <i class="fas fa-times"></i>
          </button>
          <button x-show="pulloutAccordion.secondary && pulloutAccordion.pullout" @click="pulloutAccordion.pullout = false, bodyScroll = false" class="reset cta p-1 text-white" x-show="pulloutAccordion.pullout">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <!-- <div class="tabs-navigation__item--active far fa-circle opacity-20"></div> -->
    </div>
    {{ partial "components/organisms/progress-pills.html" . }}
    <div id="scroll" x-ref="scroll" class="pullOut__scroll flex-grow-1 xpt-2">
      <div>
        <div class="accordion" id="accordionExample">
          <div class="card border-bottom radius-none border-top-0 border-left-0 border-right-0">
            <div class="card-header d-flex justify-content-between p-0" id="headingOne">
              <h2 class="flex-grow-1 mb-0">
                <button class="no-focus btn btn-link radius-none btn-block text-decoration-none py-3 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-chevron-down mr-2"></i>
                  <span class="font-weight-bold"> Mano Sebastiano Argenti </span>
                  <span class="badge badge-pill badge-warning ml-2">15% completed</span>
                  <!-- <span class="badge badge-pill badge-secondary">45% completed</span> -->
                </button>
              </h2>
              <button class="reset text-primary px-3">
                <i class="far fa-clone"></i>
              </button>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body border-left-primary-6">
                <form class="container py-4">
                  <strong class="mb-3">Accordeon 1</strong>
                  {{ range $index, $address := first 1 $.Site.Data.addresses.addresses }}
                    <div class="form-group row">
                      <label for="type" class="col-sm-6 col-form-label"> Type </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.type }}" value="" placeholder="{{ $address.type }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="primary" class="col-sm-6 col-form-label"> Is primary </label>
                      <div class="col-sm-6">
                        <input primary="text" class="form-control" id="{{ $address.primary }}" value="" placeholder="{{ $address.primary }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="title" class="col-sm-6 col-form-label"> Title </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.title }}" value="" placeholder="{{ $address.title }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line1" class="col-sm-6 col-form-label"> Line 1 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line1 }}" value="" placeholder="{{ $address.line1 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line2" class="col-sm-6 col-form-label"> Line 2 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line2 }}" value="" placeholder="{{ $address.line2 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="city" class="col-sm-6 col-form-label"> City </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.city }}" value="" placeholder="{{ $address.city }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="county" class="col-sm-6 col-form-label"> County </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.county }}" value="" placeholder="{{ $address.county }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="country" class="col-sm-6 col-form-label"> Country </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.country }}" value="" placeholder="{{ $address.country }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="zip" class="col-sm-6 col-form-label"> Zip </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.zip }}" value="" placeholder="{{ $address.zip }}" />
                      </div>
                    </div>
                  {{ end }}
                </form>
              </div>
            </div>
          </div>
          <div class="card border-bottom radius-none border-top-0 border-left-0 border-right-0">
            <div class="card-header d-flex justify-content-between p-0" id="headingTwo">
              <h2 class="flex-grow-1 mb-0">
                <button class="no-focus btn btn-link radius-none btn-block collapsed text-decoration-none py-3 text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fas fa-chevron-down mr-2"></i>
                  <span class="font-weight-bold"> Michael Jackson </span>
                  <span class="badge badge-pill badge-success ml-2">100% completed</span>
                </button>
              </h2>
              <button class="reset text-primary px-3">
                <i class="far fa-clone"></i>
              </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body border-left-primary-6">
                <form class="container py-4">
                  <strong class="mb-3">Accordeon 2</strong>
                  {{ range $index, $address := first 1 $.Site.Data.addresses.addresses }}
                    <div class="form-group row">
                      <label for="type" class="col-sm-6 col-form-label"> Type </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.type }}" value="" placeholder="{{ $address.type }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="primary" class="col-sm-6 col-form-label"> Is primary </label>
                      <div class="col-sm-6">
                        <input primary="text" class="form-control" id="{{ $address.primary }}" value="" placeholder="{{ $address.primary }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="title" class="col-sm-6 col-form-label"> Title </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.title }}" value="" placeholder="{{ $address.title }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line1" class="col-sm-6 col-form-label"> Line 1 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line1 }}" value="" placeholder="{{ $address.line1 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line2" class="col-sm-6 col-form-label"> Line 2 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line2 }}" value="" placeholder="{{ $address.line2 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="city" class="col-sm-6 col-form-label"> City </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.city }}" value="" placeholder="{{ $address.city }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="county" class="col-sm-6 col-form-label"> County </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.county }}" value="" placeholder="{{ $address.county }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="country" class="col-sm-6 col-form-label"> Country </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.country }}" value="" placeholder="{{ $address.country }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="zip" class="col-sm-6 col-form-label"> Zip </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.zip }}" value="" placeholder="{{ $address.zip }}" />
                      </div>
                    </div>
                  {{ end }}
                </form>
              </div>
            </div>
          </div>
          <div class="card border-bottom radius-none border-top-0 border-left-0 border-right-0">
            <div class="card-header d-flex justify-content-between p-0" id="headingThree">
              <h2 class="flex-grow-1 mb-0">
                <button class="no-focus btn btn-link radius-none btn-block collapsed text-decoration-none py-3 text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fas fa-chevron-down mr-2"></i>
                  <span class="font-weight-bold"> Lucy Jackson </span>
                  <span class="badge badge-pill badge-danger ml-2">0% completed</span>
                  <!-- <span class="badge badge-pill badge-info">Info</span> -->
                </button>
              </h2>
              <button class="reset text-primary px-3">
                <i class="far fa-clone"></i>
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body border-left-primary-6">
                <strong>Addresses accordion 3</strong>
                {{ partial "components/organisms/addresses.html" . }}


                <form class="container py-4">
                  <strong class="mb-3">Accordeon 3</strong>
                  {{ range $index, $address := first 2 $.Site.Data.addresses.addresses }}
                    <div class="form-group row">
                      <label for="type" class="col-sm-6 col-form-label"> Type </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.type }}" value="" placeholder="{{ $address.type }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="primary" class="col-sm-6 col-form-label"> Is primary </label>
                      <div class="col-sm-6">
                        <input primary="text" class="form-control" id="{{ $address.primary }}" value="" placeholder="{{ $address.primary }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="title" class="col-sm-6 col-form-label"> Title </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.title }}" value="" placeholder="{{ $address.title }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line1" class="col-sm-6 col-form-label"> Line 1 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line1 }}" value="" placeholder="{{ $address.line1 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="line2" class="col-sm-6 col-form-label"> Line 2 </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.line2 }}" value="" placeholder="{{ $address.line2 }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="city" class="col-sm-6 col-form-label"> City </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.city }}" value="" placeholder="{{ $address.city }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="county" class="col-sm-6 col-form-label"> County </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.county }}" value="" placeholder="{{ $address.county }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="country" class="col-sm-6 col-form-label"> Country </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.country }}" value="" placeholder="{{ $address.country }}" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="zip" class="col-sm-6 col-form-label"> Zip </label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="{{ $address.zip }}" value="" placeholder="{{ $address.zip }}" />
                      </div>
                    </div>
                  {{ end }}
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "components/organisms/pullOut-footer.html" (dict "type" "pulloutAccordion" ) }}
  </div>

  <div x-cloak x-show="!pulloutAccordion.secondary && pulloutAccordion.pullout" @click="pulloutAccordion.pullout = false, bodyScroll = true" class="backDrop"></div>
  <div x-cloak x-show="pulloutAccordion.secondary && pulloutAccordion.pullout" @click="pulloutAccordion.pullout = false, bodyScroll = false" class="backDrop"></div>
</div>
