{{ define "main" }}
  <div class="content-with-pullOut h-[100vh]" x-data="{ pullOut: true }">
    <div class="flex h-full flex-col p-4">
      <div>
        <button class="btn btn-primary" @click="pullOut = ! pullOut">toogle</button>
      </div>

      <div class="jsonEditor flex flex-grow flex-col">
        <div class="jsonEditor--nav flex grow-0 gap-2 px-2">
          <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setJSON();">Set JSON</button> -->
          <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="getJSON();">Get JSON</button>
          <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('tree');">tree</button>
          <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('code');">code</button>
          <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('preview');">preview</button> -->
        </div>

        <div id="jsoneditor-container" class="jsonEditor--editor">
          <div id="jsoneditor0" class="jsoneditor"></div>
        </div>
      </div>
    </div>
    <div x-show="pullOut" class="side-container bg-slate-100 py-[5rem]">
      <div class="fixed top-0 w-[90vw] bg-slate-200">
        <div class="flex w-[90vw] items-center justify-end">
          <div class="p-2">
            <button class="btn btn-primary" @click="pullOut = ! pullOut">close</button>
          </div>
        </div>
      </div>
      <div class="px-2">
        <div class="p-4 ">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis aliquam doloribus. Voluptates nostrum quaerat et, delectus placeat tempora. Nesciunt, atque reiciendis laboriosam ab magnam asperiores quod itaque! Quo, velit.</p>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Saved values</button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="jsonEditor flex flex-col">
                  <div class="jsonEditor--nav flex grow-0 gap-2 px-2">
                    <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setJSON();">Set JSON</button> -->
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="getJSON();">Get JSON</button>
                    <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('tree');">tree</button>
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('code');">code</button>
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('preview');">preview</button> -->
                  </div>

                  <div id="jsoneditor-container" class="jsonEditor--editor">
                    <div id="jsoneditor1" class="jsoneditor min-height"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Flags</button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="jsonEditor flex flex-col">
                  <div class="jsonEditor--nav flex grow-0 gap-2 px-2">
                    <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setJSON();">Set JSON</button> -->
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="getJSON();">Get JSON</button>
                    <!-- <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('tree');">tree</button>
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('code');">code</button>
                    <button class="my-2 rounded bg-slate-400 p-1 px-2 text-white" onclick="setMode('preview');">preview</button> -->
                  </div>

                  <div id="jsoneditor-container" class="jsonEditor--editor">
                    <div id="jsoneditor2" class="jsoneditor min-height"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Field Metadata</button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex fixed bottom-0 top-auto z-10 h-[4rem] w-[90vw] items-center bg-slate-300">
        <div class="px-3">
          <button class="btn btn-primary">save</button>
        </div>
      </div>
    </div>
    <script>
      // function resizeMain() {
      //   let mainHeight = document.getElementById("jsoneditor-container").offsetHeight - 1;
      //   document.getElementById("jsoneditor").style.cssText = `height:${mainHeight}px;`;
      // }
      // // calculateHeight();
      window.addEventListener("load", setJSON);
      // window.addEventListener("load", resizeMain);
      // window.addEventListener("resize", resizeMain);

      // create the editor
      var container0 = document.getElementById("jsoneditor0");
      var container1 = document.getElementById("jsoneditor1");
      var container2 = document.getElementById("jsoneditor2");

      // set options
      var options = {
        mode: "tree",
        mode: "code",
        modes: ["tree", "code"],
        autoScrollEditorIntoView: true,
      };
      var json = {
        APIColumns: [
          {
            Description: "",
            CrmModelType: "CrmContact",
            GetAll: false,
            Columns: ["wdx_financialsnotes", "wdx_ninumber"],
            APIMethods: ["Contacts/{id}"],
          },
          {
            Description: "",
            CrmModelType: "CrmOpportunity",
            GetAll: false,
            Columns: ["closeprobability"],
            APIMethods: ["Opportunities/{id}"],
          },
          {
            Description: "",
            CrmModelType: "CrmOpportunity",
            GetAll: false,
            Columns: ["transactioncurrencyid"],
            SubFields: [
              {
                SchemaName: "transactioncurrencyid",
                Columns: ["currencysymbol"],
              },
            ],
            APIMethods: ["Adviser/{id}/Opportunities", "Contact/{id}/Opportunities", "Intermediaries/Opportunities"],
          },
          {
            Description: "",
            CrmModelType: "CrmPortfolio",
            GetAll: false,
            Columns: ["transactioncurrencyid", "wdx_latestvalue"],
            SubFields: [
              {
                SchemaName: "transactioncurrencyid",
                Columns: ["currencysymbol"],
              },
            ],
            APIMethods: ["Advisers/{id}/Products", "Contact/{id}/Products", "Intermediaries/Products"],
          },
          {
            Description: "",
            CrmModelType: "CrmSuitabilityReview",
            GetAll: false,
            Columns: ["wdx_process_type"],
            APIMethods: ["Clients/Connections"],
          },
          {
            Description: "",
            CrmModelType: "CrmContact",
            GetAll: false,
            Columns: ["fax"],
            APIMethods: ["Advisers/{id}"],
          },
          {
            Description: "",
            CrmModelType: "CrmContact",
            GetAll: false,
            Columns: ["fax"],
            APIMethods: ["Intermediaries/{ids}/Employees"],
          },
          {
            Description: "",
            CrmModelType: "CrmAccount",
            GetAll: false,
            Columns: ["emailaddress1", "websiteurl", "donotemail", "telephone3", "fax", "wdx_headoffamilyid", "wdx_introductiondate"],
            APIMethods: ["Intermediaries/{id}", "Clients/{id}"],
          },
          {
            Description: "",
            CrmModelType: "CrmAccount",
            GetAll: false,
            Columns: ["scheduledstart"],
            APIMethods: ["Intermediaries/{id}/ActivitiesNotes"],
          },
          {
            Description: "",
            CrmModelType: "CrmContact",
            GetAll: false,
            Columns: ["emailaddress1"],
            APIMethods: ["SuitabilityReviews/{id}"],
          },
        ],
      };

      var editor0 = new JSONEditor(container0, options);
      var editor1 = new JSONEditor(container1, options);
      var editor2 = new JSONEditor(container2, options);

      // set json
      function setJSON() {
        editor0.set(this.json);
        editor1.set(this.json);
        editor2.set(this.json);
      }
      // function setMode(editorMode) {
      //   this.options = {
      //     mode: editorMode,
      //   };
      //   console.log(editorMode);
      // }
      // get json
      function getJSON() {
        var json = editor.get();
        alert(JSON.stringify(json, null, 2));
      }
    </script>
  </div>
{{ end }}
