{{ define "main" }}
  {{ $a := .Params.a }}
  {{ $b := .Params.b }}
  {{ $w := .Params.width | default 1366 }}
  {{ $h := .Params.height | default 768 }}
  <div class="b-and-a--wrapper" style="width: {{ $w }}px; height: {{ $h }}px">
    <!-- <div class="b-and-a--before">
      <img class="b-and-a--content-image" src="/b-a/{{ $a }}" draggable="false" />
    </div>
    <div class="b-and-a--after">
      <img class="b-and-a--content-image" src="/b-a/{{ $a }}" draggable="false" />
    </div> -->

    <div class="b-and-a--before">
      <img class="b-and-a--content-image" alt="before" src="/b-a/{{ $b }}" draggable="false" />
    </div>
    <div class="b-and-a--after">
      <img class="b-and-a--content-image" alt="after" a src="/b-a/{{ $a }}" draggable="false" />
    </div>
    <div class="b-and-a--scroller">
      <svg xmlns="http://www.w3.org/2000/svg" class="b-and-a--scroller__thumb" width="100" height="100" viewBox="0 0 512 512"><path style="fill: #000" d="M504.3 238.4l-112-104C387.8 130.2 381.9 128 375.1 128c-3.238 0-6.505 .6562-9.589 2c-8.75 3.812-14.41 12.45-14.41 22l.001 80h-192l-.001-80c0-9.547-5.656-18.19-14.41-22C142.5 128.7 139.2 128 136 128C130.1 128 124.2 130.2 119.7 134.4l-112 104c-9.781 9.094-9.781 26.09 0 35.19l112 104C124.2 381.8 130.1 384 136 384c3.24 0 6.503-.6562 9.589-2c8.75-3.812 14.41-12.45 14.41-22l.001-80h192l-.001 80c0 9.547 5.656 18.19 14.41 22C369.5 383.3 372.8 384 375.1 384c5.947 0 11.81-2.207 16.33-6.406l112-104C514.1 264.5 514.1 247.5 504.3 238.4z" /></svg>
    </div>
  </div>

  <script>
    // I hope this over-commenting helps. Let's do this!
    // Let's use the 'active' variable to let us know when we're using it
    let active = false;

    // First we'll have to set up our event listeners
    // We want to watch for clicks on our scroller
    document.querySelector(".b-and-a--scroller").addEventListener("mousedown", function () {
      active = true;
      // Add our scrolling class so the scroller has full opacity while active
      document.querySelector(".b-and-a--scroller").classList.add("scrolling");
    });
    // We also want to watch the body for changes to the state,
    // like moving around and releasing the click
    // so let's set up our event listeners
    document.body.addEventListener("mouseup", function () {
      active = false;
      document.querySelector(".b-and-a--scroller").classList.remove("scrolling");
    });
    document.body.addEventListener("mouseleave", function () {
      active = false;
      document.querySelector(".b-and-a--scroller").classList.remove("scrolling");
    });

    // Let's figure out where their mouse is at
    document.body.addEventListener("mousemove", function (e) {
      if (!active) return;
      // Their mouse is here...
      let x = e.pageX;
      // but we want it relative to our wrapper
      x -= document.querySelector(".b-and-a--wrapper").getBoundingClientRect().left;
      // Okay let's change our state
      scrollIt(x);
    });

    // Let's use this function
    function scrollIt(x) {
      let transform = Math.max(0, Math.min(x, document.querySelector(".b-and-a--wrapper").offsetWidth));
      document.querySelector(".b-and-a--after").style.width = transform + "px";
      document.querySelector(".b-and-a--scroller").style.left = transform - 15 + "px";
    }

    // Let's set our opening state based off the width,
    // we want to show a bit of both images so the user can see what's going on
    scrollIt(150);

    // And finally let's repeat the process for touch events
    // first our middle scroller...
    document.querySelector(".b-and-a--scroller").addEventListener("touchstart", function () {
      active = true;
      document.querySelector(".b-and-a--scroller").classList.add("scrolling");
    });
    document.body.addEventListener("touchend", function () {
      active = false;
      document.querySelector(".b-and-a--scroller").classList.remove("scrolling");
    });
    document.body.addEventListener("touchcancel", function () {
      active = false;
      document.querySelector(".b-and-a--scroller").classList.remove("scrolling");
    });
  </script>
{{ end }}
