<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body x-data="themeData()" x-init="loadConfig(); updateNavBarHeight(); updateNavTabHeight()" @resize.window="updateNavBarHeight, updateNavTabHeight">
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    <script></script>
    <script>
      function themeData() {
        return {
          navBarHeight: "",
          navTabHeight: "",
          currentTheme: "/css/customB4.css",
          // showConfig: false,

          //updateNavBarHeight() {
          //  const navBarElem = this.$refs.navBar;
          //  if (navBarElem) {
          //    const navBarHeight = getComputedStyle(navBarElem).height;
          //    this.navBarHeight = navBarHeight;
          //    document.body.style.setProperty("--navBar", navBarHeight);
          //  }
          //},

          updateNavBarHeight() {
            setTimeout(() => {
              const navBarElem = this.$refs.navBar;
              if (navBarElem) {
                const navBarHeight = getComputedStyle(navBarElem).height;
                this.navBarHeight = navBarHeight;
                document.body.style.setProperty("--navBar", navBarHeight);
              }
            }, 500);
          },

          updateNavTabHeight() {
            setTimeout(() => {
              const navTabElem = this.$refs.navTab;
              if (navTabElem) {
                const navTabHeight = getComputedStyle(navTabElem).height;
                this.navTabHeight = navTabHeight;
                document.body.style.setProperty("--navTab", navTabHeight);
              }
              //const filterElem = this.$refs.filter;
              //console.log(filterElem);
              //if (filterElem) {
              //  const filterHeight = getComputedStyle(filterElem).height;
              //  const heightWithoutPadding = parseInt(filterHeight, 10) - 15 + "px";
              //  this.filterHeight = filterHeight;
              //  document.body.style.setProperty("--filter", heightWithoutPadding);
              //}
            }, 500);
          },
          changeConfig(visibility) {
            this.showConfig = !this.showConfig;
            localStorage.setItem("configVisibility", this.showConfig);
          },

          changeTheme(themePath) {
            this.currentTheme = themePath;
            localStorage.setItem("selectedTheme", themePath);
            applyTheme(themePath);
          },
          loadConfig() {
            const savedConfig = localStorage.getItem("configVisibility");
            if (savedConfig !== null) {
              this.showConfig = savedConfig === "true";
            }

            const savedTheme = localStorage.getItem("selectedTheme");
            if (savedTheme) {
              this.currentTheme = savedTheme;
              applyTheme(savedTheme);
            }
          },
        };
      }

      function applyTheme(themePath) {
        const linkElement = document.getElementById("themeStylesheet");
        linkElement.href = themePath;
      }
    </script>
  </body>

  {{ $test:= 0 }}

  {{ if $test }}
    <body>
      <div x-data="{navBarHeight: '', navTabHeight: ''}" x-init="updateNavBarHeight" @resize.window="updateNavBarHeight">
        <div x-ref="navBar">
          <span>
            <span> navBarHeight: <span x-text="navBarHeight"></span> </span>
            <span> navTabHeight: <span x-text="navTabHeight"></span> </span>
          </span>
        </div>
        <main x-data="{selectedId: null}" x-init="updateNavTabHeight" @resize.window="updateNavTabHeight">
          <div x-ref="navTab">
            test
            <hr />
          </div>
          <p>something else</p>
        </main>
      </div>

      <script>
        function updateNavBarHeight() {
          const navBarElem = this.$refs.navBar;
          if (navBarElem) {
            const navBarHeight = getComputedStyle(navBarElem).height;
            this.navBarHeight = navBarHeight;
            document.body.style.setProperty("--navBar", navBarHeight);
          }
        }
        function updateNavTabHeight() {
          const navTabElem = this.$refs.navTab;
          if (navTabElem) {
            const navTabHeight = getComputedStyle(navTabElem).height;
            this.navTabHeight = navTabHeight;
            document.body.style.setProperty("--navTab", navTabHeight);
          }
        }
      </script>
    </body>
  {{ end }}
</html>
