{{ define "main" }}
  <div
    class="bg-client-800 flex w-full items-center justify-between rounded-t-md">
    <div class="text-client-400 ml-3 py-3">
      <span>View As</span>
      <span>Mano Sebastiano Argenti</span>
    </div>
    {{/* {{ partial "client/switch-user.html" (dict "place" "top") }} */}}
  </div>
  <h1>test</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, magnam!
    Asperiores provident, officiis eum saepe nemo omnis, assumenda quidem ipsam
    non, mollitia vero. Maxime ut deserunt nihil recusandae assumenda quas!
  </p>
{{ end }}
