<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body
    x-data="dashboard()"
    @menu-open="menu_open = $event.detail.menu_open"
    @resize.window="hideOnMobile = window.innerWidth > mobileSize,  window.innerWidth > mobileSize ? menu_open = true : menu_open = false"
    @length.window="hideOnMobile = window.innerWidth > mobileSize,  window.innerWidth > mobileSize ? menu_open = true : menu_open = false"
    :class="hideOnMobile ? 'mobile' : ''"
    class=" xxray
    theme-{{ .Site.Params.theme }}
    relative h-screen bg-[#f5f5f5] font-sans"
  >
    {{ partial "blocks/dev.html" ( dict "zIndex" true ) }}
    {{ partial "client/header.html" . }}
    <div class="relative flex h-screen h-[calc(var(--vh,1vh)*100)]">
      {{ partial "client/aside.html" . }}
      <main class="pt-menuHeight sm:pt-menuHeightSm h-screen h-[calc(var(--vh,1vh)*100)] w-full">
        <div class="mx-auto mt-6 w-full px-2 sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px]">
          {{- block "main" . }}{{- end }}
        </div>
      </main>
      <div x-show="menu_open" x-transition.duration.500ms x-on:click="$dispatch( 'menu-open', { menu_open : false } )" class="bg-client-900 absolute inset-0 z-[4] block h-full w-full bg-opacity-20 backdrop-blur-[2px] sm:hidden"></div>
    </div>
    <div x-show="dev" class="fixed right-[10px] bottom-[10px] z-50 block rounded bg-white p-3 text-xs shadow-lg">
      <ul>
        <li>
          <span>
            hideOnMobile:
            <span x-text="hideOnMobile"></span>
          </span>
        </li>
        <li>
          <span>
            menu_open:
            <span x-text="menu_open"></span>
          </span>
        </li>
      </ul>
    </div>
  </body>
  <script>
    let vh = window.innerHeight * 1.01;
    console.log(window.innerHeight);
    document.documentElement.style.setProperty("--vh", `${vh}px`);

    //window.onresize = function (event) {
    //  this.vh = window.innerHeight * 0.01;
    //  document.documentElement.style.setProperty("--vh", `${vh}px`);
    //};

    function dashboard() {
      return {
        //dev: false,
        dev: true,
        menu_open: true,
        hideOnMobile: true,
        mobileSize: 640,

        //window.onresize = function(event) {
        //window.onresize = function (event) {
        //
        //  if (minWidth > this.mobileSize ) {
        //    this.menu_open = true;
        //  } else {
        //    this.menu_open = false,
        //    this.mainMenuOpen = false;
        //  }
        //
        //},

        aside() {
          return {
            menuOpen: false,
          };
        },
      };
    }
  </script>
</html>
