{{ define "main" }}
  <!-- {{ partial "form-1.html" . }}
  {{ partial "form-2.html" . }}
  {{ partial "form-3.html" . }}
  {{ partial "form-4.html" . }} -->

  <div class="p-3">
    <div class="rounded border border-gray-200 bg-slate-50 p-3 dark:bg-slate-900 dark:text-slate-200">
      <div class=" container max-w-4xl">
        <div
          x-data=" fields: [
          {{ range $.Site.Data.kyc.forms }}
            {{ range .fieldGroups }}
              {{ range .fields }}
                {{ jsonify . }}
              {{ end }}
            {{ end }}
          {{ end }}
        ]
        "
        >
          <div></div>
        </div>

        {{ range $.Site.Data.kyc.forms }}
          <h2 class="text-xl">
            {{ .title }}
          </h2>
          <ul>
            {{ range .fieldGroups }}
              <li class=" flex flex-col">
                <h3 class="py-2 font-bold">
                  {{ .title }}
                </h3>
                <div class="xxray flex flex-col">
                  {{ .labelPosition }}
                  {{ range .fields }}
                    {{ partial "components/fields/_field.html" . }}
                  {{ end }}
                </div>
              </li>
            {{ end }}

          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
