{{ define "main" }}
  <!-- <div class="color iwm sogen color-wdx1-primary color-wdx1-secondary color-wdx1-info color-wdx1-success color-wdx1-warning color-wdx1-dark color-wdx1-light" data-color="b1-light">b1-light</div> -->
  <!-- <div class="color color-wdx2-primary color-wdx2-secondary color-wdx2-info color-wdx2-success color-wdx2-warning color-wdx2-dark color-wdx2-light" data-color="b1-light">b1-light</div> -->
  <!-- <div class="color color-b-primary color-b-secondary color-b-info color-b-success color-b-warning color-b-dark color-b-light" data-color="b1-light">b1-light</div> -->
  <!-- <button class="btn bt-link" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="true" aria-controls="collapseb collapsewdx1 collapsewdx2 collapsewdx3 collapserc11">close all</button> -->
  <div class=""></div>
  {{ $singleRowPerBrand:= false }}
  {{ $singleRowPerBrand:= true }}

  {{ $shades:= $.Site.Data.colors.shades }}
  {{ $shades:= $.Site.Data.colors.shadesNew }}
  {{ $themes:= $.Site.Data.colors.themes }}
  {{ $themes:= $.Site.Data.colors.themesNew }}
  {{ $colors:= $.Site.Data.colors.colorsNew }}
  {{ $colors:= $.Site.Data.colors.colors }}

  {{ if $singleRowPerBrand }}
    <div class="d-flex flex-col">
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "wdx" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "rc" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "cs" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "q" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "rmm" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "iwm" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
      {{ partial "components/atoms/_single-brand-colors.html" (dict "themeName" "socgen" "shades"  $shades "themes"  $themes "dataColors" $colors) }}
    </div>
  {{ else }}
    <div class="d-flex flex-col">
      {{ partial "components/atoms/colors.html" (dict "themeName" "wdx" "shades"  $shades "themes"  $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "rc" "shades"  $shades "themes"  $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "cs" "shades"  $shades "themes"  $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "q" "shades"  $shades "themes"  $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "rmm" "shades"  $shades "themes"  $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "iwm" "shades"  $shades "themes" $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "socgen" "shades"  $shades "themes" $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "bs" "shades"  $shades "themes" $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "netflix" "shades"  $shades "themes" $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "monster" "shades"  $shades "themes" $themes "dataColors" $colors ) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "raiffeisen" "shades"  $shades "themes" $themes "dataColors" $colors ) }}


      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "b" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "wdx_new" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "rc1" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "rc2" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "netflix" "dataColors" $.Site.Data.colors) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "raiffeisen" "dataColors" $.Site.Data.colors) }}
      {{ partial "components/atoms/colors.html" (dict "themeName" "monster" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "cazenove" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "cai" "dataColors" $.Site.Data.colors) }} -->
      <!-- {{ partial "components/atoms/colors.html" (dict "themeName" "wdx3" "dataColors" $.Site.Data.colors) }} -->
    </div>
  {{ end }}

  {{ range $theme := $.Site.Data.colors.themes }}
    {{ $theme := . }}
    <button class="btn bt-link" type="button" data-toggle="collapse" data-target="#collapse{{ $theme }}" aria-expanded="false" aria-controls="collapse{{ $theme }}">
      {{ . }}
    </button>
  {{ end }}

  {{ $footer := true }}

  {{ if $footer }}
    <div class="d-flex gap-2 py-1">
      <div class="color font-bold">Primary</div>
      <div class="color font-bold">Secondary</div>
      <div class="color font-bold">Info</div>
      <div class="color font-bold">Success</div>
      <div class="color font-bold">Warning</div>
      <div class="color font-bold">Danger</div>
      <div class="color font-bold">Dark</div>
      <div class="color font-bold">Light</div>
    </div>
    {{ range $theme := $.Site.Data.colors.themes }}
      <div class="multi-collapse collapse" id="collapse{{ $theme }}">
        <div class="d-flex gap-2 py-1">
          {{ range $colors := $.Site.Data.colors.colors }}
            <div class="color color-{{ $theme }}-{{ . }}" data-color="{{ . }}">{{ $theme }}</div>
          {{ end }}
        </div>
      </div>
    {{ end }}
    <div class="d-flex gap-2 py-1">
      {{ range  $index, $contact := $.Site.Data.colors.wdx2 }}
        <div class="color color-{{ . }}" data-color="{{ . }}">{{ . }}</div>
      {{ end }}
    </div>
    <div class="d-flex gap-2 py-1">
      {{ range  $index, $contact := $.Site.Data.colors.wdx1 }}
        <div class="color color-{{ . }}" data-color="{{ . }}">{{ . }}</div>
      {{ end }}
    </div>

    <!-- <div class="d-flex m-4">
      <div class="bg-b-1 p-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        <div class="mt-2 rounded bg-white p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        </div>
      </div>
      <div class="bg-b-2 p-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        <div class="mt-2 rounded bg-white p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        </div>
      </div>
    </div> -->
    <div class="d-flex m-4">
      <div class="bg-b0-1 p-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        <div class="mt-2 rounded bg-white p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        </div>
      </div>
      <div class="bg-b0-2 p-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        <div class="mt-2 rounded bg-white p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sit cumque recusandae corrupti autem rerum laborum, a debitis aut ut harum adipisci, eaque porro voluptas ullam est hic eum eveniet!</p>
        </div>
      </div>
    </div>
    {{ range $theme := $.Site.Data.colors.themes }}
    {{ end }}
  {{ end }}


  <!-- 
    <table class="table">
      {{ range  $index, $contact := $.Site.Data.icons.icons }}
    <tr>
      <td>
        {{ .icon }}
      </td>
      <td>
        {{ partial "components/atoms/icon.html" (dict "icon" .icon  "class" "icon ml-4 icon--medium icon--color-currentColor") }}
      </td>
    </tr>
  {{ end }}
    </table>
    {{ partial "components/atoms/btn.html" (dict "content" "Play") }}
    {{ partial "components/organisms/timeline.html" (dict "space" false "type" "headForm" ) }}
    {{ partial "components/organisms/pull-out.html" (dict "space" false) }}
  -->
  {{ partial "components/organisms/advanced-search.html" (dict "space" false "results" $.Site.Data.searchResults ) }}


  <!-- <div class="container-fluid bg-danger mt-5  py-5">
    <div class="row">
      <div class="col">
        <h3>Bootstrap grid</h3>
      </div>
    </div>
    <div class="row">
      {{ partial "card.temp.html" (dict "cardClass" false "class" "col-2 col-md-4" "title" "Bootstrap grid 1") }}
      {{ partial "card.temp.html" (dict "cardClass" false "class" "col-2 col-md-4" "title" "Bootstrap grid 1") }}
      {{ partial "card.temp.html" (dict "cardClass" false "class" "col-2 col-md-4" "title" "Bootstrap grid 1") }}
    </div>
  </div>
  <div class="container-fluid bg-success  py-5">
    <div class="row">
      <div class="col">
        <h3>3 flex start</h3>
      </div>
    </div>
    <div class="d-flex justify-content-start flex-wrap gap-2">
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 1") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 2") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
    </div>
  </div>
  <div class="container-fluid bg-success  py-5">
    <div class="row">
      <div class="col">
        <h3>4 flex start</h3>
      </div>
    </div>
    <div class="d-flex justify-content-start flex-wrap gap-2">
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 1") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 2") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
    </div>
  </div>
  <div class="container-fluid bg-danger py-5">
    <div class="row">
      <div class="col">
        <h3>3 flex center</h3>
      </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap gap-2">
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 1") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 2") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
    </div>
  </div>
  <div class="container-fluid bg-danger py-5">
    <div class="row">
      <div class="col">
        <h3>4 flex center</h3>
      </div>
    </div>
    <div class="d-flex justify-content-around flex-wrap gap-2">
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 1") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 2") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
      {{ partial "card.temp.html" (dict "cardClass" "" "class" false "title" "Flex 3") }}
    </div>
  </div> -->
{{ end }}
