{{ define "main" }}
  <div class="bg"></div>
  <!-- partial:index.partial.html -->

  <div id="log"></div>
  <!-- partial -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.4.1/jquery.jsPlumb-1.4.1-all-min.js"></script>
  <script src="./script.js"></script> -->

  <div class="container-fluid mt-4">
    <div class="d-flex gap-2">
      <div class="w-1/3">
        <span class="mb-2"> Activities </span>
        <div class="">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">All</button>
            <button type="button" class="btn btn-outline-secondary">My Pending</button>
            <button type="button" class="btn btn-outline-secondary">All Panding</button>
            <button type="button" class="btn btn-outline-secondary">Upcoming</button>
            <button type="button" class="btn btn-outline-secondary">Overdue</button>
          </div>
        </div>
        <div class="reset border-t border-slate-100 py-4">
          {{ range $index, $address := first 10 $.Site.Data.activities.upcomingActivities }}
            <div class="d-flex {{ if $index }}border-t{{ end }} mb-2  p-2">
              <div class=" pr-4">
                <div class="flex h-[2rem] w-[2rem] items-center justify-center rounded-full bg-slate-300 text-slate-50">
                  <i class="fas fa-{{ .type }}"></i>
                </div>
              </div>
              <div class="pt-1">
                <strong>
                  {{ .subject }}

                </strong>
                <div class="d-flex justify-between py-2 text-sm">
                  <div>
                    <i>
                      created by:
                      {{ .creator }}
                    </i>
                  </div>
                  <div class="flex items-center justify-start">
                    <i class="far fa-calendar xtext-xs mr-2 text-slate-300"></i>
                    <span class="mr-2 inline-block"> due </span>
                    <i class="mr-2 inline-block">
                      {{ .due }}
                    </i>
                  </div>
                </div>
                <div class="py-2">
                  <div x-data="{ expanded: false }">
                    <div x-show="expanded" x-collapse.min.25px>
                      <div class="mb-2">
                        {{ .content }}
                      </div>
                      <hr />
                      <div class="d-flex mt-2 justify-between">
                        <div class="d-flex flex-column">
                          <strong class="text-sm">Regarding</strong>
                          {{ range $index, $address := .regarding }}
                            {{ if $index }},{{ end }}
                            {{ .name }}
                          {{ end }}
                        </div>
                        <div class="d-flex flex-column items-end">
                          <strong class="text-sm">Ouner</strong>
                          {{ .owner }}
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 flex justify-between">
                      <div>
                        <button class="text-primary rounded bg-slate-200 px-2 py-1" @click="expanded = ! expanded">
                          <span x-show="!expanded">
                            More
                            <i class="fas fa-chevron-down ml-1 text-xs"></i>
                          </span>
                          <span x-show="expanded">
                            Less
                            <i class="fas fa-chevron-up ml-1 text-xs"></i>
                          </span>
                        </button>
                      </div>
                      <div class=" flex items-center gap-1">
                        {{ range .actions }}
                          <a href="{{ .link }}" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas  {{ .icon }} mr-1 "></i>
                            {{ .copy }}
                          </a>
                        {{ end }}
                        {{ if .link }}
                          <a href="{{ .link }}" target="_blank" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas fa-square-arrow-up-right mr-1 "></i>
                            Open
                          </a>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="w-1/3">
        <span class="mb-2"> Notes </span>
        <div class="">
          <div class="btn-group" role="group" aria-label="Basic example">
            <div x-data="popOver" class="relative">
              <button x-ref="btn" @click="togglePopover()" type="button" class="btn btn-secondary" @mouseover.throttle="position()">
                <i class="fa-solid fa-plus"></i>
                Note
              </button>
              <div x-show="show" class="xbottom-[100%] absolute z-20 min-w-[10rem] rounded bg-white shadow-md" style="margin-bottom: .5rem;">
                <div x-ref="pop">
                  <div x-show="popTitle" class="rounded-t bg-slate-200 px-2 py-1">
                    <strong x-text="popTitle"></strong>
                  </div>
                  <div x-show="popBody" class="rounded-b">
                    <div x-text="popBody" class="px-2 py-1 text-sm"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          document.addEventListener("alpine:init", () => {
            Alpine.data("popOver", () => ({
              show: false,
              popTitle: "Title",
              popBody: "my message",

              togglePopover() {
                this.show = !this.show;
              },
              position() {
                // this.show = !this.show;

                this.$refs.pop.style.display = "block";
                console.log(this.$refs.pop.clientWidth);

                let pop = this.$refs.pop.getBoundingClientRect();
                let btn = this.$refs.btn.getBoundingClientRect();
                let body = document.body.getBoundingClientRect();

                // console.log(btn.width, btn.height, btn.x, btn.y, btn);
                // console.log(pop.width, pop.height, pop.x, pop.y, pop);
                // console.log(body.width, body.height);

                if (body.height - btn.y - btn.height > pop.height) {
                  //console.log("space-bottom");
                  //console.log(pop.height);
                  this.$refs.pop.style.top = [btn.height + 10, "px"].join("");
                } else {
                  this.$refs.pop.style.bottom = [btn.height + 10, "px"].join("");
                  if (body.height - btn.y > pop.height) {
                  }
                }
              },
            }));
          });

          // document.addEventListener("alpine:init", () => {
          //   Alpine.data("popOver", {
          //     console.log("loaded")
          //
          //   });
          // });

          // @click.outside="show = false" @click="position()" @mouseover.away.throttle="show = false" @mouseover.throttle="show = !show"
        </script>
        <div class="reset border-t border-slate-100 py-4">
          {{ range $index, $address := first 10 $.Site.Data.activities.upcomingActivities }}
            <div class="d-flex {{ if $index }}border-t{{ end }} mb-2  p-2">
              <div class=" pr-4">
                <div class="flex h-[2rem] w-[2rem] items-center justify-center rounded-full bg-slate-300 text-slate-50">
                  <i class="fas fa-{{ .type }}"></i>
                </div>
              </div>
              <div class="pt-1">
                <strong>
                  {{ .subject }}

                </strong>
                <div class="d-flex justify-between py-2 text-sm">
                  <div>
                    <i>
                      created by:
                      {{ .creator }}
                    </i>
                  </div>
                  <div class="flex items-center justify-start">
                    <i class="far fa-calendar xtext-xs mr-2 text-slate-300"></i>
                    <span class="mr-2 inline-block"> due </span>
                    <i class="mr-2 inline-block">
                      {{ .due }}
                    </i>
                  </div>
                </div>
                <div class="py-2">
                  <div x-data="{ expanded: false }">
                    <div x-show="expanded" x-collapse.min.25px>
                      <div class="mb-2">
                        {{ .content }}
                      </div>
                      <hr />
                      <div class="d-flex mt-2 justify-between">
                        <div class="d-flex flex-column">
                          <strong class="text-sm">Regarding</strong>
                          {{ range $index, $address := .regarding }}
                            {{ if $index }},{{ end }}
                            {{ .name }}
                          {{ end }}
                        </div>
                        <div class="d-flex flex-column items-end">
                          <strong class="text-sm">Ouner</strong>
                          {{ .owner }}
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 flex justify-between">
                      <div>
                        <button class="text-primary rounded bg-slate-200 px-2 py-1" @click="expanded = ! expanded">
                          <span x-show="!expanded">
                            More
                            <i class="fas fa-chevron-down ml-1 text-xs"></i>
                          </span>
                          <span x-show="expanded">
                            Less
                            <i class="fas fa-chevron-up ml-1 text-xs"></i>
                          </span>
                        </button>
                      </div>
                      <div class=" flex items-center gap-1">
                        {{ range .actions }}
                          <a href="{{ .link }}" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas  {{ .icon }} mr-1 "></i>
                            {{ .copy }}
                          </a>
                        {{ end }}
                        {{ if .link }}
                          <a href="{{ .link }}" target="_blank" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas fa-square-arrow-up-right mr-1 "></i>
                            Open
                          </a>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="w-1/3">
        <span class="mb-2"> Marketing Lists </span>
        <div class="">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">
              <i class="fa-solid fa-plus"></i>
              Marketing List
            </button>
          </div>
        </div>
        <div class="reset border-t border-slate-100 py-4">
          {{ range $index, $address := first 10 $.Site.Data.activities.upcomingActivities }}
            <div class="d-flex {{ if $index }}border-t{{ end }} mb-2  p-2">
              <div class=" pr-4">
                <div class="flex h-[2rem] w-[2rem] items-center justify-center rounded-full bg-slate-300 text-slate-50">
                  <i class="fas fa-{{ .type }}"></i>
                </div>
              </div>
              <div class="pt-1">
                <strong>
                  {{ .subject }}

                </strong>
                <div class="d-flex justify-between py-2 text-sm">
                  <div>
                    <i>
                      created by:
                      {{ .creator }}
                    </i>
                  </div>
                  <div class="flex items-center justify-start">
                    <i class="far fa-calendar xtext-xs mr-2 text-slate-300"></i>
                    <span class="mr-2 inline-block"> due </span>
                    <i class="mr-2 inline-block">
                      {{ .due }}
                    </i>
                  </div>
                </div>
                <div class="py-2">
                  <div x-data="{ expanded: false }">
                    <div x-show="expanded" x-collapse.min.25px>
                      <div class="mb-2">
                        {{ .content }}
                      </div>
                      <hr />
                      <div class="d-flex mt-2 justify-between">
                        <div class="d-flex flex-column">
                          <strong class="text-sm">Regarding</strong>
                          {{ range $index, $address := .regarding }}
                            {{ if $index }},{{ end }}
                            {{ .name }}
                          {{ end }}
                        </div>
                        <div class="d-flex flex-column items-end">
                          <strong class="text-sm">Ouner</strong>
                          {{ .owner }}
                        </div>
                      </div>
                    </div>
                    <div class="mt-3 flex justify-between">
                      <div>
                        <button class="text-primary rounded bg-slate-200 px-2 py-1" @click="expanded = ! expanded">
                          <span x-show="!expanded">
                            More
                            <i class="fas fa-chevron-down ml-1 text-xs"></i>
                          </span>
                          <span x-show="expanded">
                            Less
                            <i class="fas fa-chevron-up ml-1 text-xs"></i>
                          </span>
                        </button>
                      </div>
                      <div class=" flex items-center gap-1">
                        {{ range .actions }}
                          <a href="{{ .link }}" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas  {{ .icon }} mr-1 "></i>
                            {{ .copy }}
                          </a>
                        {{ end }}
                        {{ if .link }}
                          <a href="{{ .link }}" target="_blank" class="rounded bg-slate-200 px-2 py-1 no-underline hover:no-underline">
                            <i class="fas fa-square-arrow-up-right mr-1 "></i>
                            Open
                          </a>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
