{{ define "main" }}
  <div class="bg"></div>
  <!-- partial:index.partial.html -->

  <div id="log"></div>
  <!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.4.1/jquery.jsPlumb-1.4.1-all-min.js"></script>
  <script src="./script.js"></script>

  <div class="xq xrc wdx position-relative">
    <!-- <div class="pullOut position-fixed flex-column" x-show="pulloutTab" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90"></div> -->
    {{ partial "pull-outs/pulloutTab.html" . }}
    {{ partial "pull-outs/pulloutAccordion.html" . }}
    {{ partial "pull-outs/pulloutWisard.html" . }}
    {{ partial "pull-outs/pulloutAddress.html" . }}
    <script>
      const scroller = document.querySelector("#scroll");
      function toTop() {
        scroller.scrollTop = 0; // For Safari
        document.scroller.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
  </div>
  {{ partial "components/organisms/relationships.html" . }}
{{ end }}
