<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body
    id="topPage"
    x-data="dashboard()"
    class="xxray
  theme-{{ .Site.Params.theme }}
  dark:bg-darkNeutral-900/90 relative bg-neutral-100/30"
    :class="toggleMenu ? '' : 'overflow-y-hidden sm:overflow-y-auto'"
    x-init="init()"
    @sub-menu-open="overflowMenu = false"
    @resize.window="resize()"
  >
    {{/* {{ partial "blocks/dev.html" ( dict "zIndex" true ) }} */}}
    <header class="xxray dark:bg-darkNeutral-800 fixed z-20 flex w-full items-center justify-start border-red-500 bg-white shadow-lg shadow-neutral-300/20 dark:shadow-md dark:shadow-black/20">
      <div
        class="
        {{ if eq $.Site.Params.sideMenuTheme "light" }}
          bg-transparent sm:bg-brand-50/40
        {{ else if eq $.Site.Params.sideMenuTheme "dark" }}
          bg-brand-600
        {{ end }}
        xxray transition-all
        "
        :class="toggleMenu ? classMenuCtaWidthOpen : classMenuCtaWidth"
      >
        <button
          class="{{ if eq $.Site.Params.sideMenuTheme "light" }}
            text-black bg-transparent
          {{ else if eq $.Site.Params.sideMenuTheme "dark" }}
            text-brand-500 sm:text-white bg-white sm:bg-transparent
          {{ end }} flex h-[3.6rem] w-full 
          items-center justify-start
          "
          x-on:click="toggleMenu = !toggleMenu"
          class="px-0"
          style="--fa-display: flex"
        >
          <div class="xw-full ">
            <div class="hidden sm:block">
              <i class="fal fa-bars  h-[3rem] w-[3rem] items-center justify-center text-lg "></i>
            </div>
            <div class="block sm:hidden">
              <i class="fas fa-bars  h-[3rem] w-[3rem] items-center justify-center text-lg "></i>
            </div>
          </div>
          <span
            class=" {{ if eq $.Site.Params.sideMenuTheme "light" }}
              text-brand-400
            {{ else if eq $.Site.Params.sideMenuTheme "dark" }}
              text-brand-200 bg-brand-600
            {{ end }} hidden h-full items-center px-2
            text-sm
            "
            :class="toggleMenu ? 'sm:hidden md:hidden' : 'flex sm:flex md:flex'"
          >
            MENU
          </span>
        </button>
      </div>
      <div class="flex grow justify-between">
        <div class="">
          {{ partial "solopx-dash/language.html" . }}
        </div>
        <div class="flex">
          <button
            class="mr-2 flex h-full items-center px-2 text-xl "
            x-data="{
                    toggle: () => {
                        if (localStorage.theme === 'dark') {
                            localStorage.theme = 'light';
                            document.documentElement.classList.remove('dark');
                        } else {
                            localStorage.theme = 'dark';
                            document.documentElement.classList.add('dark');
                        }
                    },
                }"
            @click="toggle"
          >
            <span class="block dark:hidden"> <i class="far fa-moon text-brand-500  dark:text-brand-500"></i> </span>
            <span class="hidden dark:block"><i class="far fa-sun text-yellow-500/80"></i></span>
          </button>

          <div class="hidden h-full flex-col items-end justify-center sm:flex">
            <div class="flex gap-1">
              <span class="dark:text-darkNeutral-300 text-xs text-neutral-400">Welcome to the WDX</span>
              <span class="dark:text-darkNeutral-300 hidden text-xs text-neutral-400 md:block">Self-Service Portal</span>
            </div>
            <div class="dark:text-darkNeutral-100 text-sm font-bold text-neutral-700">Mano Sebastiano Argenti</div>
          </div>
          <div>
            {{ partial "solopx-dash/user-header.html" . }}
          </div>
        </div>
      </div>
    </header>
    <div class="flex" :class="toggleMenu ? 'relative' : ''">
      <side
        @sub-menu-open="menuOverflow()"
        x-ref="side"
        class="xxray  {{ if eq $.Site.Params.sideMenuTheme "light" }}
          bg-white
        {{ else if eq $.Site.Params.sideMenuTheme "dark" }}
          bg-brand-500
        {{ end }} fixed  z-10 block h-[calc(var(--vh,1vh)*100)]
        overflow-y-auto
        "
        :class="toggleMenu ? classSideWidth : classSideWidthOpen"
      >
        <div class="flex h-full w-full flex-col justify-between">
          {{ $menu := newScratch }}
          {{ if eq .Site.Params.theme "cai" }}
            {{ $menu.Set "menu" $.Site.Data.menu.cai }}
          {{ else if eq .Site.Params.theme "wdx1" }}
            {{ $menu.Set "menu" $.Site.Data.menu.menu }}
          {{ end }}
          {{ $menu := $menu.Get "menu" }}
          {{ $theme :=  $.Site.Params.sideMenuTheme }}
          {{ partial "nav.html" ( dict "theme" (string $theme) "menu" $menu ) }}
        </div>
      </side>
      <main class=" ml-0 mt-[3.6rem]  w-full md:ml-[15rem]" :class="toggleMenu ? classMainWidth  : classMainWidthOpen">
        {{ partial "solopx-dash/card-pills.html" (dict "bg" false "tiles" $.Site.Data.tilesWidget.tiles ) }}


        <div class="mx-auto w-full  px-2 sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1530px]">
          {{ partial "solopx-dash/user.html" (dict "bg" true "user" $.Site.Data.user.user ) }}
          {{ partial "solopx-dash/numbers.html"  (dict "bg" false "numbers" $.Site.Data.numbers.numbers ) }}
          {{ partial "solopx-dash/filters.html" . }}
          {{ partial "solopx-dash/users.html" . }}
        </div>
      </main>
    </div>

    <div x-show="!toggleMenu" x-transition.duration.300ms x-on:click="toggleMenu = true" class="absolute inset-0 z-[4] block h-full w-full bg-white/40 backdrop-blur-[2px] dark:bg-black/40 md:hidden"></div>

    <div x-show="dev" class="fixed right-[10px] bottom-[10px] z-50 block rounded bg-slate-500 p-3 text-xs text-white shadow-lg">
      <ul>
        <li>
          <span>
            overflowMenu:
            <span x-text="overflowMenu"></span>
          </span>
        </li>
        {{/* <li>
          <span>
          toggleSubMenu:
          <span x-text="toggleSubMenu"></span>
          </span>
          </li>
        */}}

        {{/* <li>
          <span>
          toggleMenu:
          <span x-text="toggleMenu"></span>
          </span>
          </li>
        */}}

        {{/* <li>
          <span>
          vh / windowHeight:
          <span x-text="vh"></span> /
          <span x-text="windowHeight"></span>
          </span>
          </li>
          <li>
          <span>
          menuScroll:
          <span x-text="menuScroll"></span>
          </span>
          </li>
          <li>
          <span>
          isMobile:
          <span x-text="isMobile"></span>
          </span>
          </li>
          */}}
      </ul>
    </div>
  </body>
  <script>
    function dashboard() {
      return {
        dev: true,
        dev: false,
        toggleMenu: false,
        overflowMenu: true,
        isMobile: null,
        mobileSize: 640,
        menuScroll: null,

        classMenuCtaWidth: "w-[3.2rem] sm:w-[15rem]  md:w-[18rem]",
        classMenuCtaWidthOpen: "overflow-hidden w-[3.2rem] sm:w-[3.2rem] md:w-[3.2rem]",
        classSideWidth: "w-0 overflow-hidden sm:w-[3.2rem] md:w-[3.2rem]",
        classSideWidthOpen: "w-[90vw] sm:w-[15rem]  md:w-[18rem]",
        classMainWidth: "sm:ml-[3.2rem] md:ml-[3.2rem]",
        classMainWidthOpen: "md:ml-[18rem]",

        vh: window.innerHeight * 0.01,
        windowHeight: window.innerHeight,

        menuOverflow() {
          if (this.overflowMenu && this.toggleMenu) {
            this.$refs.side.style.setProperty("overflow", "initial");
          } else if (this.toggleMenu) {
            this.$refs.side.style.setProperty("overflow", "visible");
          }
        },

        init() {
          this.windowHeight = window.innerHeight;
          mainMenuHeight = this.$refs.mainMenu.offsetHeight;
          secondaryMenuHeight = this.$refs.secondaryMenu.offsetHeight;
          windowSizeWidth = window.innerWidth;
          windowSizeHeight = window.innerHeight;

          this.$refs.side.style.setProperty("--vh", `${this.vh}px`);
          if (this.mainMenuHeight + this.secondaryMenuHeight > this.windowSizeHeight) {
            this.menuScroll = true;
            this.$refs.side.classList.add("overflow-y-scroll");
          } else {
            this.menuScroll = false;
          }

          if (windowSizeWidth <= this.mobileSize) {
            this.toggleMenu = true;
          } else if (windowSizeWidth > this.mobileSize) {
            this.toggleMenu = false;
          }
        },
        resize() {
          this.windowHeight = window.innerHeight;
          this.vh = window.innerHeight * 0.01;
          this.$refs.side.style.setProperty("--vh", `${this.vh}px`);
          this.isMobile = window.innerWidth < this.mobileSize ? true : false;
        },
      };
    }

    function subMenu() {
      return {
        toggleSubMenu: false,
        active: false,
        activeMenu(menu) {
          if (menu) {
            this.active = true;
          }
        },
      };
    }
  </script>
</html>
