{{ define "main" }}
  <div class="d-flex flex-column bg-soft-info h-screen">
    <header class="h-nav d-flex align-items-center bg-info p-2">
      <nav class="w-100 bg-white p-2">
        <a href="/">
          <strong> navigation </strong>
        </a>
      </nav>
    </header>
    <div class="d-flex h-content overflow-hidden">
      <side class="h-content min-side-w d-flex flex-column bg-info overflow-hidden p-2">
        <div class="bg-white p-2">
          <h1 class="text-primary">Profile</h1>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="overflow-auto bg-white p-2">
          <h1 class="text-primary">Personas</h1>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="overflow-auto bg-white p-2">
          <h1 class="text-primary">Settings</h1>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </side>
      <main class="h-content flex-grow-1 bg-info overflow-auto p-2">
        <div class="bg-white p-2">
          <h3 class="text-primary">Dashboard</h3>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary">Overview</button>
            <button type="button" class="btn btn-outline-secondary">Relationship</button>
            <button type="button" class="btn btn-outline-secondary">Portfolios</button>
            <button type="button" class="btn btn-outline-secondary">Documents</button>
            <button type="button" class="btn btn-outline-secondary">Interactions</button>
            <button type="button" class="btn btn-outline-secondary">Contact connections</button>
            <button type="button" class="btn btn-outline-secondary">KYC information</button>
            <button type="button" class="btn btn-outline-secondary">Drills ...</button>
          </div>
          <div class="py-2">
            <h3>Widgets</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora suscipit atque dicta nemo corporis magni cum asperiores, aliquam laborum repellat animi commodi praesentium mollitia doloremque perferendis, vero optio. Praesentium, earum!</p>
          </div>
        </div>
      </main>
    </div>
  </div>
{{ end }}
