{{ define "main" }}
  <div class="flex justify-start p-3">
    <div class=" rouded rounded-full bg-slate-400 px-3 py-1 text-sm text-white">tailwind</div>
  </div>
  <div class="pt-2">
    <ul class="wdx flex flex-wrap justify-center border-b border-gray-200 text-center text-sm font-medium text-gray-500 ">
      {{ $iconVisible := $.Site.Data.tabs.kyc.iconVisible }}
      {{ range $indexForm, $form := $.Site.Data.tabs.kyc.items }}
        {{ $item := newScratch }}
        {{ $active := "" }}
        {{ $done := "" }}
        {{ $icon := "" }}
        {{ if .active }}
          {{ $item.Set "active" "active cursor-default border-b-blue-500 border-t-gray-100 bg-gray-100 text-blue-600" }}
          {{ if .done }}
            {{ $item.Set "done" "text-green-400 border-white hover:border-b-green-100 hover:border-t-green-50  hover:bg-green-50 hover:text-green-600" }}
            {{ $item.Set "icon" "far fa-check-circle" }}
          {{ else }}
            {{ $item.Set "done" "border-white py-[.8rem] px-5 hover:border-b-blue-100 hover:border-t-blue-50 hover:bg-blue-50 hover:text-gray-600" }}
            {{ $item.Set "icon" "far fa-circle opacity-20 text-green-500" }}
          {{ end }}
        {{ else }}
          {{ $item.Set "icon" "far fa-circle opacity-20 text-green-500" }}
          {{ $item.Set "active" " border-white bg-white text-grey-600" }}
          {{ if .done }}
            {{ $item.Set "icon" "fas fa-check-circle text-green-500" }}
          {{ end }}
        {{ end }}
        {{ $active := $item.Get "active" }}
        {{ $done := $item.Get "done" }}
        {{ $icon := $item.Get "icon" }}
        <li>
          <a href="#" class="{{ $done }} {{ $active }} inline-block border-y-[4px]  py-[.8rem] px-5 hover:no-underline">
            {{ if $iconVisible }}
              <i class="{{ $icon }} mr-2"></i>
            {{ end }}
            {{ .title }}
            {{ .active }}
          </a>
        </li>
      {{ end }}


      <!-- <li>
        <a href="#" aria-current="page" class="active inline-block cursor-default border-y-[4px] border-b-blue-500 border-t-gray-100 bg-gray-100 py-[.8rem] px-5 text-blue-600 hover:no-underline">
          <i class="far fa-circle mr-2 opacity-20"></i>
          Profile (active)
        </a>
      </li>
      <li>
        <a href="#" class="inline-block border-y-[4px] border-white py-[.8rem] px-5 text-green-400 hover:border-b-green-100 hover:border-t-green-50  hover:bg-green-50 hover:text-green-600 hover:no-underline">
          <i class="fas fa-check-circle mr-2 text-green-500"></i>
          Settings (done)
        </a>
      </li>
      <li>
        <a href="#" class="inline-block border-y-[4px] border-white py-[.8rem] px-5 hover:border-b-blue-100 hover:border-t-blue-50 hover:bg-blue-50 hover:text-gray-600 hover:no-underline ">
          <i class="far fa-circle mr-2 opacity-20"></i>
          Contacts
        </a>
      </li>
      <li>
        <a class="inline-block cursor-not-allowed border-y-[4px] border-white py-[.8rem] px-5 text-gray-400 hover:border-white hover:no-underline ">
          <i class="far fa-circle mr-2 opacity-20"></i>
          Disabled
        </a>
      </li> -->
    </ul>
  </div>
{{ end }}
