{{ define "main" }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 1 "max" 1 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 2 "max" 2 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 3 "max" 3 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 4 "max" 4 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 5 "max" 5 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 6 "max" 6 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 7 "max" 7 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 8 "max" 8 "min" false "tiles" $.Site.Data.tilesWidget.tiles ) }}

  {{ partial "blocks/tiles.html" (dict "tilesCount" 1 "max" false "min" 30 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 2 "max" false "min" 20 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 3 "max" false "min" 24 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 4 "max" false "min" 24 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 5 "max" false "min" 22 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 6 "max" false "min" 16 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 7 "max" false "min" 14 "tiles" $.Site.Data.tilesWidget.tiles ) }}
  {{ partial "blocks/tiles.html" (dict "tilesCount" 8 "max" false "min" 14 "tiles" $.Site.Data.tilesWidget.tiles ) }}


  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
{{ end }}
