$primary: rgb(221, 0, 99) !default;
$brand: #644fc1 !default;
$brand-base: #000;
$brand-ink: #fff;

$info-radix: "blue";
$success-radix: "grass";
$warning-radix: "yellow";
$danger-radix: "red";

$appTheme: "Caos" !default;
$appTheme: "RC" !default;
$appTheme: "Light" !default;
$appTheme: "b4" !default;
$appTheme: "Caos1" !default;
$appTheme: "Flower" !default;
$appTheme: "Flower1" !default;
$appTheme: "WDX" !default;

.brand {
  display: none;
  border: none;
  background: none;
  color: inherit;
}

@if $appTheme == "Caos" {
  $brand: map.get($radix, "purple12");
  $primary: map.get($radix, "crimson10");
  $brand-base: lighten($brand, 30%);
  $info-radix: "sky";
  $success-radix: "lime";
  $warning-radix: "amber";
  $danger-radix: "crimson";
  .chaos {
    display: block !important;
  }
} @else if $appTheme == "Caos1" {
  $brand: rgb(221, 0, 99);
  $primary: #644fc1;
  $brand-base: darken($brand, 25%);
  .chaos {
    display: block !important;
  }
} @else if $appTheme == "Flower" {
  $brand: #151b22;
  $primary: #e10032;
  $brand-base: lighten($brand, 50%);
  .flower {
    display: block !important;
  }
} @else if $appTheme == "Flower1" {
  $brand: #e10032;
  $primary: #151b22;
  $brand-base: darken($brand, 40%);
  .flower1 {
    display: block !important;
  }
} @else if $appTheme == "WDX" {
  $primary: #294555;
  $brand: #335669;
  $brand-base: darken($brand, 25%);
  .wdx {
    display: block !important;
  }
} @else if $appTheme == "RC" {
  $primary: #375384;
  $brand: #001e41;
  $brand-base: lighten($brand, 25%);
  .rc {
    display: block !important;
  }
} @else if $appTheme == "Light" {
  $primary: hsl(288, 90%, 50%);
  $brand: hsl(273, 100%, 70%);
  $brand-base: lighten($brand, 25%);
  .light {
    display: block !important;
  }
}
