$theme-colors: (
  "white": $white,
  "brand": $brand,
  "soft-brand": color.adjust($brand, $lightness: 45%),
  "soft-primary": color.adjust($primary, $lightness: 45%),
  "soft-secondary": color.adjust($secondary, $lightness: 46%),
  "soft-success": color.adjust($success, $lightness: 45%),
  "soft-info": color.adjust($info, $lightness: 45%),
  "soft-warning": color.adjust($warning, $lightness: 35%),
  "soft-danger": color.adjust($danger, $lightness: 35%),
  "soft-light": color.adjust($light, $lightness: 45%),
  "soft-dark": color.adjust($dark, $lightness: 45%),
);

$spacers: (
  "08": (
    $spacer * 0.8,
  ),
);

// $body-bg: $brand;
// $body-color: $gray-900;

// $link-color: theme-color("primary");
// $component-active-bg: theme-color("primary");
// $progress-bar-bg: theme-color("primary");

// $link-color: $primary;
// $component-active-bg: $primary;
// $progress-bar-bg: $primary;

a {
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }
}
