<div class="sticky-top">
  <ul class="d-flex bg-alpha-brand-base-20 list-inline hidden-bg mb-3" id="pills-tab" role="tablist">
    <li class="xnav-item flex-grow-1" role="presentation">
      <button class="btn btn-sm btn-link w-100 nav-link active text-white" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Personal Info</button>
    </li>
    <li class="xnav-item flex-grow-1" role="presentation">
      <button class="btn btn-sm btn-link w-100 nav-link text-white" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tax residency</button>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="p-2">
      <h2>Personal</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="p-2">
      <h2>Tax Info</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis, voluptatum quaerat perferendis cupiditate fuga molestias quas, corrupti quis, voluptates ut modi earum beatae at nostrum hic dolore. Eum, ipsam!</p>
    </div>
  </div>
</div>
