{{ $themeName := .themeName }}
{{ $themes := .themes }}
{{ $dataColors := .dataColors }}
{{ $shades := .shades }}


<div class="{{ $themeName }} d-flex">
  {{ range $theme := $themes }}
    {{ if eq $theme $themeName }}
      <div class="color">
        <strong>{{ $theme }}</strong>
      </div>
      {{ range $color := $dataColors }}
        <div class="d-flex flex-col">
          <div class="color bg-{{ $theme }}-{{ $color }}">
            {{ $color }}
          </div>
          {{ range $shade := $shades }}
            <div class="color bg-{{ $theme }}-{{ $color }}-{{ $shade }}">
              {{ $shade }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
