{{ $themeName := .themeName }}
{{ $themes := .themes }}
{{ $dataColors := .dataColors }}
{{ $shades := .shades }}


<div class="{{ $themeName }}">
  {{ range $theme := $themes }}
    {{ if eq $theme $themeName }}
      {{ range $color := $dataColors }}
        <div class="color">
          <strong>{{ $theme }}</strong>
        </div>
        <div class="color bg-{{ $theme }}-{{ $color }}">
          {{ $color }}
        </div>
        {{ range $shade := $shades }}
          <div class="color bg-{{ $theme }}-{{ $color }}-{{ $shade }}">
            {{ $shade }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
