{{ $full := .full | default false }}
{{ $label := .label | default "label" }}
{{ $error := .error | default "error" }}
{{ $note := .note | default "note" }}
{{ $hideError := .hideError | default false }}
{{ $placeholder := .placeholder | default false }}
{{ $grow := .grow | default true }}

{{ $classes := newScratch }}

{{ if $grow }}
  {{ $classes.Set "container" "flex-grow" }}
{{ end }}


<div class="{{ $classes.Get "container" }} mb-4 pt-2">
  <label class="mb-2 block text-sm font-bold text-gray-700" for="{{ $label }}">{{ $label }}</label>
  <input class="focus:shadow-outline w-full appearance-none rounded  border-gray-300 py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none" id="{{ $label }}" type="text" placeholder="{{ $placeholder }}" />
  {{ if not $hideError }}
    <p class="mt-2 text-xs italic text-red-500">Please choose a password.</p>
  {{ end }}
</div>
