<div class="sticky top-0 z-10 bg-white">
  <ul class="main-menu d-flex border-bottom px-0">
    <li class="list-inline-item mx-0">
      <a
        href="/overview/"
        class="
      {{ if eq .Params.layout "overview" }}active{{ end }}
      d-block reset border-left font-weight-bold py-3 px-4"
      >
        Overview
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/interactions/"
        class="
      {{ if eq .Params.layout "interactions" }}active{{ end }}
      d-block reset border-left font-weight-bold py-3 px-4"
      >
        Interactions
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/relationships/"
        class="
        {{ if eq .Params.layout "relationships" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
        >Relationships</a
      >
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/portfolios/"
        class="
        {{ if eq .Params.layout "portfolios" }}active{{ end }}
        d-block reset  border-left font-weight-bold py-3 px-4"
      >
        Portfolios
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/documents/"
        class="
        {{ if eq .Params.layout "documents" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        Documents
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/connections/"
        class="
        {{ if eq .Params.layout "connections" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        Contact connections
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/kyc/"
        class="
        {{ if eq .Params.layout "kyc" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        KYC Information
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/financials/"
        class="
        {{ if eq .Params.layout "financials" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        Financials
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/summary/"
        class="
        {{ if eq .Params.layout "clientSummary" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        Client Summary
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/addresses/"
        class="
        {{ if eq .Params.layout "addresses" }}active{{ end }}
        d-block reset border-left font-weight-bold py-3 px-4"
      >
        Addresses
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a
        href="/service-request/"
        class="
      {{ if eq .Params.layout "serviceRequest" }}active{{ end }}
        d-block reset  border-left font-weight-bold py-3 px-4"
      >
        Service Request
      </a>
    </li>
  </ul>
</div>

<!-- <button class="btn btn-secondary">secondary</button>
  <button class="btn btn-gray">gray</button>
  <button class="btn btn-neutral">neutral</button> -->
