{{ $contact := $.Site.Data.contact.contact1 }}
<div class="global-top-bar d-flex main-menu justify-content-between align-items-center sticky top-0 text-white">
  <div class="d-flex justify-content-between align-items-center gap-1 pl-2">
    <div>
      <a href="/">
        <svg width="52" height="34" viewBox="0 0 52 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M46.8472 0.890381L33.7292 23.464L30.4748 17.8649L40.3384 0.890381H11.6616L21.5252 17.8622L18.2708 23.4613L5.15281 0.890381H0L18.2708 32.3304L26 19.0295L33.7292 32.3304L52 0.890381H46.8472ZM19.5075 5.52674H32.4898L26 16.6977L19.5102 5.52674H19.5075Z" fill="#9FD8D0" />
          <path d="M22.7702 29.2539H29.2302L31.9232 33.8903H20.0771L22.7702 29.2539Z" fill="#9FD8D0" />
        </svg>
      </a>
    </div>
    <strong> Contact - {{ $contact.name }} </strong>

    <button
      class="pl-2"
      x-data="{
          toggle: () => {
            if (localStorage.theme === 'dark') {
              localStorage.theme = 'light';
              document.documentElement.classList.remove('dark');
            } else {
              localStorage.theme = 'dark';
              document.documentElement.classList.add('dark');
            }
          },
        }"
      @click="toggle"
    >
      <span class="block text-white dark:hidden dark:text-red-500">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high h-[1.5rem] w-[1.5rem]" viewBox="0 0 16 16">
          <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </svg>
      </span>
      <span class="hidden text-yellow-300 dark:block">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill h-[1.5rem] w-[1.5rem]" viewBox="0 0 16 16">
          <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
          <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </svg>
      </span>
    </button>
  </div>
  <div class="d-flex align-items-center">
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-phone text-white"></i></button>
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-calendar text-white"></i></button>
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-check text-white"></i></button>
    <div class="dropdown">
      <button class="cta reset ratio-1 py-2 px-3" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-plus text-white"></i></button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" @click="pulloutTab.pullout = true, bodyScroll = false">
          <i class="fa-solid fa-puzzle-piece mr-2"></i>
          Tabs
        </button>
        <button class="dropdown-item" @click="pulloutAccordion.pullout =true, bodyScroll = false">
          <i class="fa-solid fa-arrows-up-down mr-2"></i>
          Accordion
        </button>
        <button class="dropdown-item" @click="pulloutWisard.pullout = true, bodyScroll = false">
          <i class="fa-solid fa-hat-wizard mr-2"></i>
          Wizard
        </button>
        <button class="dropdown-item" @click="pulloutAddress.pullout = true, bodyScroll = false">
          <i class="fa-solid fa-map mr-2"></i>
          Address (small)
        </button>
      </div>
    </div>
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-bell text-white"></i></button>
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-shield text-white"></i></button>
    <button class="cta reset ratio-1 py-2 px-3"><i class="fa-solid fa-gear text-white"></i></button>
    <div class="dropdown">
      <button class="cta reset ratio-1 py-2 px-3 text-white" type="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" @click="pulloutTab.pullout = true, bodyScroll = false">
          <i class="fa-solid fa-puzzle-piece mr-2"></i>
          Tabs
        </button>
        <button class="dropdown-item" @click="pulloutAccordion.pullout = !pulloutAccordion.pullout, bodyScroll = false">
          <i class="fa-solid fa-arrows-up-down mr-2"></i>
          Accordion
        </button>
        <button class="dropdown-item" @click="pulloutWisard.pullout = !pulloutWisard.pullout, bodyScroll = false">
          <i class="fa-solid fa-hat-wizard mr-2"></i>
          Wizard
        </button>
        <button class="dropdown-item" @click="pulloutAddress.pullout = !pulloutAddress.pullout, bodyScroll = false">
          <i class="fa-solid fa-map mr-2"></i>
          Address (small)
        </button>
      </div>
    </div>

    <!-- <button class="global-top-bar--btn">
          <i class="fas fa-bell text-white"></i>
        </button>
        <button class="global-top-bar--btn">
          <i class="fas fa-pencil text-white"></i>
        </button>
        <button class="global-top-bar--btn">
          <i class="fas fa-magic text-white"></i>
        </button> -->
  </div>
</div>

<div class="xq xrc wdx">
  <!-- <div class="pullOut position-fixed flex-column" x-show="pulloutTab" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90"></div> -->
  {{ partial "pull-outs/pulloutTab.html" . }}
  {{ partial "pull-outs/pulloutAccordion.html" . }}
  {{ partial "pull-outs/pulloutWisard.html" . }}
  {{ partial "pull-outs/pulloutAddress.html" . }}
  <!-- <script>
    const scroller = document.querySelector("#scroll");
    function toTop() {
      scroller.scrollTop = 0; // For Safari
      document.scroller.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script> -->
</div>
