{{ $contact := $.Site.Data.contact.contact1 }}
<div class="heading-information p-4">
  <div class="d-flex justify-content-between">
    <div>Avatar</div>
    <div>
      <p>General</p>
      <ul class="list-unstyled">
        <li class="d-flex align-items-center">
          <i class="cta justify-content-center d-flex align-items-center fas fa-birthday-cake"></i>
          <strong class="mr-2">Age:</strong> {{ $contact.age }} /
          {{ $contact.birthDate }}
        </li>
        <li class="d-flex align-items-center">
          <!-- <i class="cta justify-content-center d-flex align-items-center fas fa-rings-wedding"></i> -->
          <i class="cta justify-content-center d-flex align-items-center fas fa-ring"></i>
          <strong class="mr-2">Marital status:</strong> {{ $contact.maritalStatus }}
        </li>
        <li class="d-flex align-items-center">
          <i class="cta justify-content-center d-flex align-items-center fas fa-stethoscope"></i>
          <strong class="mr-2">Gender:</strong> {{ $contact.gender }}
        </li>
        <li class="d-flex align-items-center">
          <i class="cta justify-content-center d-flex align-items-center fas fa-language"></i>
          <strong class="mr-2">Language:</strong> {{ $contact.preferredLanguage }} | <i>prefered</i>
        </li>
      </ul>
    </div>
    <div>
      <p>
        Prefered contact
        <strong>
          {{ $contact.contactMethod }}
        </strong>
      </p>
      <ul class="list-unstyled">
        {{ range $contact.emails }}
          <li class="d-flex align-items-center">
            {{ if .primary }}
              <i class="cta justify-content-center d-flex align-items-center fas fa-envelope-open"></i>
              <strong class="mr-2">{{ .email }}</strong> <i>primary</i>
            {{ else }}
              <i class="cta justify-content-center d-flex align-items-center fas fa-envelope-open"></i>
              <strong>{{ .email }}</strong>
            {{ end }}
          </li>
        {{ end }}
        {{ range $contact.phone }}
          <li class="d-flex align-items-center">
            {{ if eq .type "mobile" }}
              <i class="cta justify-content-center d-flex align-items-center fas fa-mobile-android-alt"></i>
            {{ else }}
              <i class="cta justify-content-center d-flex align-items-center fas fa-phone"></i>
            {{ end }}
            <strong class="mr-2">{{ .number }}</strong> ({{ .type }})
          </li>
        {{ end }}
      </ul>
    </div>
    <div>
      <p>Nationality</p>
      <ul class="list-unstyled">
        {{ range $contact.nationalities }}
          <li class="d-flex align-items-center">
            {{ if .primary }}
              <i class="cta justify-content-center d-flex align-items-center fas fa-globe-americas"></i>
              {{ .nationality }} | <i>primary</i>
            {{ else }}
              <i class="cta justify-content-center d-flex align-items-center far fa-globe"></i>
              {{ .nationality }}
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
