<div class="app-mee-smart">
  <div class="tag"></div>
  <div class="app-mee-dumb">
    <div class="tag"></div>
    <template x-teleport="#content-container-stickyTopArea">
      <div class="app-mee-main-menu">
        <div class="tag"></div>
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/app-mee-full-page/">Full page</a></li>
            <li class="breadcrumb-item"><a href="/app-mee-modal/">Modal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </template>
    <template x-teleport="#content-container-stickyTopArea">
      <div class="app-mee-controlls">
        <div class="tag"></div>
        <div class="d-flex">
          <a href="#" class="btn btn-link">expand all</a>
          <a href="#" class="btn btn-link">collapse all</a>
        </div>
      </div>
    </template>

    <section class="app-mee-section">
      <div class="tag"></div>
      <div class="app-mee-section-title">title</div>
      <div class="app-mee-section-fields">fields</div>
    </section>
    <section class="app-mee-section">
      <div class="tag"></div>
      <div class="app-mee-section-title">title</div>
      <div class="app-mee-section-fields">fields</div>
    </section>
    <section class="app-mee-section">
      <div class="tag"></div>
      <div class="app-mee-section-title">title</div>
      <div class="app-mee-section-fields">
        <ol>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
        </ol>
      </div>
    </section>
    <section class="app-mee-section">
      <div class="tag"></div>
      <div class="app-mee-section-title">title</div>
      <div class="app-mee-section-fields">
        <ol>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
        </ol>
      </div>
    </section>

    <section class="app-mee-section">
      <div class="tag"></div>
      <div class="app-mee-section-title">title</div>
      <div class="app-mee-section-fields">
        <ol>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
          <li>field</li>
        </ol>
      </div>
    </section>

    <template x-teleport="#content-container-stickyFooter">
      <div class="app-mee-footer">
        <div class="tag"></div>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-secondary">Cancel</a>
          <a href="#" class="btn btn-primary">Save</a>
        </div>
      </div>
    </template>
  </div>
</div>
