<div class="relative w-full overflow-hidden bg-blue-50 p-4">
  <form action="" class="flex items-center justify-center rounded-md bg-white p-4">
    <label for="quantity" class="px-4 font-bold text-gray-500">Quantity</label>
    <div class="flex items-center" x-data="{ quantity: 0, max: 10 }">
      <span
        x-on:click="
        if(quantity >= 1) {
          quantity = quantity - 1
        } else {
          quantity = 0
        }
        "
        class="flex h-9 w-9 cursor-pointer select-none items-center justify-center rounded-full bg-slate-100 font-bold text-gray-500"
      >
        -
      </span>
      <select class="clean-select rounded-md border-0" id="quantity" x-model.number="quantity">
        <option>0</option>
        <template x-for="i in max" :key="index">
          <option x-text="i"></option>
        </template>
      </select>
      <span x-on:click="quantity = quantity + 1" class="flex h-9 w-9 cursor-pointer select-none items-center justify-center rounded-full bg-slate-100 font-bold text-gray-500"> + </span>
      <span class="ml-2 text-gray-300"> (max <span x-text="max"></span> prod.) </span>
    </div>
  </form>
</div>

<div class="relative w-full overflow-hidden bg-blue-50 p-4">
  <form action="" class="flex items-center justify-center rounded-md bg-white p-4">
    <label for="quantity" class="px-4 font-bold text-gray-500">Quantity</label>
    <div class="flex items-center" x-data="{ quantity: 1 }">
      <span
        x-on:click="
        if(quantity >= 1) {
          quantity = quantity - 1
        } else {
          quantity = 0
        }
        "
        class="flex h-9 w-9 cursor-pointer select-none items-center justify-center rounded-full bg-slate-100 font-bold text-gray-500"
      >
        -
      </span>
      <input x-model.number="quantity" id="quantity" type="text" class="mx-1 w-[3rem] min-w-[4rem] rounded-md border-0 text-center" value="1" />
      <span x-on:click="quantity = quantity + 1" class="flex h-9 w-9 cursor-pointer select-none items-center justify-center rounded-full bg-slate-100 font-bold text-gray-500"> + </span>
    </div>
  </form>
</div>

<div class="relative w-full overflow-hidden bg-blue-50 p-4">
  <form action="" class="flex items-center justify-center rounded-md bg-white p-4">
    <label for="quantity" class="px-4 font-bold text-gray-500">Quantity</label>
    <div class="flex items-center" x-data="{ quantity: 1 }">
      <span
        x-on:click="
        if(quantity >= 1) {
          quantity = quantity - 1
        } else {
          quantity = 0
        }
        "
        class="flex h-10 w-9 cursor-pointer select-none items-center justify-center rounded-l-lg border border-r-0 border-gray-300 text-2xl text-gray-300"
      >
        <b class="mb-1">−</b>
      </span>
      <input x-model.number="quantity" id="quantity" type="text" class="h-10 w-[2rem] border border-l-0 border-r-0 border-gray-300 text-center" value="1" />
      <span x-on:click="quantity = quantity + 1" class="flex h-10 w-9 cursor-pointer select-none items-center justify-center rounded-r-lg border border-l-0 border-gray-300 text-2xl text-gray-300">
        <b class="mb-1">+</b>
      </span>
    </div>
  </form>
</div>

<div class="drop-down relative min-h-[30rem] w-full overflow-hidden bg-blue-50 p-4">
  <div
    x-data="
  {
    viewMenu: false,
    menu: [
      {
        'title': 'my website',
        'link': 'https://www.solopx.com'
      },
      {
        'title': 'her website',
        'link': 'https://www.calinalefter.com'
      },
      {
        'title': 'our  website',
        'link': 'https://www.google.com'
      }
    ]}
  "
  >
    <p>
      Lorem ipsum dolor sit amet
      <span class="relative inline">
        <button
          class="inline underline"
          @click="
          viewMenu = !viewMenu
        "
        >
          menu
        </button>
        <span class="xw-48 list absolute left-[0px] mt-2 flex min-w-[180px] flex-col rounded bg-white text-sm font-medium uppercase shadow-md" x-show="viewMenu" @click.away="viewMenu = false" x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="ease-in transition-slow" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-90">
          <template x-for="item in menu">
            <span>
              <a x-text="item.title" class="block px-2 py-3 no-underline" target="_blank" x-bind:href="item.link"></a>
            </span>
          </template>
        </span>
      </span>
      adipisicing elit. Autem ullam totam debitis voluptatum inventore. Atque, dolor quibusdam! Voluptatem, repudiandae suscipit. Distinctio, veniam pariatur non aperiam ut inventore. Tempora, quo autem.
    </p>
  </div>
</div>
