<title>{{ .Params.title | default "❌" }}</title>

{{ .Scratch.Set "switchCss" false }}
{{ .Scratch.Set "customB4" false }}
{{ .Scratch.Set "b4" false }}
{{ .Scratch.Set "b5" false }}
{{ .Scratch.Set "tailwind" false }}

{{ .Scratch.Set "jquery" false }}
{{ .Scratch.Set "alpine" false }}

{{ if .Params.switchCss }}
  {{ .Scratch.Set "switchCss" .Params.switchCss }}
{{ end }}
{{ if .Params.tailwind }}
  {{ .Scratch.Set "tailwind" .Params.tailwind }}
{{ end }}
{{ if .Params.fontAwsome }}
  {{ .Scratch.Set "fontAwsome" .Params.fontAwsome }}
{{ end }}
{{ if .Params.b5 }}
  {{ .Scratch.Set "b5" .Params.b5 }}
{{ end }}
{{ if .Params.b4 }}
  {{ .Scratch.Set "b4" .Params.b4 }}
{{ end }}
{{ if .Params.customB4 }}
  {{ .Scratch.Set "customB4" .Params.customB4 }}
{{ end }}
{{ if .Params.jquery }}
  {{ .Scratch.Set "jquery" .Params.jquery }}
{{ end }}
{{ if .Params.alpine }}
  {{ .Scratch.Set "alpine" .Params.alpine }}
{{ end }}

{{ $switchCss := .Scratch.Get "switchCss" }}
{{ $fontAwsome := .Scratch.Get "fontAwsome" }}
{{ $tailwind := .Scratch.Get "tailwind" }}
{{ $b5 := .Scratch.Get "b5" }}
{{ $b4 := .Scratch.Get "b4" }}
{{ $customB4 := .Scratch.Get "customB4" }}
{{ $jquery := .Scratch.Get "jquery" }}
{{ $alpine := .Scratch.Get "alpine" }}


<!-- when using the mode "code", it's important to specify charset utf-8 -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{ if $fontAwsome }}
  {{ $faCss := resources.Get "css/font-awsome.scss" | toCSS (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  <link rel="stylesheet" href="{{ $faCss.RelPermalink }}" />
  {{ $fa := $faCss | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $fa.Permalink }}" integrity="{{ $fa.Data.Integrity }}" />
{{- end -}}

{{- if not $switchCss -}}
  {{- if $b5 -}}
    {{ $b5Css := resources.Get "css/b5.scss" | toCSS (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $b5Css.RelPermalink }}" />
    {{ $b5MinCSS := $b5Css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $b5MinCSS.Permalink }}" integrity="{{ $b5MinCSS.Data.Integrity }}" />
  {{- end -}}
  {{- if $b4 -}}
    {{ $b4Css := resources.Get "css/b4.scss" | toCSS (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $b4Css.RelPermalink }}" />
    {{ $b4MinCSS := $b4Css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $b4MinCSS.Permalink }}" integrity="{{ $b4MinCSS.Data.Integrity }}" />
  {{- end -}}
  {{- if $customB4 -}}
    {{ $customB4CSS := resources.Get "css/customB4.scss" | toCSS (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $customB4CSS.RelPermalink }}" />
    {{ $customB4MinCSS := $customB4CSS | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $customB4MinCSS.Permalink }}" integrity="{{ $customB4MinCSS.Data.Integrity }}" />
  {{- end -}}

  {{- if $tailwind -}}
    {{ $tailwindCss := resources.Get "css/tailwind.scss" | toCSS  (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $tailwindCss.RelPermalink }}" />
    {{ $tailwindMinCSS := $tailwindCss | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $tailwindMinCSS.Permalink }}" integrity="{{ $tailwindMinCSS.Data.Integrity }}" />
  {{- end -}}
{{- else -}}
  <link id="cssLink" rel="stylesheet" href="/css/customB4.min.css" />
{{- end -}}

{{ if $alpine }}
  <!-- <script defer src="/js/alpine.3.12.0.js"></script> -->
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script defer src="/js/clipboard.js"></script>
  <script defer src="/js/collapse.js"></script>
{{ end }}


<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth@8..144,63.7;8..144,100&display=swap" rel="stylesheet" />

{{ if $jquery }}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{{ end }}

{{ if $b4 }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{{ end }}
