<title>{{ .Params.title | default "❌" }}</title>

{{ .Scratch.Set "tailwind" false }}
{{ .Scratch.Set "bootstrap" false }}
{{ .Scratch.Set "jquery" false }}
{{ .Scratch.Set "alpine" false }}

{{ if .Params.tailwind }}
  {{ .Scratch.Set "tailwind" .Params.tailwind }}
{{ end }}
{{ if .Params.bootstrap }}
  {{ .Scratch.Set "bootstrap" .Params.bootstrap }}
{{ end }}
{{ if .Params.jquery }}
  {{ .Scratch.Set "jquery" .Params.jquery }}
{{ end }}
{{ if .Params.alpine }}
  {{ .Scratch.Set "alpine" .Params.alpine }}
{{ end }}

{{ $tailwind := .Scratch.Get "tailwind" }}
{{ $bootstrap := .Scratch.Get "bootstrap" }}
{{ $jquery := .Scratch.Get "jquery" }}
{{ $alpine := .Scratch.Get "alpine" }}


<!-- when using the mode "code", it's important to specify charset utf-8 -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{ if $bootstrap }}
  <!-- {{ $opts := dict "transpiler" "dartsass" }} -->
  {{ $btCSS := resources.Get "css/bootstrap.scss" | toCSS (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  <link rel="stylesheet" href="{{ $btCSS.RelPermalink }}" />
  {{ $btMinCSS := $btCSS | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $btMinCSS.Permalink }}" integrity="{{ $btMinCSS.Data.Integrity }}" />
{{- end -}}

{{ if $tailwind }}
  {{ $twCSS := resources.Get "css/styles.scss" | toCSS  (dict "transpiler" "dartsass") | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  <link rel="stylesheet" href="{{ $twCSS.RelPermalink }}" />
  {{ $twMinCSS := $twCSS | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $twMinCSS.Permalink }}" integrity="{{ $twMinCSS.Data.Integrity }}" />
{{- end -}}


<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js" defer></script>
{{ if $alpine }}
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/alpinejs" defer></script>
{{ end }}


<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth@8..144,63.7;8..144,100&display=swap" rel="stylesheet" />

{{ if $jquery }}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{{ end }}

{{ if $bootstrap }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{{ end }}
