<div x-data="{long: true, scroll: true,  modalScroll: false,  extraContent: false }">
  <!-- Modal -->

  {{ $dev := 0 }}
  {{ if $dev }}
    <div class="modal-backdrop fade show"></div>
  {{ end }}


  <!-- Button trigger modal -->
  <button @click="modalVisible = true" type="button" x-ref="scroll-modal-button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modal</button>

  <!-- Modal -->
  <div class="modal fade" x-init="initScrollSizes()" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg xmodal-dialog-centered" role="document" x-bind:class="{ '': !modalScroll, 'modal-dialog-scrollable': modalScroll }">
      <div class="modal-content">
        <div class="modal-header" x-ref="scroll-modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Modal

            <span x-show="!modalScroll"> is not scrollable</span>
            <span x-show="modalScroll"> is scrollable</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          {{ partial "app-mee-containers.html" (dict "content" "app-mee.html" "head" false "footer" false "contextHeight" "modal") }}

        </div>
        <div class="modal-footer">
          <div class="d-flex w-100 gap-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
