{{ $theme := .theme }}
<div x-ref="mainMenu" class="pt-[3.6rem]">
  {{ range $index, $mainMenu := .menu }}
    <nav
      class=" border-brand-400 flex flex-col justify-between"
      {{ if eq $theme "light" }}
        :class="toggleMenu ? 'border-b border-neutral-100' : ''"
      {{ else if eq $theme "dark" }}
        :class="toggleMenu ? 'border-b border-neutral-600' : ''"
      {{ end }}
    >
      {{ if .title }}
        <span
          class=" {{ if eq $theme "light" }}
            text-brand-200/80
          {{ else if eq $theme "dark" }}
            text-brand-300
          {{ end }} px-4 py-2 text-xs
      font-bold
      "
          :class="toggleMenu ? 'sm:hidden md:hidden' : 'sm:block md:block'"
          >{{ .title | upper }}</span
        >
      {{ end }}
      <ul style="--fa-display: flex" class=" transition-all">
        {{ range $index, $submenu := .items }}
          <li
            x-data="subMenu()"
            {{ if eq .active true }}
              x-init="activeMenu(true)"
            {{ else }}
              x-init="activeMenu(false)"
            {{ end }}

            {{ if eq $theme "light" }}
              :class="active ? 'bg-brand-50/40 after:bg-brand-400 after:absolute after:right-0 after:h-3/4 after:w-[5px] after:rounded-l-full' : 'flex-col'"
            {{ else if eq $theme "dark" }}
              :class="active ? 'bg-brand-600/50 after:bg-brand-900 after:absolute after:right-0 after:h-3/4 after:w-[5px] after:rounded-l-full' : 'flex-col'"
            {{ end }}
            class="relative flex items-center"
          >
            {{ if not .submenu }}
              {{ $icon := "" }}
              <button
                class=" {{ if eq $theme "light" }}
                  text-brand-400 hover:bg-brand-50/30
                {{ else if eq $theme "dark" }}
                  text-white hover:bg-brand-600/50
                {{ end }} flex h-[3rem] w-full  items-center 
            justify-start text-sm uppercase
            "
                :class="toggleMenu ? '' : 'pr-2'"
              >
                <div class="mr-2">
                  {{ if eq .active true }}
                    {{ partial "font-awsome.html" ( dict "icon" .icon "type" "fas" "class" "h-[3rem] w-[2.8rem] items-center justify-center text-lg text-brand-700") }}
                  {{ else }}
                    {{ partial "font-awsome.html" ( dict "icon" .icon "type" "fal" "class" "h-[3rem] w-[2.8rem] items-center justify-center text-lg") }}
                  {{ end }}
                </div>
                <div class="flex w-full items-center justify-between">
                  <span class="mt-1 md:block" :class="toggleMenu ? 'sm:hidden md:hidden' : 'sm:block md:block'">
                    {{ .title }}
                  </span>
                  {{ if and .notification }}
                    <span
                      :class="toggleMenu ? 'sm:hidden md:hidden' : 'sm:block md:block'"
                      class="text-brand-800 {{ if eq $theme "light" }}
                        bg-brand-50/50 text-brand-600
                      {{ else if eq $theme "dark" }}
                        bg-white text-brand-600
                      {{ end }} mx-2 rounded-full   px-2 py-1 text-[.7rem]
                    leading-[.7rem]
                    "
                    >
                      {{ if  gt .notification 9 }}
                        +9
                      {{ else }}
                        {{ .notification }}
                      {{ end }}
                    </span>
                  {{ end }}
                </div>
              </button>
            {{ end }}
            {{ if .submenu }}
              <button
                x-on:click="toggleSubMenu = !toggleSubMenu, $dispatch( 'sub-menu-open', { toggleSubMenu : toggleSubMenu } )"
                class="{{ if eq $theme "light" }}
                  text-brand-400 hover:bg-brand-50/30
                {{ else if eq $theme "dark" }}
                  text-white hover:bg-brand-600/50
                {{ end }} flex h-[3rem] w-full items-center  
            justify-start
            "
                :class="toggleMenu ? '' : 'pr-2'"
              >
                <div class="mr-2">
                  <i class="fal fa-edit flex h-[3rem] w-[2.8rem] items-center justify-center text-lg"></i>
                </div>
                <div class="flex w-full items-center justify-between">
                  <span class="mt-1 md:block" :class="toggleMenu ? 'sm:hidden md:hidden' : 'sm:block md:block'">
                    {{ .title }}
                  </span>
                  <i class="fal fa-angle-down mr-4"></i>
                </div>
              </button>
              <ul @click.outside="toggleSubMenu = false" class="bg-brand-600 w-full bg-opacity-50 py-2" :class="toggleMenu ? 'absolute right-0 top-0 min-w-[15rem] translate-x-[100%]' : ''" x-show="toggleSubMenu">
                {{ range $index, $submenuItems := .submenu }}
                  <li>
                    <a href="" class="block w-full py-2 pl-[3.2rem] pr-2 text-sm text-white">{{ .title }}</a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
</div>
<div x-ref="secondaryMenu">
  <nav>
    <ul style="--fa-display: flex">
      <li>
        <button class="flex h-[3rem] items-center justify-start text-white" :class="toggleMenu ? '' : ''">
          <div class="mr-2">
            <i class="fas fa-user h-[3rem] w-[2.8rem] items-center justify-center text-lg"></i>
          </div>
          <div class="flex w-full items-center justify-between">
            <span class="mt-1 md:block" :class="toggleMenu ? 'sm:hidden md:hidden' : 'sm:block md:block'"> User </span>
          </div>
        </button>
      </li>
    </ul>
  </nav>
</div>
