<div class="d-flex justify-content-between align-items-center px-2 pt-3">
  <h6 class="d-flex align-items-cente mb-0">
    <i class="fa-solid fa-timeline text-info mr-2"></i>
    <span> Theme component </span>
  </h6>
  <div class="d-flex justify-content-between align-items-cente gap-2">
    <a href="#">
      <i class="fa-solid fa-rotate"></i>
    </a>
    <a href="#">
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </a>
  </div>
</div>

<section class="theme theme__blue theme--bg timeline timeline-string d-flex scroll scroll--light px-4 py-4">
  <div class="w-100 d-flex gap-2">
    <div class="theme--card flex-grow-1 theme--card__bg-white shadow">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Simple card</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-1 ">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with bg 1</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-hover">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with hover</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="theme theme__lime theme--bg timeline timeline-string d-flex scroll scroll--light px-4 py-4">
  <div class="w-100 d-flex gap-2">
    <div class="theme--card flex-grow-1 theme--card__bg-white shadow">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Simple card</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-1 ">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with bg 1</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-hover">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with hover</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="theme theme__yellow theme--bg timeline timeline-string d-flex scroll scroll--light px-4 py-4">
  <div class="w-100 d-flex gap-2">
    <div class="theme--card flex-grow-1 theme--card__bg-white shadow">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Simple card</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-1 ">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with bg 1</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-hover">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with hover</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="theme theme__red theme--bg timeline timeline-string d-flex scroll scroll--light px-4 py-4">
  <div class="w-100 d-flex gap-2">
    <div class="theme--card flex-grow-1 theme--card__bg-white shadow">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Simple card</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-1 ">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with bg 1</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="theme--card flex-grow-1 theme--card__bg-hover">
      <div class="theme--card-header d-flex justify-content-between align-items-center p-3">
        <h3 class="theme--card-title m-0">Card with hover</h3>
        <a href="#" class="btn btn-sm">
          <i class="fa-solid fa-rotate mr-2"></i>
        </a>
      </div>
      <div class="theme--card-body">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reiciendis itaque quibusdam expedita, ea dolor dicta deserunt ab numquam ut rem laborum sint nemo odit modi repellat nihil voluptates officia!</p>
        </div>
        <div class="w-100 my-3 ">
          <form action="" class="w-100 px-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="d-block flex-grow-1 mb-0" for="">My Label is nice</label>
              <input class="d-block flex-grow-1 px-2" placeholder="Click inside" type="text" />
            </div>
            <div>
              <a href="#" class="btn-block mt-3 rounded p-2">Submit this form</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
