{{ $timeline := getJSON "data/timeline.json" }}

{{ $dev := 0 }}
{{ $scroll := 1 }}
{{ if $dev }}
  <div class="fa-file"></div>
  <div class="fa-house"></div>
  <div class="fa-paper-plane"></div>
  <div class="fa-user"></div>
  <div class="fa-user"></div>
  <div class="fa-user-plus"></div>
  <div class="fa-comments"></div>
  <div class="fa-question"></div>
  <div class="fa-id-card"></div>
  <div class="timeline-v1__info"></div>
  <div class="timeline-v1__success"></div>
  <div class="timeline-v1__warning"></div>
  <div class="timeline-v1__danger"></div>
{{ end }}

{{ if $scroll }}
  <!-- Tippy.js -->
  <!-- https://atomiks.github.io/tippyjs/v6 -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <section class="timeline-v1 timeline-v1-string d-flex align-items-stretch scroll scroll--light pb-3">
    {{ range $index, $item := $timeline.timeline }}
      <button
        class="d-flex flex-column justify-content-between w-100 {{ if eq .status.stage "success" }}
          timeline-v1__success
        {{ else if eq .status.stage "info" }}
          timeline-v1__info
        {{ else if eq .status.stage "warning" }}
          timeline-v1__warning
        {{ else if eq .status.stage "danger" }}
          timeline-v1__danger
        {{ else }}
          timeline-v1__secondary
        {{ end }}
        {{ if eq .status.timeline "present" }}
          active
        {{ end }} p-0
        "
        {{ if or ( eq .status.stage "info") (eq .status.stage "warning") ( eq .status.stage "danger") }}
          x-data x-tooltip="{{ .status.details.name }}" type="button"
        {{ else }}
          disabled
        {{ end }}
      >
        <div class="w-100 flex-grow-1 h-100 px-1">
          <div class="timeline-v1--card w-100 h-100 d-flex flex-column position-relative px-1 py-2">
            <div class="arrow"></div>
            {{ if or ( eq .status.stage "info") (eq .status.stage "warning") ( eq .status.stage "danger") }}
              <div class="timeline-v1--info-icon d-flex flex-column p-1">
                <i class="fa-regular fa-circle-info"></i>
              </div>
            {{ end }}
            <i class="timeline-v1--card-icon fa-solid fa-{{ .icon }} py-2"></i>
            <span class="timeline-v1--card-text text-{{ .status.stage }}">{{ .name }}</span>
          </div>
        </div>
        <div class="w-100">
          <div class="timeline-v1--line w-100">
            <div class="timeline-v1--counter timeline-v1--counter__{{ .status.stage }} mx-auto mb-2 mt-3 text-center">
              <strong>
                {{ add $index 1 }}
              </strong>
            </div>
          </div>
          <div class="w-100">
            {{ if .date }}
              <span class="text-muted">{{ .date }}</span>
            {{ else }}
              <span class="text-muted">&nbsp;</span>
            {{ end }}
          </div>
        </div>
      </button>
    {{ end }}
  </section>
  <script>
    document.addEventListener("alpine:init", () => {
      // Magic: $tooltip
      Alpine.magic("tooltip", (el) => (message) => {
        let instance = tippy(el, { content: message, trigger: "manual" });

        instance.show();

        setTimeout(() => {
          instance.hide();

          setTimeout(() => instance.destroy(), 150);
        }, 2000);
      });

      // Directive: x-tooltip
      Alpine.directive("tooltip", (el, { expression }) => {
        tippy(el, { content: expression });
      });
    });
  </script>
{{ end }}
