{{ $timeline := getJSON "data/timeline.json" }}

{{ $dev := 0 }}
{{ $scroll := 1 }}
{{ if $dev }}
  <div class="fa-file"></div>
  <div class="fa-house"></div>
  <div class="fa-paper-plane"></div>
  <div class="fa-user"></div>
  <div class="fa-user"></div>
  <div class="fa-user-plus"></div>
  <div class="fa-comments"></div>
  <div class="fa-question"></div>
  <div class="fa-id-card"></div>
{{ end }}

{{ if $scroll }}
  <!-- Tippy.js -->
  <!-- https://atomiks.github.io/tippyjs/v6 -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <section class="timeline timeline-string d-flex scroll scroll--light pb-3">
    {{ range $index, $item := $timeline.timeline }}
      <button
        class="timeline-item d-flex flex-grow-1 flex-column {{ if eq .status.stage "success" }}
          timeline__success
        {{ else if eq .status.stage "info" }}
          timeline__info
        {{ else if eq .status.stage "warning" }}
          timeline__warning
        {{ else if eq .status.stage "danger" }}
          timeline__danger
        {{ else }}
          timeline__secondary
        {{ end }} {{ if eq .status.timeline "present" }}
          active
        {{ end }} flex-grow
        p-0
        py-3
        "
        {{ if or ( eq .status.stage "info") (eq .status.stage "warning") ( eq .status.stage "danger") }}
          x-data @click="$tooltip('{{ .status.details.name }}')" type="button"
        {{ else }}
          disabled
        {{ end }}
      >
        {{ if or ( eq .status.stage "info") (eq .status.stage "warning") ( eq .status.stage "danger") }}
          <div class="timeline-info-icon">
            <i class="fa-regular fa-circle-info"></i>
          </div>

          <!-- Source -->
        {{ end }}
        <div class="d-flex justify-content-center w-100">
          <div class="timeline-icon mb-3 px-3  py-2">
            <div class="arrow"></div>
            <i class="timeline-bubble-icon fa-regular fa-{{ .icon }}"></i>
          </div>
        </div>
        <div class="timeline-line w-100 text-center">
          <div class="badge badge-pill badge-{{ .status.stage }} position-relative z-10 mx-2">
            <span>
              {{ add $index 1 }}
            </span>
          </div>
        </div>
        <div class="w-100">
          <div class="d-flex flex-column mt-2 text-center">
            <strong class="text-{{ .status.stage }}">{{ .name }}</strong>
            {{ if .date }}
              <span class="text-muted">{{ .date }}</span>
            {{ end }}
          </div>
        </div>
      </button>
    {{ end }}
  </section>
  <script>
    document.addEventListener("alpine:init", () => {
      // Magic: $tooltip
      Alpine.magic("tooltip", (el) => (message) => {
        let instance = tippy(el, { content: message, trigger: "manual" });

        instance.show();

        setTimeout(() => {
          instance.hide();

          setTimeout(() => instance.destroy(), 150);
        }, 2000);
      });

      // Directive: x-tooltip
      Alpine.directive("tooltip", (el, { expression }) => {
        tippy(el, { content: expression });
      });
    });
  </script>
{{ end }}
