{{ define "main" }}
  {{ $pr := 0 }}
  {{ $pageStructure := 1 }}
  {{ $data := getJSON "data/kyc.json" }}

  {{ if $pr }}
    <ul>
      {{ $prs := getJSON "data/pr.json" }}
      {{ range $index, $item := $prs.pr }}
        <li>
          <p>{{ $item.createdBy.displayName }}</p>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if $pageStructure }}

    <div class="d-flex flex-column bg-brand h-screen" x-data="{ navBarHeight: '', navTabHeight: '', filterVisible: true }" x-init="updateNavBarHeight" @resize.window="updateNavBarHeight">
      <div x-ref="navBar" class="h-nav xtop-nav-bar bg-brand d-flex justify-content-between align-items-center px-3 text-white">
        <!-- <span>
          <span> navBarHeight: <span x-text="navBarHeight"></span> </span>
          <span> navTabHeight: <span x-text="navTabHeight"></span> </span>
        </span> -->
        <div class="d-flex align-items-center py-3">
          {{ partial "brand.html" }}
        </div>
        <div>
          <button class="btn btn-link ink-brand xbtn-alpha-10">
            <i class="fa-regular fa-clock-rotate-left"></i>
          </button>
          <button class="btn btn-link ink-brand xbtn-alpha-10">
            <i class="fa-regular fa-user"></i>
          </button>
          <button class="btn btn-link ink-brand xbtn-alpha-10">
            
            <i class="fa-regular fa-bars"></i>
          </button>
        </div>
      </div>
      <div class="d-flex h-content">
        <side class="h-100 mr-3">
          <div class="d-flex flex-column h-100 justify-content-between ml-3 gap-2">
            <div class="d-flex flex-column gap-2">
              {{/*  <button class="btn btn-sm" @click="showBoth = !showBoth; showSetting = false; ; showInfo = false;" :class="showBoth ? 'btn-success' : 'btn-alpha-10'"><i class="fa-regular fa-gear"></i></button>  */}}
              <button class="btn btn-sm " x-on:click="changeInfo()" :class="showInfo ? 'btn-success' : 'btn-alpha-10'">
                <i class="fa-regular fa-user"></i>
              </button>
              <button class="btn btn-sm " x-on:click="changeSettings()" :class="showSettings ? 'btn-success' : 'btn-alpha-10'">
                <i class="fa-regular fa-sliders"></i>
              </button>
            </div>

            <div class="d-flex flex-column gap-2 pb-3">
              <button class="btn btn-sm" @click="filterVisible = !filterVisible" :class="filterVisible ? 'btn-success' : 'btn-alpha-10'">
                <i class="fa-regular fa-bars-filter"></i>
              </button>
              <button class="btn btn-sm" x-on:click="changeConfig()" :class="showConfig ? 'btn-success' : 'btn-alpha-10'">
                <i class="fa-regular fa-hammer"></i>
              </button>
            </div>
          </div>
        </side>
        {{/*  <side x-show="showBoth" x-transition x-transition.origin.left class="h-content ink-primary min-side-w mr-3 flex-grow-0 overflow-auto" style="width: 340px;">
          <div class="h-100 d-flex flex-column bg-alpha-brand-base-10 overflow-hidden rounded-lg">
            {{ partial "side/profile-info.html" }}
            <div class="flex-grow-1 d-flex flex-column h-100">
              {{ partial "scrollable-area.html" (dict "content" "side/user-info.html" "scroll" "dark") }}
            </div>
            <div class="flex-grow-1 h-100 overflow-auto">
              {{ partial "scrollable-area.html" (dict "content" "side/view-settings.html"  "scroll" "dark") }}
            </div>
          </div>  */}}
        </side>
        <side x-show="showInfo" x-transition x-transition.origin.left class="h-content ink-primary min-side-w flex-grow-0 overflow-auto pr-3" style="width: 340px;">
          <div class="h-100 d-flex flex-column bg-alpha-brand-base-10 overflow-hidden rounded-lg">
            {{ partial "side/profile-info.html" }}
            <div class="flex-grow-1 h-100">
              {{ partial "scrollable-area.html" (dict "content" "side/user-info.html" "scroll" "dark") }}
            </div>
          </div>
        </side>
        <side x-show="showSettings" x-transition x-transition.origin.left class="h-content ink-primary min-side-w flex-grow-0 overflow-auto pr-3" style="width: 340px;">
          <div class="h-100 d-flex flex-column bg-alpha-brand-base-10 overflow-hidden rounded-lg">
            <div class="flex-grow-1 h-100 overflow-auto">
              {{ partial "scrollable-area.html" (dict "content" "side/view-settings.html"  "scroll" "dark") }}
            </div>
          </div>
        </side>
        {{ $page := 1 }}
        {{ $filters := 0 }}


        <main
          class="h-content flex-grow-1 overflow-hidden"
          x-data="{
              selectedId: null,
              init() {
                  // Set the first available tab on the page on page load.
                  this.$nextTick(() => this.select(this.$id('tab', 1)))
              },
              select(id) {
                  this.selectedId = id
              },
              isSelected(id) {
                  return this.selectedId === id
              },
              whichChild(el, parent) {
                  return Array.from(parent.children).indexOf(el) + 1
              }
          }"
          x-id="['tab']"
          x-init="updateNavTabHeight"
          @resize.window="updateNavTabHeight"
        >
          <div class="xsticky-top" x-ref="navTab">
            <nav :class="!showInfo ? 'rounded-top-left' : ''" class="navbar bg-alpha-brand-base-20 main-navbar hidden-bg navbar-expand-lg m-0 p-0">
              <ul x-ref="tablist" @keydown.right.prevent.stop="$focus.wrap().next()" @keydown.home.prevent.stop="$focus.first()" @keydown.page-up.prevent.stop="$focus.first()" @keydown.left.prevent.stop="$focus.wrap().prev()" @keydown.end.prevent.stop="$focus.last()" @keydown.page-down.prevent.stop="$focus.last()" role="tablist" class="navbar-nav">
                <!-- Tab -->
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">Overview</button>
                </li>
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">KYC Information</button>
                </li>
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">Contacts</button>
                </li>
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">Bootstrap</button>
                </li>
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">Drills ...</button>
                </li>
                <li class="nav-item">
                  <button :id="$id('tab', whichChild($el.parentElement, $refs.tablist))" @click="select($el.id)" @mousedown.prevent @focus="select($el.id)" type="button" :tabindex="isSelected($el.id) ? 0 : -1" :aria-selected="isSelected($el.id)" :class="isSelected($el.id) ? 'active' : 'bg-transparent'" class="nav-link bp-4 border-0 px-4 pt-3" role="tab">+ ...</button>
                </li>
              </ul>
            </nav>
            <div class="border-bottom bg-white pt-2"></div>
          </div>
          <div role="tabpanels" class="pannels h-content-tabs d-flex flex-column">
            <section class="w-100" x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              {{ partial "manager/overview.html" . }}
            </section>
            <section class="w-100" x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              {{ partial "manager/kyc-information.html" . }}
            </section>
            <section class="w-100 overflow-y-auto" x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              {{ partial "manager/contacts.html" . }}
            </section>
            <section class="w-100 overflow-y-scroll" x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              {{ partial "bootstrap.html" . }}
            </section>
            <section class="w-100 overflow-y-scroll " x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              {{ partial "manager/drills.html" . }}
            </section>


            <section x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))" :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))" role="tabpanel">
              <div class="border-bottom bg-white p-3">
                <div class="d-flex">
                  <side class="menu p-2">side Prospect</side>
                  <div class="menu p-2">content</div>
                </div>
              </div>
            </section>
          </div>
        </main>

        <side x-show="showConfig" x-transition x-transition.origin.left class="h-content ink-primary flex-grow-0 overflow-auto px-3" style="min-width: 25vw;">
          <div class="h-100 d-flex flex-column bg-alpha-ink-10 overflow-hidden rounded-lg">
            <div class="flex-grow-1 scroll overflow-auto">
              <div>
                <div class="d-flex justify-content-between align-items-center bg-alpha-brand-base-20 p-2">
                  <div class="d-flex align-items-center ">
                    <i class="fa-regular fa-hammer mx-2"></i>
                    <h2 class="h6 mb-0">Config</h2>
                  </div>
                  <button class="btn btn-link ink-primary" x-on:click="changeConfig()">
                    <i class="fa-regular fa-xmark"></i>
                  </button>
                </div>
                <div class="px-2 py-3">
                  <h3 id="h3">Themes</h3>
                  <ul class="list-unstyled d-flex flex-column gap-2">
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn" x-bind:class="currentTheme === '/css/b4_chaos1.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_chaos1.css')">
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/customB4.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/customB4.css')">Chaos</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn" x-bind:class="currentTheme === '/css/b4_wdx1.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_wdx1.css')">
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_wdx.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_wdx.css')">WDX</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn" x-bind:class="currentTheme === '/css/b4_rc1.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_rc1.css')">
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_rc.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_rc.css')">Rothchild</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn btn-outline-warning" disabled>
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_flower1.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_flower1.css')">Red rose</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn btn-outline-warning" disabled>
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_flower.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_flower.css')">Black Rose</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn " x-bind:class="currentTheme === '/css/b4_quilter.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_quilter.css')">
                          <i class="fa-solid fa-dog-leashed"></i>
                        </button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_quilter.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_quilter.css')">Quilter</button>
                      </div>
                    </li>
                    <li class="d-flex gap-1">
                      <div class="btn-group" role="group" aria-label="Basic example">

                        <button class="btn" x-bind:class="currentTheme === '/css/b4_charles1.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_charles1.css')"><i class="fa-solid fa-dog-leashed"></i></button>
                        <button class="btn" x-bind:class="currentTheme === '/css/b4_charles.css' ? 'btn-success' : 'btn-outline-light'" x-on:click="changeTheme('/css/b4_charles.css')">Charles</button>
                      </li>
                    </ul>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </side>
      </div>
    </div>
  {{ end }}
{{ end }}
