{{ $single := 1 }}
{{ if $single }}
  <div
    class="
    {{ if .zIndex }}fixed top-0{{ end }}
    z-[1000] flex w-full flex-col justify-center bg-green-100
    ">
    <a
      href="/dashboards/"
      class="mx-auto hidden w-full justify-between rounded-sm bg-blue-100 px-2 py-0 text-[11px] text-white 2xl:flex 2xl:max-w-[1536px] 2xl:bg-red-500">
      <span> 2XL 1536 </span>
      <span> go to dashboard </span>
    </a>
    <a
      href="/dashboards/"
      class="mx-auto hidden w-full justify-between rounded-sm bg-blue-100 px-2 py-0 text-[11px] text-white xl:flex xl:max-w-[1280px] xl:bg-orange-500 2xl:hidden">
      <span> XL 1280 </span>
      <span> go to dashboard </span>
    </a>
    <a
      href="/dashboards/"
      class="mx-auto hidden w-full justify-between rounded-sm bg-blue-100 px-2 py-0 text-[11px] text-white lg:flex lg:max-w-[1024px] lg:bg-yellow-500 xl:hidden">
      <span> LG 1024 </span>
      <span> go to dashboard </span>
    </a>
    <a
      href="/dashboards/"
      class="mx-auto hidden w-full justify-between rounded-sm bg-blue-100 px-2 py-0 text-[11px] text-white md:flex md:max-w-[768px] md:bg-lime-500 lg:hidden">
      <span> MD 768 </span>
      <span> go to dashboard </span>
    </a>
    <a
      href="/dashboards/"
      class="mx-auto hidden w-full justify-between rounded-sm bg-blue-100 px-2 py-0 text-[11px] text-white sm:flex sm:max-w-[640px] sm:bg-green-500 md:hidden">
      <span> SM 640 </span>
      <span> go to dashboard </span>
    </a>
    <a
      href="/dashboards/"
      class="mx-auto flex w-full justify-between rounded-sm bg-blue-500 px-2 py-0 text-[11px] text-white sm:hidden sm:max-w-[100px] sm:bg-blue-100">
      <span> default 100 </span>
      <span> go to dashboard </span>
    </a>
  </div>
{{ else }}
  <div class="flex w-full flex-col justify-center">
    <a
      href="/dashboards/"
      class="mx-auto flex w-full justify-center bg-blue-100 py-0 text-[11px] text-white 2xl:max-w-[1536px] 2xl:bg-green-600">
      2XL 1536
    </a>
    <div
      class="mx-auto flex w-full justify-center bg-blue-100 py-0 text-[11px] text-white xl:max-w-[1280px] xl:bg-green-500">
      XL 1280
    </div>

    <div
      class="mx-auto flex w-full justify-center bg-blue-100 py-0 text-[11px] text-white lg:max-w-[1024px] lg:bg-green-400">
      LG 1024
    </div>
    <div
      class="mx-auto flex w-full justify-center bg-blue-100 py-0 text-[11px] text-white md:max-w-[768px] md:bg-green-300">
      MD 768
    </div>
    <div
      class="mx-auto flex w-full justify-center bg-blue-100 py-0 text-[11px] text-white sm:max-w-[640px] sm:bg-green-200">
      SM 640
    </div>

    <div
      class="mx-auto flex w-full justify-center bg-green-100 py-0 text-[11px] text-white sm:max-w-[100px] sm:bg-blue-100">
      default 100
    </div>
  </div>
{{ end }}
