<div class="bg-info-110 dark:bg-info-710 w-full">
  <div
    class=" mx-auto flex w-full justify-center pt-4 sm:max-w-[640px] md:max-w-[768px]
  lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px]">
    <div
      x-data="filters()"
      @reset="reset = $event.detail.reset, filterCounter = 0">
      {{/* <ul class="px-2" x-show="dev">
        <li class="py-3">
        filterCounter:
        <span x-text="filterCounter"></span>
        </li>
        <li class="py-3">
        resetCounter:
        <span x-text="resetCounter"></span>
        </li>
        <li class="py-3">
        reset:
        <span x-text="reset"></span>
        </li>
        </ul>
      */}}


      <div class="text-info"></div>
      <div class="flex items-center">
        <div class="flex items-start">
          {{ range $index, $filter := $.Site.Data.filters.filters }}
            <div
              class="{{ if $index }}
                ml-3
              {{ end }} mb-3"
              x-ref="myFilter"
              class="myFilters"
              x-data="{
                            show: false,
                            counter: 0,
                            }
                            "
              @reset.window="counter = 0">
              <button
                id="dropdownDefault"
                data-dropdown-toggle="dropdown"
                x-on:click="open"
                type="button"
                class="text-info-800 dark:text-info-200 dark:bg-info-500 flex min-h-[3rem] items-center justify-between rounded-md bg-white px-4 py-2">
                {{ .title }}
                <span
                  x-show="counter"
                  x-text="counter"
                  class="bg-success-100 text-success-700 card-pills--counter ml-2 rounded-md px-2 py-1 text-sm"></span>
                <i
                  class="fal fa-angle-down text-info-700 dark:text-info-300  pl-3"></i>
              </button>
              <div
                x-show="isOpen()"
                x-on:click.away="close"
                class="w-46 shadow-info-55 absolute z-10 divide-y divide-gray-100 overflow-hidden rounded-md bg-white shadow-lg dark:bg-gray-700"
                data-popper-placement="bottom">
                <ul
                  class=" text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDefault">
                  {{ range .values }}
                    <li
                      x-data="{ 
                                      checked: false
                                  }"
                      @reset.window="checked = false">
                      <button
                        @click="count"
                        class="hover:bg-info-40 hover:text-info-700 group flex w-full items-center justify-between px-4 py-2 dark:hover:bg-gray-600 dark:hover:text-white">
                        {{ . }}
                        <i
                          :class="
                            checked ? 'text-info-300' : 'text-gray-600'
                          "
                          class="far fa-check pl-4 group-hover:text-white"></i>
                      </button>
                    </li>
                  {{ end }}

                </ul>
              </div>
            </div>
          {{ end }}


          <div>
            <button
              @click="$dispatch( 'reset', { reset : !reset } )"
              x-show="filterCounter"
              class="text-info-800 dark:text-info-200 dark:bg-info-600 mb-3 ml-4 flex min-h-[3rem] items-center justify-between rounded-md bg-white px-4 py-2">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function filters() {
    return {
      // dev: false,
      filterCounter: 0,
      reset: false,
      resetCounter: false,
      open() {
        this.show = true;
      },
      close() {
        this.show = false;
      },

      isOpen() {
        return this.show === true;
      },

      count() {
        this.show = false;
        this.checked = !this.checked;
        if (this.checked) {
          this.counter = this.counter + 1;
          this.filterCounter = this.filterCounter + 1;
        } else if (!this.checked) {
          this.counter = this.counter - 1;
          this.filterCounter = this.filterCounter - 1;
        }
      },
    };
  }
</script>
