<div class="bg-info-110 dark:bg-info-710 w-full pt-8">
  <div
    class="mx-auto flex w-full justify-center sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px]
   xl:max-w-[1280px] 2xl:max-w-[1536px]">
    <form class="flex w-full px-4" role="search">
      <div class="relative mx-auto w-full sm:w-[initial]">
        <i
          class="fas fa-search text-info-200 absolute top-1/2 left-3 -translate-y-1/2 transform pl-1"></i>
        <input
          type="search"
          accesskey="F"
          class="dark:bg-info-690 dark:border-info-600 border-info-200 mx-auto w-full rounded-full bg-white pl-11 text-gray-500 placeholder-gray-400 dark:text-white md:w-[30rem]"
          value=""
          placeholder="Search"
          aria-label="Search"
          name="q"
          autocomplete="off"
          spellcheck="false" />
      </div>
    </form>
  </div>
</div>
