<div class="bg-info-110 dark:bg-info-710 w-full ">
  <div
    class="
        mx-auto flex w-full flex-col justify-center pt-4 pb-8
         sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px]">
    <div
      class="table-grid shadow-info-55 overflow-hidden  rounded-md bg-white shadow-md">
      <div
        class="grid-cols-tableCta grid gap-3 text-gray-600 dark:text-gray-500">
        <div class="flex items-end p-3 font-bold"></div>
        <div class="flex items-end p-3 font-bold">Name</div>
        <div class="flex items-end p-3 font-bold">Contact Type</div>
        <div class="flex items-end p-3 font-bold">Moodys Industry</div>
        <div class="flex items-end p-3 font-bold">Last Contacted</div>
        <div class="flex items-end p-3 font-bold">Last Face Meeting</div>
        <div class="flex items-end p-3 font-bold">Stage</div>
        <div class="flex items-end justify-end p-3 font-bold">Assets</div>
      </div>
      {{ range $index, $result := $.Site.Data.results.results }}
        <div
          class="grid-cols-tableCta dark:bg-info-600 grid gap-3 bg-white text-gray-700 dark:text-gray-300">
          <div class="name p-3 font-bold">
            <i
              class="fal fa-angle-down text-info-300 dark:text-info-300 pr-3"></i>
          </div>

          <div class="name text-info-400 dark:text-info-300 p-3 font-bold">
            {{ if .name }}
              {{ .name }}
            {{ end }}
          </div>
          <div class="contactType p-3 ">
            {{ if .contactType }}
              {{ .contactType }}
            {{ end }}
          </div>
          <div class="moodysIndustry p-3 ">
            {{ if .moodysIndustry }}
              {{ .moodysIndustry }}
            {{ end }}
          </div>
          <div class="lastContacted p-3 ">
            {{ if .lastContacted }}
              {{ .lastContacted }}
            {{ end }}
          </div>
          <div class="lastFacemeetings p-3 ">
            {{ if .lastFacemeetings }}
              {{ .lastFacemeetings }}
            {{ end }}
          </div>
          <div class="stage p-3 ">
            {{ if .stage }}
              {{ .stage }}
            {{ end }}
          </div>
          <div class="assets p-3  text-right">
            {{ if .assets }}
              £
              {{ .assets }}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
