<div
  x-data="{
  openTab: 0,
  activeClasses: 'border-info-400 dark:border-info-6100 dark:bg-info-710 bg-info-110 text-info-700 dark:text-info-200',
  inactiveClasses: 'border-info-190 dark:border-info-600 dark:bg-info-800 bg-white text-gray-400 dark:text-info-390 bg-opacity-80 bg-white from-info-190 dark:from-info-700 ',
}"
  class="mt-6 flex w-full flex-col justify-center">
  <div class="bg-info-45 dark:bg-infoDark-45 block px-4 pt-4 sm:hidden">
    <label for="tabs" class="xsr-only text-info-700 pb-2">Select section</label>
    <select
      id="tabs"
      name="tabs"
      x-model="openTab"
      class="border-info-300 block w-full rounded-md ">
      {{ range $indexForm, $form := $.Site.Data.tabs.tabs_RelationshipManager_Tasks }}
        <option value="{{ $indexForm }}">{{ .title }}</option>
      {{ end }}
    </select>
  </div>
  <div class="mx-auto hidden sm:flex">
    <nav class="flex flex-wrap justify-center" aria-label="Tabs">
      {{ range $indexForm, $form := $.Site.Data.tabs.tabs_RelationshipManager_Tasks }}
        <button
          @click="openTab = {{ $indexForm }}"
          :class="openTab === {{ $indexForm }} ? activeClasses : inactiveClasses"
          aria-current="page"
          class="dark:hover:border-infoDark-100 hover:border-info-200 dark:hover:text-info-410 hover:text-info-700 ml-[3px] cursor-pointer rounded rounded-b-none rounded-t-md border border-x-0 border-t-2 border-b-0 bg-gradient-to-b py-3 px-4">
          {{ .title }}
        </button>
      {{ end }}
    </nav>
  </div>
  <div>
    <div x-show="openTab == 0" class="">
      {{ partial "blocks/numbers.html" (dict "bg" true "numbers" $.Site.Data.numbers.numbers ) }}
      {{ partial "blocks/users.html" . }}
    </div>
    <div x-show="openTab == 1" class="">
      {{ partial "blocks/search.html" . }}
      {{ partial "blocks/filters.html" . }}
      {{ partial "blocks/table.html" . }}
    </div>
    <div x-show="openTab == 2" class="">
      {{ partial "blocks/card-pills.html" (dict "bg" true ) }}
    </div>
    <div x-show="openTab == 3" class="">
      {{ partial "blocks/search.html" . }}
      {{ partial "blocks/table.html" . }}
    </div>
    <div
      x-show=" openTab == 4 || openTab == 5 || openTab == 6 || openTab == 7 "
      class="">
      {{ partial "blocks/search.html" . }}
      {{ partial "blocks/filters.html" . }}
      {{ partial "blocks/table.html" . }}
    </div>
  </div>
</div>
