{{ $min := .min }}
{{ $max := .max }}
{{ if .min }}

{{ end }}
<div class="container-fluid">
  <div class="row">
    <div class="col pt-3">
      {{ if $min }}
        <div class="alert alert-success" role="alert">
      {{ else if $max }}
        <div class="alert alert-warning" role="alert">
      {{ end }}
        this is {{.tilesCount }} col with min {{ .min }} characters</div>
    </div>
  </div>
</div>
<div class="container-fluid py-4">
    <h2 class="h5">
        <strong> My Activities & Actions Overview </strong>
    </h2>
    {{ if .min }}
      {{ if eq .min 14 }}
        <div class="tiles tiles__min14">
      {{ else if eq .min 16 }}
        <div class="tiles tiles__min16">
      {{ else if eq .min 18 }}
        <div class="tiles tiles__min18">
      {{ else if eq .min 20 }}
        <div class="tiles tiles__min20">
      {{ else if eq .min 22 }}
        <div class="tiles tiles__min22">
      {{ else if eq .min 24 }}
        <div class="tiles tiles__min24">
      {{ else if eq .min 26 }}
        <div class="tiles tiles__min26">
      {{ else if eq .min 28 }}
        <div class="tiles tiles__min28">
      {{ else if eq .min 30 }}
        <div class="tiles tiles__min30">
      {{ end }}
    {{ end }}
    {{ if .max }}
      {{ if eq .max 1 }}
          <div class="tiles tiles__max1">
      {{ else if eq .max 2 }}
          <div class="tiles tiles__max2">
      {{ else if eq .max 3 }}
          <div class="tiles tiles__max3">
      {{ else if eq .max 4 }}
          <div class="tiles tiles__max4">
      {{ else if eq .max 5 }}
          <div class="tiles tiles__max5">
      {{ else if eq .max 6 }}
          <dbr class="tiles tiles__max6">
      {{ else if eq .max 7 }}
          <div class="tiles tiles__max7">
      {{ else if eq .max 8 }}
          <div class="tiles tiles__max8">
      {{ end }}
    {{ end }}
    {{ range first .tilesCount .tiles }}
      <div class="tile card">
        <div class="card-header tile--header d-flex text-white">
          <span class="trim card--title mr-2">
            <b>
              {{ .title }}
            </b>
          </span>
        </div>
        <ul class="list-group list-group-flush">
          {{ range .items }}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="trim mr-2" title="{{ .title }}">
                <!--
                    {{ len .title }} |
                 -->
                {{ .title }}
              </span>
              {{ if lt (int .count) 50 }}
                {{ if gt (int .count) 10 }}
                  <span class="badge badge-primary badge-pill">
                    {{ int .count }}
                  </span>
                {{ end }}
              {{ end }}

              {{ if gt (int .count) 50 }}
                <span class="badge badge-warning badge-pill text-black">+50</span>
              {{ end }}
              {{ if eq (int .count) 0 }}
                <span class="badge badge-light badge-pill text-black-50">{{ .count }}</span>
              {{ end }}
              {{ if lt (int .count) 0 }}
                <span class="badge badge-danger badge-pill">-{{ mul -1 .count }}</span>
              {{ else if lt .count 10 }}
                {{ if gt (int .count) 0 }}
                  <span class="badge badge-success badge-pill">{{ .count }}</span>
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>