{{/* <div>
  <div class="flex items-center justify-between percentage">
  <div class="px-3">
  <p class="font-bold">Commodities</p>
  <p class="text-gray-400">Winton Commodity Fund</p>
  </div>
  <div class="relative flex items-center justify-center percentage--circle">
  <svg class="rotate-[-90deg]" style="--percentage: 40">
  <circle class="text-info-300" cx="25" cy="25" r="25"></circle>
  <circle class="text-green-300" cx="25" cy="25" r="25"></circle>
  </svg>
  <div class="flex items-center justify-center text-sm percentage--value">
  40%
  </div>
  </div>
  </div>
  </div>
  */}}

{{/* https://codepen.io/QJan84/pen/zYvRMMw */}}


<div class="w-full py-8 bg-info-110 dark:bg-info-710" x-data="{ selected: 0 }">
  <div
    class="mx-auto w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px]">
    {{ range $indexUser, $user := $.Site.Data.users.users }}
      <div
        class="mx-3 mb-6 bg-white rounded-md shadow-md dark:bg-info-890 users shadow-info-55 xoverflow-hidden sm:mx-0 dark:shadow-black">
        <div
          class="users--head grid w-full grid-cols-[1fr] grid-rows-[auto] border-b sm:border-b-0 sm:grid-cols-[1fr_1fr] lg:grid-cols-[14rem_minmax(14rem,_1fr)_minmax(16rem,_1fr)_4.5rem] xl:grid-cols-[14rem_minmax(14rem,_1fr)_minmax(42rem,_1fr)_4.5rem] 2xl:grid-cols-[14rem_minmax(14rem,_1fr)_minmax(45rem,_1fr)_4.5rem]">
          <div
            class="flex items-center justify-center h-full py-3 pl-4 pr-4 text-center users--primaryInfo sm:justify-start sm:border-b sm:text-left md:border-b md:pb-3 lg:border-0 lg:pb-4 xl:justify-start ">
            <div>
              <div class="text-xl text-info-400 dark:text-info-300 sm:text-base">
                {{ .name }}
                {{/* <strong x-text="selected"></strong> */}}
              </div>
              <div class="text-2xl font-bold text-gray-700 dark:text-gray-300 sm:text-xl">
                {{ .val }}
              </div>
            </div>
          </div>
          <div
            class="flex items-center justify-center h-full py-3 pr-4 text-center users--secondaryInfo sm:justify-end sm:border-b sm:text-right md:border-b md:pb-3 lg:justify-start lg:border-0 lg:pb-4 lg:text-left">
            <div>
              <div class="text-gray-600 dark:text-gray-300">
                client since
                {{ .since }}
              </div>
              <div>
                <span class="text-info-400">
                  {{ .agent.name }}
                </span>
                <span class="text-sm italic text-info-400"
                  >({{ .agent.position }})</span
                >
              </div>
            </div>
          </div>
          <div
            class="users--notifications col-[1_/_-1] grid w-full grid-cols-3 py-4 lg:col-[3_/_4] lg:row-[1_/_2]">
            {{ range $index, $notification := .notifications }}
              <div
                class="flex flex-col items-center lg:justify-center xl:flex-row xl:justify-center">
                <div
                  class="relative h-[3.6rem] w-[3.6rem] min-w-[3.6rem] rounded-full bg-gray-100 dark:bg-info-710">
                  {{ if eq .icon "cube" }}
                    <i
                      class="fas text-gray-500 dark:text-info-400 fa-cubes absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] text-2xl"></i>
                  {{ else if eq .icon "folder" }}
                    <i
                      class="fas text-gray-500 dark:text-info-400 fa-folder-open absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] text-2xl"></i>
                  {{ else if eq .icon "bell" }}
                    <i
                      class="fas text-gray-500 dark:text-info-400 fa-bell absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] text-2xl"></i>
                  {{ end }}


                  <span
                    class="
                      {{ if eq .title "Notifications" }}
                      bg-danger-500 text-danger-50
                    {{ else }}
                      bg-info-390 dark:bg-info-500 text-info-100 dark:text-info-100
                    {{ end }}
                     absolute top-[-.2rem] right-[-.5rem] flex h-[1.5rem] w-[1.5rem] items-center justify-center rounded-full text-sm">
                    {{ .count }}
                  </span>
                </div>
                <div
                  class="w-full px-4 pl-3 text-sm text-center grow xl:text-left dark:text-white opacity-70">
                  {{ .title }}
                </div>
              </div>
            {{ end }}
          </div>
          <div
            class="users--mainCta .row-[2_/_3] xmd:row-[3_/_4] col-[1_/_-1] flex items-center justify-center lg:col-[4_/_5] lg:items-start lg:justify-center lg:border-b xl:border-b-0 lg:py-4 lg:pr-3 lg:pb-4">
            
            <button
              @click="selected !== {{ $indexUser }} ? selected = {{ $indexUser }}
               : selected = null"
              class="lg:bg-info-110 dark:lg:bg-info-700 w-full items-center justify-center overflow-hidden lg:flex lg:h-[3.6rem] lg:w-[3.6rem] lg:rounded-full"
              :class="selected != {{ $indexUser }} ? '' : 'hidden'">
              <i
                class="text-2xl transition-all duration-300 far fa-angle-down text-info-400 dark:text-info-410"
                :class="selected == {{ $indexUser }} ? 'rotate-180' : ''"></i>
            </button>
          </div>
        </div>
        <div
          class="relative overflow-hidden transition-all duration-300 rounded-b-md users--body max-h-0"
          x-ref="container{{ $indexUser }}"
          x-bind:style="selected == {{ $indexUser }} ? 'max-height: ' + $refs.container{{ $indexUser }}.scrollHeight + 'px' : ''">
          <div
            class="users--details grid h-full w-full grid-rows-[auto] sm:grid-cols-1 lg:grid-cols-[.7fr_.3fr] xl:grid-cols-[.7fr_.3fr]">
            <div class="col-[1_/_-1] lg:col-[1_/_2]">
              {{ range $index, $services := .services }}
                <div class="flex flex-col justify-between border-b hover:bg-info-100 dark:hover:bg-info-800 dark:border-info-690 last:border-0 md:flex-row">
                  <div class="px-4 pt-4 body--primaryInfo grow">
                    <div class="flex gap-4">
                      {{ range $index, $services := .services }}
                        <div class="font-bold text-gray-800 dark:text-gray-300">
                          {{ .name }}
                        </div>
                      {{ end }}
                    </div>
                    <div class="flex gap-4 py-6 md:py-3">
                      <span class="font-bold text-info-400 xtext-xl">
                        {{ .assets }}
                      </span>

                      <div>
                        <span class="text-gray-800 dark:text-gray-400">
                          {{ .agent.name }}
                        </span>
                        <span class="text-sm italic text-info-400"
                          >({{ .agent.position }})</span
                        >
                      </div>
                    </div>
                    <div class="flex pb-4">
                      {{ range $index, $updates := .updates }}
                        <div class="flex flex-col mr-4">
                          <div class="text-sm text-gray-500">
                            {{ .timeFrame }}
                          </div>
                          <div class="flex items-center pt-3">
                            <i
                              class="flex mr-2 text-xl far fa-arrow-alt-circle-up text-success-400"></i>
                            {{ .change }}
                          </div>
                        </div>
                      {{ end }}
                    </div>
                  </div>
                  <div
                    class="flex justify-between px-4 py-3 text-gray-500 body--secondaryInfo bg-info-40 grow md:bg-transparent md:py-4 lg:justify-end ">
                    <div class="flex">
                      <span class="pr-2">{{ .since }}</span>
                      {{ if eq .active true }}
                        <span>
                          <span
                            class="flex items-center px-2 rounded-md bg-success-100 dark:bg-success-900 text-success-700 dark:text-success-600">
                            Active
                          </span>
                        </span>
                      {{ else if eq .active false }}
                        <span>
                          <span
                            class="flex items-center px-2 rounded-md bg-danger-100 dark:bg-danger-900 text-danger-700 dark:text-danger-400">
                            Inactive
                          </span>
                        </span>
                      {{ end }}
                    </div>
                    <a class="px-0 underline text-info-700 dark:text-info-400 md:px-2">More</a>
                  </div>
                </div>
              {{ end }}
            </div>
            <div class="bg-info-410 dark:bg-info-690 p-4 text-white lg:col-[2_/_3]">
              <div class="px-3">Recommadations</div>
              <div>
                {{ range $indexRecommadation,  $recommadation := .recommandations }}
                  <div
                    class="flex items-center justify-between py-3 percentage">
                    <div class="px-3">
                      <p class="font-bold dark:text-info-400">{{ .title }}</p>
                      <p class="text-info-100 dark:text-gray-400">
                        {{ .description }}
                      </p>
                    </div>
                    <div
                      class="relative flex items-center justify-center percentage--circle">
                      <svg
                        class="rotate-[-90deg]"
                        style="--percentage: {{ .value }}">
                        <circle
                          class="text-info-300 dark:text-info-500"
                          cx="25"
                          cy="25"
                          r="25"></circle>
                        <circle
                          class="text-green-300 dark:text-green-410"
                          cx="25"
                          cy="25"
                          r="25"></circle>
                      </svg>
                      <div
                        class="flex items-center justify-center text-sm percentage--value">
                        {{ .value }}%
                      </div>
                    </div>
                  </div>
                {{ end }}

              </div>
            </div>
          </div>
        </div>
        <button
          @click="selected !== {{ $indexUser }} ? selected = {{ $indexUser }} : selected = null"
          :class="selected == {{ $indexUser }} ? '' : 'hidden'"
          class="flex items-center justify-center w-full lg:bg-info-45 lg:hidden">
          <i class="text-2xl rotate-180 far fa-angle-down text-info-700"></i>
        </button>
      </div>
    {{ end }}
  </div>
</div>
