<div class="w-full py-8" x-data="{ selected: 0 }">
  <div
    class="
  mx-auto flex w-full flex-col justify-center sm:max-w-[640px] md:max-w-[768px]
   lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1536px]">
    <div
      class="user grid h-full gap-4 sm:grid-cols-2 lg:grid-cols-[1fr_1.2fr_1.2fr] lg:grid-rows-[auto_1fr] xl:grid-cols-4">
      <div
        class="user--primaryInfo dark:sm:bg-info-710 sm:bg-info-100 dark:sm:shadow-black sm:shadow-info-190 mx-4 flex items-center justify-center rounded-md sm:shadow md:mx-0 lg:row-[1_/_-1] dark:text-infoDark-700">
        <div class="">
          <div class="mt-4 text-center image">
            <img
              src="/img/face-1.gif"
              alt=""
              class="mx-auto mb-3 h-[80px] w-[80px] rounded-full object-cover" />
          </div>
          <span class="text-xl font-bold text-info-800 dark:text-info-300">
            {{ .user.name }}
          </span>
          <div class="flex items-center justify-center pt-3 text-sm">
            <i
              class="mr-2 text-lg fas fa-arrow-alt-circle-up text-success-400 dark:text-success-800"></i>
            <span class="pr-1 font-bold"> Net Worh: </span>
            <span class="dark:text-white">
              {{ .user.netWorth }}
            </span>
          </div>
        </div>
      </div>
      <div
        class="user--secondaryInfo bg-re-300 h-100 mb-4 flex flex-col items-center justify-center gap-3 sm:mb-0 lg:col-[2_/_-1] lg:flex-row xl:col-[2_/_3] xl:row-[1_/_-1] xl:flex-col">
        {{ range $indexFeature, $feature := .user.features }}
          <div
            class="
              {{ if eq .level "1" }}
              bg-success-50 dark:bg-success-900
            {{ else if eq .level "2" }}
              bg-warning-50  dark:bg-warning-900
            {{ else if eq .level "3" }}
              bg-danger-50  dark:bg-danger-900
            {{ else }}
              bg-danger-500  dark:bg-danger-900
            {{ end }}
              cardFeature dark:shadow-info-710 shadow-info-190 w-full max-w-[18rem] rounded-md py-2 shadow md:max-w-[initial]
            ">
            <div class="flex items-center justify-start">
              <div class="">
                <i
                  class="
                  {{ if eq .level "1" }}
                    text-success-400 dark:text-success-600
                  {{ else if eq .level "2" }}
                    text-warning-400 dark:text-warning-600
                  {{ else if eq .level "3" }}
                    text-danger-400 rotate-180 dark:text-danger-600
                  {{ end }}
                  fas fa-arrow-alt-circle-up mx-4 text-3xl"></i>
              </div>
              <div class="flex flex-col pr-6">
                <span
                  class="
                  {{ if eq .level "1" }}
                    text-success-600 dark:text-success-500
                  {{ else if eq .level "2" }}
                    text-warning-600 dark:text-warning-500
                  {{ else if eq .level "3" }}
                    text-danger-600 dark:text-danger-400
                  {{ end }}
                  font-bold">
                  {{ .title }}
                </span>
                <span class="dark:text-success-50">
                  {{ .value }}
                </span>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div
        class="user--tertiaryInfo flex lg:col-[2_/_3] lg:row-[2_/_3] xl:col-[3_/_4] xl:row-[1_/_-1]">
        <div class="flex flex-col px-4 grow">
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <span class="font-bold text-gray-400 dark:text-info_gray-400">Mobile</span>
            <span>
              <a href="#" class="underline text-info-310 dark:text-info-310">
                {{ .user.mobile }}
              </a>
            </span>
          </div>
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <span class="font-bold text-gray-400 dark:text-info_gray-400">Phone</span>
            <span>
              <a href="#" class="underline text-info-310 dark:text-info-310">
                {{ .user.phone }}
              </a>
            </span>
          </div>
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <span class="font-bold text-gray-400 dark:text-info_gray-400">Nationality</span>
            <span class="dark:text-white">{{ .user.nationality }}</span>
          </div>
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <span class="font-bold text-gray-400 dark:text-info_gray-400">Country</span>
            <span class="dark:text-white">{{ .user.country }}</span>
          </div>
        </div>
      </div>
      <div class="flex user--tertiaryInfo">
        <div class="flex flex-col px-4 grow">
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <div>
              <i class="mr-1 fas fa-comments-alt text-warning-400 "></i>
              <span class="pr-3 font-bold text-warning-600 dark:text-warning-500" 4
                >Last contacted</span
              >
            </div>
            <span class="text-warning-600 dark:text-warning-500">
              {{ .user.lastContacted }}
            </span>
          </div>
          <div class="grid py-2 grid-cols-flexDoubleCol lg:py-1">
            <div>
              <i class="mr-1 text-gray-300 fas fa-calendar-check dark:text-gray-600 "></i>
              <span class="pr-4 font-bold text-gray-400 dark:text-info_gray-400"
                >Next Meeting Date</span
              >
            </div>
            <span class="dark:text-white">
              {{ .user.nextMeetingDate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
