.fad {
  // wdx
  --fa-primary-color: #3c8294; // 500
  --fa-secondary-color: #62adb8; // 400
}

body {
  border: 10px solid blue;
}

$primary: #4b8d8b;
$secondary: #9ed8d0;
$tertiary: #fad8d9;
$highlight: #335669;
$success: #4b8d8b;
$info: #6c757d;
$warning: #ebcb9a;
$danger: #f15e5f;
