<div class="ml-3" x-data="lang()" class="relative">
  <button
    x-on:click="open = !open"
    @click.away="open = false"
    class="bg-client-100 flex items-center rounded-md px-3 py-2">
    <i class="far fa-globe text-client-700"></i>
    <span class="text-client-800 px-2 text-sm">EN</span>
    <i class="far fa-angle-down text-client-800"></i>
  </button>
  <div
    x-show="open"
    x-on:click.away="close"
    data-popper-placement="bottom"
    class="w-46 shadow-client-300 absolute z-10 overflow-hidden rounded-md bg-white shadow-md">
    <ul
      class=" border-b text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownDefault">
      <li>
        <button
          class="hover:bg-client-200 hover:text-client-900 group flex w-full items-center justify-start px-4 py-2 hover:bg-opacity-30 dark:hover:bg-gray-600 dark:hover:text-white">
          <img
            src="https://flagcdn.com/fr.svg"
            width="30"
            class="mr-3"
            alt="fr" />
          Franch
        </button>
      </li>
      <li>
        <button
          class="hover:bg-client-200 hover:text-client-900 group flex w-full items-center justify-start px-4 py-2 hover:bg-opacity-30 dark:hover:bg-gray-600 dark:hover:text-white">
          <img
            src="https://flagcdn.com/de.svg"
            width="30"
            class="mr-3"
            alt="de" />
          Dutch
        </button>
      </li>
      <li>
        <button
          class="hover:bg-client-200 hover:text-client-900 group flex w-full items-center justify-start px-4 py-2 hover:bg-opacity-30 dark:hover:bg-gray-600 dark:hover:text-white">
          <img
            src="https://flagcdn.com/es.svg"
            width="30"
            class="mr-3"
            alt="es" />
          Spanish
        </button>
      </li>
      <li>
        <button
          class="hover:bg-client-200 hover:text-client-900 group flex w-full items-center justify-start px-4 py-2 hover:bg-opacity-30 dark:hover:bg-gray-600 dark:hover:text-white">
          <img
            src="https://flagcdn.com/it.svg"
            width="30"
            class="mr-3"
            alt="it" />Italian
        </button>
      </li>
      <li>
        <button
          class="hover:bg-client-200 hover:text-client-900 group flex w-full items-center justify-start px-4 py-2 hover:bg-opacity-30 dark:hover:bg-gray-600 dark:hover:text-white">
          <img
            src="https://flagcdn.com/ro.svg"
            width="30"
            class="mr-3"
            alt="ro" />Romanian
        </button>
      </li>
    </ul>
  </div>
</div>

<script>
  function lang() {
    return {
      open: false,
    };
  }
</script>
